src/flows/CSI_Local_Survey_After_Sales_Process-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>N</name>
        <choiceText>{!Label_For_No}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_For_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Select</name>
        <choiceText>{!Label_for_select}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_select</elementReference>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>{!Label_for_one}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_one</elementReference>
        </value>
    </choices>
    <choices>
        <name>X10</name>
        <choiceText>{!Label_for_ten}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_ten</elementReference>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>{!Label_for_two}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_two</elementReference>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>{!Label_for_three}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_three</elementReference>
        </value>
    </choices>
    <choices>
        <name>X4</name>
        <choiceText>{!Label_for_four}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_four</elementReference>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>{!Label_for_five}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_five</elementReference>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>{!Label_for_six}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_six</elementReference>
        </value>
    </choices>
    <choices>
        <name>X7</name>
        <choiceText>{!Label_for_seven}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_seven</elementReference>
        </value>
    </choices>
    <choices>
        <name>X8</name>
        <choiceText>{!Label_for_eight}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_eight</elementReference>
        </value>
    </choices>
    <choices>
        <name>X9</name>
        <choiceText>{!Label_for_nine}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_nine</elementReference>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>{!Label_For_Yes}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_For_Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Start_CSI_Local_Survey_After_Sales_Process</name>
        <label>Start CSI Local Survey After Sales Process</label>
        <locationX>85</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Label_for_eight</name>
        <dataType>String</dataType>
        <expression>{!$Label.Eight}</expression>
    </formulas>
    <formulas>
        <name>Label_for_five</name>
        <dataType>String</dataType>
        <expression>{!$Label.Five}</expression>
    </formulas>
    <formulas>
        <name>Label_for_four</name>
        <dataType>String</dataType>
        <expression>{!$Label.Four}</expression>
    </formulas>
    <formulas>
        <name>Label_for_nine</name>
        <dataType>String</dataType>
        <expression>{!$Label.Nine}</expression>
    </formulas>
    <formulas>
        <name>Label_For_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_for_one</name>
        <dataType>String</dataType>
        <expression>{!$Label.One}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q1_Satisfied_with_initiating_the_service_visit}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q10</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q10_Were_you_contacted_by_your_Mercedes_Benz_service}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Satisfied_with_Service_advisor_Dealer_staffs}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q3_Satisfied_with_aftersales_facility}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Satisfied_with_vehicle_pickup_process}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q5_Satisfied_with_service_quality}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q6</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q6_Satisfied_with_building_up_relationship_to_customer}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q7</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q7_Satisfied_with_Overall_service_experience}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q8</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q8_Would_you_go_back_to_the_service_center}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q9</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q9_Would_you_recommend_this_service_center}</expression>
    </formulas>
    <formulas>
        <name>Label_for_rating</name>
        <dataType>String</dataType>
        <expression>{!$Label.Rating}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Rating1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Rating1}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Rating_reason</name>
        <dataType>String</dataType>
        <expression>{!$Label.Rating_reason}</expression>
    </formulas>
    <formulas>
        <name>Label_for_select</name>
        <dataType>String</dataType>
        <expression>{!$Label.Select_dropdown}</expression>
    </formulas>
    <formulas>
        <name>Label_for_seven</name>
        <dataType>String</dataType>
        <expression>{!$Label.Seven}</expression>
    </formulas>
    <formulas>
        <name>Label_for_six</name>
        <dataType>String</dataType>
        <expression>{!$Label.Six}</expression>
    </formulas>
    <formulas>
        <name>Label_for_suggestion</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q9_Your_suggestion_Open_ended_question}</expression>
    </formulas>
    <formulas>
        <name>Label_for_SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_for_ten</name>
        <dataType>String</dataType>
        <expression>{!$Label.Ten}</expression>
    </formulas>
    <formulas>
        <name>Label_for_three</name>
        <dataType>String</dataType>
        <expression>{!$Label.Three}</expression>
    </formulas>
    <formulas>
        <name>Label_for_two</name>
        <dataType>String</dataType>
        <expression>{!$Label.Two}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <name>NA</name>
        <dataType>String</dataType>
        <expression>{!$Label.NA}</expression>
    </formulas>
    <label>CSI Local Survey After Sales Process</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create_Survey_Question_Response1</label>
        <locationX>98</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response10</name>
        <label>Create_Survey_Question_Response10</label>
        <locationX>718</locationX>
        <locationY>401</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Thankyou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q10_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response2</name>
        <label>Create_Survey_Question_Response2</label>
        <locationX>264</locationX>
        <locationY>277</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response3</name>
        <label>Create_Survey_Question_Response3</label>
        <locationX>409</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response4</name>
        <label>Create_Survey_Question_Response4</label>
        <locationX>577</locationX>
        <locationY>273</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response5</name>
        <label>Create_Survey_Question_Response5</label>
        <locationX>736</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response6</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response6</name>
        <label>Create_Survey_Question_Response6</label>
        <locationX>896</locationX>
        <locationY>273</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response7</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q6_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response7</name>
        <label>Create_Survey_Question_Response7</label>
        <locationX>1045</locationX>
        <locationY>274</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response8</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q7_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response8</name>
        <label>Create_Survey_Question_Response8</label>
        <locationX>1054</locationX>
        <locationY>393</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response9</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q8_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response9</name>
        <label>Create_Survey_Question_Response9</label>
        <locationX>887</locationX>
        <locationY>396</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response10</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q9_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>95</locationX>
        <locationY>148</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>260</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Rating</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!Label_For_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q1_rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q10</name>
        <label>Q10</label>
        <locationX>280</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Q10_Description</name>
            <fieldText>{!Label_For_Q10}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_Radio</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q10_suggestion</name>
            <fieldText>{!Label_for_suggestion}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_sugg</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>443</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Rating2</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>623</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Rating3</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Description</name>
            <fieldText>{!Label_For_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q3_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>799</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <fields>
            <name>Rating4</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Description</name>
            <fieldText>{!Label_For_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q4_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>970</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <fields>
            <name>Rating5</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Description</name>
            <fieldText>{!Label_For_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q5_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>978</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <fields>
            <name>Rating6</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Description</name>
            <fieldText>{!Label_For_Q6}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q6_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>797</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <fields>
            <name>Rating7</name>
            <fieldText>{!Label_for_rating}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Descrption</name>
            <fieldText>{!Label_For_Q7}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Select</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <choiceReferences>X4</choiceReferences>
            <choiceReferences>X5</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X7</choiceReferences>
            <choiceReferences>X8</choiceReferences>
            <choiceReferences>X9</choiceReferences>
            <choiceReferences>X10</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q7_Rating</name>
            <fieldText>{!Label_for_Rating_reason}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>628</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q9</targetReference>
        </connector>
        <fields>
            <name>Q8_Description</name>
            <fieldText>{!Label_For_Q8}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q8_suggestion</name>
            <fieldText>{!Label_for_suggestion}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_sugg</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>451</locationX>
        <locationY>149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q10</targetReference>
        </connector>
        <fields>
            <name>Q9_Description</name>
            <fieldText>{!Label_For_Q9}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Radio</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q9_suggestion</name>
            <fieldText>{!Label_for_suggestion}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_sugg</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>569</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SurveyCompleted</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#3399FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_for_SurveyCompleted}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_CSI_Local_Survey_After_Sales_Process</startElementReference>
    <textTemplates>
        <name>Q10_res</name>
        <text>{!Q10_Radio}  {!Q10_sugg}</text>
    </textTemplates>
    <textTemplates>
        <name>Q1_res</name>
        <text>{!Label_for_Rating1} - {!Q1_Radio}  {!Q1_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_res</name>
        <text>{!Label_for_Rating1} - {!Q2_Radio}  {!Q2_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q3_res</name>
        <text>{!Label_for_Rating1} - {!Q3_Radio}  {!Q3_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q4_res</name>
        <text>{!Label_for_Rating1} - {!Q4_Radio}  {!Q4_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q5_res</name>
        <text>{!Label_for_Rating1} - {!Q5_Radio}  {!Q5_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q6_res</name>
        <text>{!Label_for_Rating1} - {!Q6_Radio}  {!Q6_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q7_res</name>
        <text>{!Label_for_Rating1} - {!Q7_Radio}  {!Q7_reason}</text>
    </textTemplates>
    <textTemplates>
        <name>Q8_res</name>
        <text>{!Q8_Radio} {!Q8_sugg}</text>
    </textTemplates>
    <textTemplates>
        <name>Q9_res</name>
        <text>{!Q9_Radio} {!Q9_sugg}</text>
    </textTemplates>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
