src/main/metadata-excluded/flows/CustomerCare_Satisfaction-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Age_A</name>
        <choiceText>20-30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20-30</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_B</name>
        <choiceText>30-40</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30-40</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_C</name>
        <choiceText>40-50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>40-50</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_D</name>
        <choiceText>50-60</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-60</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_E</name>
        <choiceText>其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>汽车类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>汽车类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_A</name>
        <choiceText>A. 非常了解</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常了解</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_B</name>
        <choiceText>B. 了解</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>了解</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_C</name>
        <choiceText>C. 不是很清楚</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不是很清楚</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_D</name>
        <choiceText>D. 完全不了解</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>完全不了解</stringValue>
        </value>
    </choices>
    <choices>
        <name>EveryArticle</name>
        <choiceText>每篇文章都认真阅读</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>每篇文章都认真阅读</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasComment_A</name>
        <choiceText>A. 说明</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>说明</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasComment_B</name>
        <choiceText>B. 未说明</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未说明</stringValue>
        </value>
    </choices>
    <choices>
        <name>InteArticle</name>
        <choiceText>只阅读感兴趣的文章</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>只阅读感兴趣的文章</stringValue>
        </value>
    </choices>
    <choices>
        <name>Life</name>
        <choiceText>生活方式类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>生活方式类</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeverRead</name>
        <choiceText>不看杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不看杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoRead</name>
        <choiceText>完全不看</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>完全不看</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotSure</name>
        <choiceText>不确定</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不确定</stringValue>
        </value>
    </choices>
    <choices>
        <name>Once</name>
        <choiceText>一年1-2次</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一年1-2次</stringValue>
        </value>
    </choices>
    <choices>
        <name>People</name>
        <choiceText>人物</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>人物</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProTech</name>
        <choiceText>产品技术</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>产品技术</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_A</name>
        <choiceText>A. 客户</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 客户</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_B</name>
        <choiceText>B. 经销商</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 经销商</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_C</name>
        <choiceText>C. 厂家</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 厂家</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_D</name>
        <choiceText>D. 没注意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没注意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Race</name>
        <choiceText>赛车运动</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>赛车运动</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_1</name>
        <choiceText>A. 非常满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_2</name>
        <choiceText>B. 满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_3</name>
        <choiceText>C. 一般（问询不满意原因并详细记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_4</name>
        <choiceText>D. 不满意（问询不满意原因并详细记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_5</name>
        <choiceText>E. 非常不满意（问询不满意原因并详细记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_6</name>
        <choiceText>F. 不知道/未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F. 不知道/未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_F</name>
        <choiceText>F. 未评分</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未评分</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_7</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_8</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_NA</name>
        <choiceText>未评分</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未评分</stringValue>
        </value>
    </choices>
    <choices>
        <name>Seasonly</name>
        <choiceText>每个季度都能收到</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>每个季度都能收到</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skip</name>
        <choiceText>一般只会随手翻翻</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般只会随手翻翻</stringValue>
        </value>
    </choices>
    <choices>
        <name>Success</name>
        <choiceText>成功</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 成功</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_A</name>
        <choiceText>A. 不回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_B</name>
        <choiceText>B. 放弃</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>放弃</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_C</name>
        <choiceText>C. 中立</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>中立</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_D</name>
        <choiceText>D. 选择</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>选择</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_E</name>
        <choiceText>E. 其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel</name>
        <choiceText>旅游美食</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>旅游美食</stringValue>
        </value>
    </choices>
    <choices>
        <name>twice</name>
        <choiceText>一年2-3次</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一年2-3次</stringValue>
        </value>
    </choices>
    <choices>
        <name>unknow</name>
        <choiceText>不记得</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不记得</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unsuccess</name>
        <choiceText>不成功</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B.不成功</stringValue>
        </value>
    </choices>
    <choices>
        <name>VehCul</name>
        <choiceText>汽车文化</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>汽车文化</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vogue</name>
        <choiceText>时尚类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>时尚类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CustomerCare_Satisfaction</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Finish</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q5</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q6</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>294</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Finish Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>294</locationX>
        <locationY>292</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Jump_To_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To Q2</label>
        </rules>
        <rules>
            <name>Jump_To_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To Q3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>109</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <description>车主关怀满意度回访问卷</description>
    <formulas>
        <name>Code_Q1</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q1_Radio}, 
{!Satisfy_1}, 1, 
{!Satisfy_2}, 2, 
{!Satisfy_3}, 3, 
{!Satisfy_4}, 4,
{!Satisfy_5}, 5,  
{!Satisfy_6}, 6,
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q2</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q2_Radio}, 
{!Satisfy_1}, 1, 
{!Satisfy_2}, 2, 
{!Satisfy_3}, 3, 
{!Satisfy_4}, 4,
{!Satisfy_5}, 5,  
{!Satisfy_6}, 6,
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q3</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q3_Radio}, 
{!Success}, 1, 
{!Unsuccess}, 2, 
11
)</expression>
        <scale>2</scale>
    </formulas>
    <label>CustomerCare Satisfaction</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>604</locationX>
        <locationY>42</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>108</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Lookup</name>
        <label>Campaign Lookup</label>
        <locationX>109</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Cam_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>109</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q1</name>
        <label>Update Q1</label>
        <locationX>846</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Comment__c</field>
            <value>
                <elementReference>Q1_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2</name>
        <label>Update Q2</label>
        <locationX>844</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Comment__c</field>
            <value>
                <elementReference>Q2_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3</name>
        <label>Update Q3</label>
        <locationX>846</locationX>
        <locationY>531</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>604</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q1</targetReference>
        </connector>
        <fields>
            <name>Q1_Desc</name>
            <fieldText>Q1:  请问从购置车辆至今，您对这台梅赛德斯-奔驰车辆的整体满意度是什么？（整体满意度包括车辆性能、外观、内饰及车载交互系统等）</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Satisfy_1</choiceReferences>
            <choiceReferences>Satisfy_2</choiceReferences>
            <choiceReferences>Satisfy_3</choiceReferences>
            <choiceReferences>Satisfy_4</choiceReferences>
            <choiceReferences>Satisfy_5</choiceReferences>
            <choiceReferences>Satisfy_6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>选项</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>606</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q2</targetReference>
        </connector>
        <fields>
            <name>Q2_Desc</name>
            <fieldText>Q2. 请问您对经销商现在服务质量及态度是否满意？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Satisfy_1</choiceReferences>
            <choiceReferences>Satisfy_2</choiceReferences>
            <choiceReferences>Satisfy_3</choiceReferences>
            <choiceReferences>Satisfy_4</choiceReferences>
            <choiceReferences>Satisfy_5</choiceReferences>
            <choiceReferences>Satisfy_6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>选项</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>607</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q3</targetReference>
        </connector>
        <fields>
            <name>Q3_Desc</name>
            <fieldText>Q3. 问卷是否成功？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Success</choiceReferences>
            <choiceReferences>Unsuccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>选项</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cam_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
