src/main/metadata-excluded/flows/Limo_Service_Customer_Satisfaction_Survey_Questionnaire-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Q1_A</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_B</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_D</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_E</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_F</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_G</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_H</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_I</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_J</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_K</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_A</name>
        <choiceText>A. 服务周到</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>服务周到</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_B</name>
        <choiceText>B. 出行方便</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>出行方便</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C</name>
        <choiceText>C. 品牌体验</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>品牌体验</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_D</name>
        <choiceText>D. 其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_A</name>
        <choiceText>A. 满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_B</name>
        <choiceText>B. 一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C</name>
        <choiceText>C. 不满意(需要记录客户不满意内容，文本格式)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不满意(需要记录客户不满意内容，文本格式)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_D</name>
        <choiceText>D. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_A</name>
        <choiceText>A. 满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_B</name>
        <choiceText>B. 一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C</name>
        <choiceText>C. 不满意(需要记录客户不满意内容，文本格式)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_D</name>
        <choiceText>D. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_A</name>
        <choiceText>A. 清洁</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>清洁</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_B</name>
        <choiceText>B. 一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_C</name>
        <choiceText>C. 不清洁（需要记录客户认为车辆哪些地方不清洁，文本格式）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不清洁</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_D</name>
        <choiceText>D. 没注意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没注意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_A</name>
        <choiceText>A. 有</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_B</name>
        <choiceText>B. 没有</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_C</name>
        <choiceText>C. 没注意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没注意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_A</name>
        <choiceText>A. 有（需要记录客户认为哪些方面需要提高，文本格式）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_B</name>
        <choiceText>B. 无</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>无</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_A</name>
        <choiceText>A. 希望</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>希望</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_B</name>
        <choiceText>B. 不希望</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不希望</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_A</name>
        <choiceText>A. 有（需要客户的希望或建议，文本格式）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_B</name>
        <choiceText>B. 无</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>无</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Limo_Service_Customer_Satisfaction_Survey_Questionnaire</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Finish</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q6</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q7</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q8</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q8</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q9</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q9</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>294</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Finish Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>286</locationX>
        <locationY>835</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Jump_To_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To Q2</label>
        </rules>
        <rules>
            <name>Jump_To_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To Q3</label>
        </rules>
        <rules>
            <name>Jump_To_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>Jump To Q4</label>
        </rules>
        <rules>
            <name>Jump_To_Q5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5</targetReference>
            </connector>
            <label>Jump To Q5</label>
        </rules>
        <rules>
            <name>Jump_To_Q6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q6</targetReference>
            </connector>
            <label>Jump To Q6</label>
        </rules>
        <rules>
            <name>Jump_To_Q7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q7</targetReference>
            </connector>
            <label>Jump To Q7</label>
        </rules>
        <rules>
            <name>Jump_To_Q8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q8</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q8</targetReference>
            </connector>
            <label>Jump To Q8</label>
        </rules>
        <rules>
            <name>Jump_To_Q9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q9</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q9</targetReference>
            </connector>
            <label>Jump To Q9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>109</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <description>Limo Service Customer Satisfaction Survey Questionnaire--</description>
    <formulas>
        <name>Code_Q1</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q1_Radio}, 
{!Q1_A}, 1, 
{!Q1_B}, 2, 
{!Q1_C}, 3, 
{!Q1_D}, 4, 
{!Q1_E}, 5, 
{!Q1_F}, 6, 
{!Q1_G}, 7, 
{!Q1_H}, 8, 
{!Q1_I}, 9, 
{!Q1_J}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q2</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q2_Picklist}, 
{!Q2_A}, 1, 
{!Q2_B}, 2, 
{!Q2_C}, 3, 
{!Q2_D}, 4, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q3</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q3_Radio}, 
{!Q3_A}, 1, 
{!Q3_B}, 2, 
{!Q3_C}, 3, 
{!Q3_D}, 4, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q4</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q4_Radio}, 
{!Q4_A}, 1, 
{!Q4_B}, 2, 
{!Q4_C}, 3, 
{!Q4_D}, 4, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q5</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q5_Radio}, 
{!Q5_A}, 1, 
{!Q5_B}, 2, 
{!Q5_C}, 3, 
{!Q5_D}, 4, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q6</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q6_Radio}, 
{!Q6_A}, 1, 
{!Q6_B}, 2, 
{!Q6_C}, 3, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q7</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q7_Radio}, 
{!Q7_A}, 1, 
{!Q7_B}, 2, 
{!Q7_C}, 3, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q8</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q8_Radio}, 
{!Q8_A}, 1, 
{!Q8_B}, 2, 
{!Q8_C}, 3, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q9</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q9_Radio}, 
{!Q9_A}, 1, 
{!Q9_B}, 2, 
{!Q9_C}, 3, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <label>Limo Service Customer Satisfaction Survey Questionnaire</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>604</locationX>
        <locationY>42</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>108</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Lookup</name>
        <label>Campaign Lookup</label>
        <locationX>109</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Cam_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>109</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q1</name>
        <label>Update Q1</label>
        <locationX>831</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2</name>
        <label>Update Q2</label>
        <locationX>831</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer_Code__c</field>
            <value>
                <elementReference>Q2_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Comment__c</field>
            <value>
                <elementReference>Q2_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3</name>
        <label>Update Q3</label>
        <locationX>833</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Comment__c</field>
            <value>
                <elementReference>Q3_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q4</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q4</name>
        <label>Update Q4</label>
        <locationX>835</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Answer__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q4_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Question__c</field>
            <value>
                <elementReference>Q4_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q5</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q5</name>
        <label>Update Q5</label>
        <locationX>837</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q5_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Answer__c</field>
            <value>
                <elementReference>Q5_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Comment__c</field>
            <value>
                <elementReference>Q5_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Question__c</field>
            <value>
                <elementReference>Q5_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q6</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q6</name>
        <label>Update Q6</label>
        <locationX>840</locationX>
        <locationY>903</locationY>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q6_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Answer__c</field>
            <value>
                <elementReference>Q6_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Question__c</field>
            <value>
                <elementReference>Q6_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q7</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q7</name>
        <label>Update Q7</label>
        <locationX>844</locationX>
        <locationY>1029</locationY>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q7_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Answer__c</field>
            <value>
                <elementReference>Q7_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Comment__c</field>
            <value>
                <elementReference>Q7_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Question__c</field>
            <value>
                <elementReference>Q7_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q8</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q7_1</name>
        <label>Update Q7</label>
        <locationX>844</locationX>
        <locationY>1158</locationY>
        <connector>
            <targetReference>Q9</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q8_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Answer__c</field>
            <value>
                <elementReference>Q8_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Question__c</field>
            <value>
                <elementReference>Q8_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q9</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q7_2</name>
        <label>Update Q7</label>
        <locationX>845</locationX>
        <locationY>1285</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q9_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Answer__c</field>
            <value>
                <elementReference>Q9_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Comment__c</field>
            <value>
                <elementReference>Q9_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Question__c</field>
            <value>
                <elementReference>Q9_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>604</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q1</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>Q1: 请您对本次服务进行评价? (10分满分),请您对本次服务打分。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Q1_A</choiceReferences>
            <choiceReferences>Q1_B</choiceReferences>
            <choiceReferences>Q1_C</choiceReferences>
            <choiceReferences>Q1_D</choiceReferences>
            <choiceReferences>Q1_E</choiceReferences>
            <choiceReferences>Q1_F</choiceReferences>
            <choiceReferences>Q1_G</choiceReferences>
            <choiceReferences>Q1_H</choiceReferences>
            <choiceReferences>Q1_I</choiceReferences>
            <choiceReferences>Q1_J</choiceReferences>
            <choiceReferences>Q1_K</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>599</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q2</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>Q2. 您认为本服务最满意的地方是什么?(开放式问询,如客户不清楚时在进行提示)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Picklist</name>
            <choiceReferences>Q2_A</choiceReferences>
            <choiceReferences>Q2_B</choiceReferences>
            <choiceReferences>Q2_C</choiceReferences>
            <choiceReferences>Q2_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>599</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q3</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>Q3: 您接送服务人员服务是否满意?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Q3_A</choiceReferences>
            <choiceReferences>Q3_B</choiceReferences>
            <choiceReferences>Q3_C</choiceReferences>
            <choiceReferences>Q3_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>598</locationX>
        <locationY>643</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q4</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>Q4: 您对机场服务是否满意?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Q4_A</choiceReferences>
            <choiceReferences>Q4_B</choiceReferences>
            <choiceReferences>Q4_C</choiceReferences>
            <choiceReferences>Q4_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>598</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q5</targetReference>
        </connector>
        <fields>
            <name>Q5_Description</name>
            <fieldText>Q5: 请问接送的车辆是否清洁?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Q5_A</choiceReferences>
            <choiceReferences>Q5_B</choiceReferences>
            <choiceReferences>Q5_C</choiceReferences>
            <choiceReferences>Q5_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q5_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>601</locationX>
        <locationY>903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q6</targetReference>
        </connector>
        <fields>
            <name>Q6_Description</name>
            <fieldText>Q6. 车辆是否有奔驰杂志等?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>Q6_A</choiceReferences>
            <choiceReferences>Q6_B</choiceReferences>
            <choiceReferences>Q6_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>605</locationX>
        <locationY>1029</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q7</targetReference>
        </connector>
        <fields>
            <name>Q7_Description</name>
            <fieldText>Q7: 您认为本服务需要提高(或不是非常满意)的地方是什么?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Q7_A</choiceReferences>
            <choiceReferences>Q7_B</choiceReferences>
            <choiceReferences>Q7_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q7_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>605</locationX>
        <locationY>1158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q7_1</targetReference>
        </connector>
        <fields>
            <name>Q8_Description</name>
            <fieldText>Q8: 您是否希望将来继续享受这样的服务?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <choiceReferences>Q8_A</choiceReferences>
            <choiceReferences>Q8_B</choiceReferences>
            <choiceReferences>Q8_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>606</locationX>
        <locationY>1285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q7_2</targetReference>
        </connector>
        <fields>
            <name>Q9_Description</name>
            <fieldText>Q9: 请问您对梅赛德斯-奔驰未来活动或服务还有什么希望或建议?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Radio</name>
            <choiceReferences>Q9_A</choiceReferences>
            <choiceReferences>Q9_B</choiceReferences>
            <choiceReferences>Q9_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q9_Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cam_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Q5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Q5</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
