src/main/metadata-excluded/flows/R_Product_2nd_Round-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Q1_A</name>
        <choiceText>A.是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_B</name>
        <choiceText>B.否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C</name>
        <choiceText>C.N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_A</name>
        <choiceText>A.是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_B</name>
        <choiceText>B.否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C</name>
        <choiceText>C.N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_A</name>
        <choiceText>A.是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_B</name>
        <choiceText>B.否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C</name>
        <choiceText>C.N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_A</name>
        <choiceText>A.是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_B</name>
        <choiceText>B.否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C</name>
        <choiceText>C.N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_RProduct2ndround</name>
        <dataType>String</dataType>
        <value>
            <stringValue>R_Product_2nd_Round</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Close</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_S2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_S3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_S4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>300</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Close</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>297</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>Jump To S2</defaultConnectorLabel>
        <rules>
            <name>Jump_To_S2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_S2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To S2</label>
        </rules>
        <rules>
            <name>Jump_To_S3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_S3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To S3</label>
        </rules>
        <rules>
            <name>Jump_To_S4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_S4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>Jump To S4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>51</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Code_Q1</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q1_Radio}, 
{!Q1_A}, 1, 
{!Q1_B}, 2, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q2</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q2_Radio}, 
{!Q2_A}, 1, 
{!Q2_B}, 2, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q3</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q3_Radio}, 
{!Q3_A}, 1, 
{!Q3_B}, 2, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q4</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q4_Radio}, 
{!Q4_A}, 1, 
{!Q4_B}, 2, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <label>R Product 2nd Round</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>581</locationX>
        <locationY>72</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_RProduct2ndround</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>54</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>57</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Survey_Type</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_RProduct2ndround</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>59</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_RProduct2ndround</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q4</name>
        <label>Update Q4</label>
        <locationX>825</locationX>
        <locationY>640</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Answer__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q4_LongText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Question__c</field>
            <value>
                <elementReference>Q4_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Close</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S1</name>
        <label>Update S1</label>
        <locationX>810</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_S2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S2</name>
        <label>Update S2</label>
        <locationX>813</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_S3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S3</name>
        <label>Update S3</label>
        <locationX>815</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_S4</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>586</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_S1</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>Q1:您是否参加过试乘试驾?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Q1_A</choiceReferences>
            <choiceReferences>Q1_B</choiceReferences>
            <choiceReferences>Q1_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>581</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_S2</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>Q2:您是否去过展厅?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Q2_A</choiceReferences>
            <choiceReferences>Q2_B</choiceReferences>
            <choiceReferences>Q2_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>581</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_S3</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>Q3:经销商是否联系过您?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Q3_A</choiceReferences>
            <choiceReferences>Q3_B</choiceReferences>
            <choiceReferences>Q3_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>589</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q4</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>Q4:您是否联系过经销商?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Q4_A</choiceReferences>
            <choiceReferences>Q4_B</choiceReferences>
            <choiceReferences>Q4_C</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_LongText</name>
            <fieldText>备注：</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_RProduct2ndround</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Survey_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>RecordType_RProduct2ndround</elementReference>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
