src/main/metadata-excluded/flows/Regular-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Age_A</name>
        <choiceText>20-30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20-30</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_B</name>
        <choiceText>30-40</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30-40</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_C</name>
        <choiceText>40-50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>40-50</stringValue>
        </value>
    </choices>
    <choices>
        <name>Age_D</name>
        <choiceText>50-60</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50-60</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_A</name>
        <choiceText>清晰</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>清晰</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clear_B</name>
        <choiceText>不清晰</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不清晰</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confirm_A</name>
        <choiceText>是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confirm_B</name>
        <choiceText>否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasComment_A</name>
        <choiceText>说明</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>说明</stringValue>
        </value>
    </choices>
    <choices>
        <name>HasComment_B</name>
        <choiceText>未说明</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未说明</stringValue>
        </value>
    </choices>
    <choices>
        <name>Have_A</name>
        <choiceText>有</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Have_B</name>
        <choiceText>没有</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没有</stringValue>
        </value>
    </choices>
    <choices>
        <name>People_A</name>
        <choiceText>服务顾问</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>服务顾问</stringValue>
        </value>
    </choices>
    <choices>
        <name>People_B</name>
        <choiceText>服务经理</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>服务经理</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_A</name>
        <choiceText>A. 客户</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 客户</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_B</name>
        <choiceText>B. 经销商</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 经销商</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_C</name>
        <choiceText>C. 厂家</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 厂家</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_D</name>
        <choiceText>D. 没注意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>没注意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_A</name>
        <choiceText>产品质量</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>产品质量</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_B</name>
        <choiceText>经销商服务</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>经销商服务</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reason_C</name>
        <choiceText>厂家反馈</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>厂家反馈</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_A</name>
        <choiceText>非常不满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_B</name>
        <choiceText>不满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_C</name>
        <choiceText>一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_D</name>
        <choiceText>满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_E</name>
        <choiceText>非常满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfy_F</name>
        <choiceText>未评分</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未评分</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_10</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_3</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_4</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_5</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_7</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_8</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_9</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_NA</name>
        <choiceText>未评分</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未评分</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speed_A</name>
        <choiceText>很快</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>很快</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speed_B</name>
        <choiceText>很慢</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>很慢</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speed_C</name>
        <choiceText>一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speed_D</name>
        <choiceText>其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_A</name>
        <choiceText>A. 不回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_B</name>
        <choiceText>B. 放弃</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>放弃</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_C</name>
        <choiceText>C. 中立</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>中立</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_D</name>
        <choiceText>D. 选择</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>选择</stringValue>
        </value>
    </choices>
    <choices>
        <name>Think_E</name>
        <choiceText>E. 其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Finish</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q10</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q10</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q11</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q11</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q12</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q12</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q13</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q13</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q14</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q14</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q15</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q15</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q16</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q16</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q17</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q17</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q18</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q18</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q19</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q19</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q20</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q20</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q21</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q21</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q22</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q22</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q23</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q23</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q24</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q24</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q25</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q25</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q26</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q26</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q6</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q7</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q8</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q8</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q9</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q9</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>296</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>Finish Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>309</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Jump_To_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To Q2</label>
        </rules>
        <rules>
            <name>Jump_To_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To Q3</label>
        </rules>
        <rules>
            <name>Jump_To_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>Jump To Q4</label>
        </rules>
        <rules>
            <name>Jump_To_Q5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5</targetReference>
            </connector>
            <label>Jump To Q5</label>
        </rules>
        <rules>
            <name>Jump_To_Q6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q6</targetReference>
            </connector>
            <label>Jump To Q6</label>
        </rules>
        <rules>
            <name>Jump_To_Q7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q7</targetReference>
            </connector>
            <label>Jump To Q7</label>
        </rules>
        <rules>
            <name>Jump_To_Q8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q8</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q8</targetReference>
            </connector>
            <label>Jump To Q8</label>
        </rules>
        <rules>
            <name>Jump_To_Q9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q9</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q9</targetReference>
            </connector>
            <label>Jump To Q9</label>
        </rules>
        <rules>
            <name>Jump_To_Q10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q10</targetReference>
            </connector>
            <label>Jump To Q10</label>
        </rules>
        <rules>
            <name>Jump_To_Q11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q11</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q11</targetReference>
            </connector>
            <label>Jump To Q11</label>
        </rules>
        <rules>
            <name>Jump_To_Q12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q12</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q12</targetReference>
            </connector>
            <label>Jump To Q12</label>
        </rules>
        <rules>
            <name>Jump_To_Q13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q13</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q13</targetReference>
            </connector>
            <label>Jump To Q13</label>
        </rules>
        <rules>
            <name>Jump_To_Q14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q14</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q14</targetReference>
            </connector>
            <label>Jump To Q14</label>
        </rules>
        <rules>
            <name>Jump_To_Q15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q15</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q15</targetReference>
            </connector>
            <label>Jump To Q15</label>
        </rules>
        <rules>
            <name>Jump_To_Q16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q16</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q16</targetReference>
            </connector>
            <label>Jump To Q16</label>
        </rules>
        <rules>
            <name>Jump_To_Q17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q17</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q17</targetReference>
            </connector>
            <label>Jump To Q17</label>
        </rules>
        <rules>
            <name>Jump_To_Q18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q18</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q18</targetReference>
            </connector>
            <label>Jump To Q18</label>
        </rules>
        <rules>
            <name>Jump_To_Q19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q19</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q19</targetReference>
            </connector>
            <label>Jump To Q19</label>
        </rules>
        <rules>
            <name>Jump_To_Q20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q20</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q20</targetReference>
            </connector>
            <label>Jump To Q20</label>
        </rules>
        <rules>
            <name>Jump_To_Q21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q21</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q21</targetReference>
            </connector>
            <label>Jump To Q21</label>
        </rules>
        <rules>
            <name>Jump_To_Q22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q22</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q22</targetReference>
            </connector>
            <label>Jump To Q22</label>
        </rules>
        <rules>
            <name>Jump_To_Q23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q23</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q23</targetReference>
            </connector>
            <label>Jump To Q23</label>
        </rules>
        <rules>
            <name>Jump_To_Q24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q24</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q24</targetReference>
            </connector>
            <label>Jump To Q24</label>
        </rules>
        <rules>
            <name>Jump_To_Q25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q25</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q25</targetReference>
            </connector>
            <label>Jump To Q25</label>
        </rules>
        <rules>
            <name>Jump_to_Q26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q26</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q26</targetReference>
            </connector>
            <label>Jump to Q26</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>107</locationX>
        <locationY>584</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Code_15</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q15_Radio}, 
{!Think_A}, 1, 
{!Think_B}, 2, 
{!Think_C}, 3, 
{!Think_D}, 4, 
{!Think_E}, 5, 
6
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Code_Q1</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q1_Radio}, 
{!Confirm_A}, 1, 
{!Confirm_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q10</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q10_Radio}, 
{!HasComment_A}, 1, 
{!HasComment_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q11</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q11_Radio}, 
{!Clear_A}, 1, 
{!Clear_B}, 2, 
{!Speed_D} , 3,
4
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q12</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q12_Radio}, 
{!Reason_A}, 1, 
{!Reason_B}, 2, 
{!Reason_C}, 3, 
{!Speed_D}, 4, 
5
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q13</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q13_Radio}, 
{!Have_A}, 1, 
{!Have_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q14</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q14_Radio}, 
{!Think_A}, 1, 
{!Think_B}, 2, 
{!Think_C}, 3, 
{!Think_D}, 4, 
{!Think_E}, 5, 
6
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q15</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q14_Radio}, 
{!Think_A}, 1, 
{!Think_B}, 2, 
{!Think_C}, 3, 
{!Think_D}, 4, 
{!Think_E}, 5, 
6
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q16</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q16_Radio},
{!People_A}, 1,
{!People_B}, 2,
{!Speed_D}, 3,
4
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q17</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q17_Radio}, 
{!Have_A}, 1, 
{!Have_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q18</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q18_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q19</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q19_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q2</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q2_Radio}, 
{!Confirm_A}, 1, 
{!Confirm_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q20</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q20_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q21</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q21_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q22</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q22_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q23</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q23_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q24</name>
        <dataType>Number</dataType>
        <expression>CASE( 
{!Q24_Radio},
{!Score_1}, 1, 
{!Score_2}, 2, 
{!Score_3}, 3, 
{!Score_4}, 4, 
{!Score_5}, 5, 
{!Score_6}, 6, 
{!Score_7}, 7, 
{!Score_8}, 8, 
{!Score_9}, 9, 
{!Score_10}, 10, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q25</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q25_Radio}, 
{!Age_A}, 1, 
{!Age_B}, 2, 
{!Age_C}, 3, 
{!Age_D}, 4,
{!Speed_D}, 5, 
6
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q26</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q26_Radio}, 
{!HasComment_A}, 1, 
{!HasComment_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q3</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q3_Radio}, 
{!Have_A}, 1, 
{!Have_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q4</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q4_Radio}, 
{!HasComment_A}, 1, 
{!HasComment_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q5</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q5_Radio}, 
{!Satisfy_A}, 1, 
{!Satisfy_B}, 2, 
{!Satisfy_C}, 3, 
{!Satisfy_D}, 4, 
{!Satisfy_E}, 5, 
6
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q6</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q6_Radio}, 
{!HasComment_A}, 1, 
{!HasComment_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q7</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q7_Radio}, 
{!Satisfy_A}, 1, 
{!Satisfy_B}, 2, 
{!Satisfy_C}, 3, 
{!Satisfy_D}, 4, 
{!Satisfy_E}, 5, 
6
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Code_Q8</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q8_Radio}, 
{!HasComment_A}, 1, 
{!HasComment_B}, 2, 
3
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q9</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q9_Radio}, 
{!Speed_A}, 1, 
{!Speed_B}, 2,
{!Speed_C}, 3,
{!Speed_D}, 4,
5
)</expression>
        <scale>0</scale>
    </formulas>
    <label>Regular</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>604</locationX>
        <locationY>44</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>108</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Lookup</name>
        <label>Campaign Lookup</label>
        <locationX>109</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Cam_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>109</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_19</name>
        <label>Update 19</label>
        <locationX>866</locationX>
        <locationY>2499</locationY>
        <connector>
            <targetReference>Q20</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q19_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q19_Answer__c</field>
            <value>
                <elementReference>Q19_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q19_Comment__c</field>
            <value>
                <elementReference>Q19_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q19_Question__c</field>
            <value>
                <elementReference>Q19_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q20</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q1</name>
        <label>Update Q1</label>
        <locationX>846</locationX>
        <locationY>253</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q10</name>
        <label>Update Q10</label>
        <locationX>848</locationX>
        <locationY>1425</locationY>
        <connector>
            <targetReference>Q11</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q10_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q10_Answer__c</field>
            <value>
                <elementReference>Q10_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q10_Comment__c</field>
            <value>
                <elementReference>Q10_Commennt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q10_Question__c</field>
            <value>
                <elementReference>Q10_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q11</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q11</name>
        <label>Update Q11</label>
        <locationX>852</locationX>
        <locationY>1554</locationY>
        <connector>
            <targetReference>Q12</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q11_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q11_Answer__c</field>
            <value>
                <elementReference>Q11_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q11_Comment__c</field>
            <value>
                <elementReference>Q11_Commennt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q11_Question__c</field>
            <value>
                <elementReference>Q11_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q12</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q12</name>
        <label>Update Q12</label>
        <locationX>850</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Q13</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q12_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q12_Answer__c</field>
            <value>
                <elementReference>Q12_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q12_Comment__c</field>
            <value>
                <elementReference>Q12_Commennt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q12_Question__c</field>
            <value>
                <elementReference>Q12_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q13</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q13</name>
        <label>Update Q13</label>
        <locationX>854</locationX>
        <locationY>1786</locationY>
        <connector>
            <targetReference>Q14</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q13_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13_Answer__c</field>
            <value>
                <elementReference>Q13_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13_Question__c</field>
            <value>
                <elementReference>Q13_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q14</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q14</name>
        <label>Update Q14</label>
        <locationX>854</locationX>
        <locationY>1905</locationY>
        <connector>
            <targetReference>Q15</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q14_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q14_Answer__c</field>
            <value>
                <elementReference>Q14_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q14_Comment__c</field>
            <value>
                <elementReference>Q14_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q14_Question__c</field>
            <value>
                <elementReference>Q14_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q15</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q15</name>
        <label>Update Q15</label>
        <locationX>854</locationX>
        <locationY>2028</locationY>
        <connector>
            <targetReference>Q16</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q15_Answer_Code__c</field>
            <value>
                <elementReference>Code_15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q15_Answer__c</field>
            <value>
                <elementReference>Q15_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q15_Comment__c</field>
            <value>
                <elementReference>Q15_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q15_Question__c</field>
            <value>
                <elementReference>Q15_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q16</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q16</name>
        <label>Update Q16</label>
        <locationX>861</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Q17</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q16_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q16_Answer__c</field>
            <value>
                <elementReference>Q16_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q16_Question__c</field>
            <value>
                <elementReference>Q16_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q17</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q17</name>
        <label>Update Q17</label>
        <locationX>860</locationX>
        <locationY>2265</locationY>
        <connector>
            <targetReference>Q18</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q17_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q17</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q17_Answer__c</field>
            <value>
                <elementReference>Q17_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q17_Comment__c</field>
            <value>
                <elementReference>Q17_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q17_Question__c</field>
            <value>
                <elementReference>Q17_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q18</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q18</name>
        <label>Update Q18</label>
        <locationX>860</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Q19</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q18_Answer__c</field>
            <value>
                <elementReference>Q18_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q18_Comment__c</field>
            <value>
                <elementReference>Q18_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q18_Question__c</field>
            <value>
                <elementReference>Q18_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q19_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q18</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q19</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2</name>
        <label>Update Q2</label>
        <locationX>848</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Comment__c</field>
            <value>
                <elementReference>Q2_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q20</name>
        <label>Update Q20</label>
        <locationX>865</locationX>
        <locationY>2623</locationY>
        <connector>
            <targetReference>Q21</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q20_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q20_Answer__c</field>
            <value>
                <elementReference>Q20_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q20_Comment__c</field>
            <value>
                <elementReference>Q20_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q20_Question__c</field>
            <value>
                <elementReference>Q20_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q21</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q21</name>
        <label>Update Q21</label>
        <locationX>863</locationX>
        <locationY>2740</locationY>
        <connector>
            <targetReference>Q22</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q21_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q21_Answer__c</field>
            <value>
                <elementReference>Q21_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q21_Comment__c</field>
            <value>
                <elementReference>Q21_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q21_Question__c</field>
            <value>
                <elementReference>Q21_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q22</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q22</name>
        <label>Update Q22</label>
        <locationX>864</locationX>
        <locationY>2842</locationY>
        <connector>
            <targetReference>Q23</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q22_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q22_Answer__c</field>
            <value>
                <elementReference>Q22_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q22_Comment__c</field>
            <value>
                <elementReference>Q22_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q22_Question__c</field>
            <value>
                <elementReference>Q22_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q23</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q23</name>
        <label>Update Q23</label>
        <locationX>867</locationX>
        <locationY>2949</locationY>
        <connector>
            <targetReference>Q24</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q23_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q23_Answer__c</field>
            <value>
                <elementReference>Q23_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q23_Comment__c</field>
            <value>
                <elementReference>Q23_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q23_Question__c</field>
            <value>
                <elementReference>Q23_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q24</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q24</name>
        <label>Update Q24</label>
        <locationX>868</locationX>
        <locationY>3065</locationY>
        <connector>
            <targetReference>Q25</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q24_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q24_Answer__c</field>
            <value>
                <elementReference>Q24_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q24_Comment__c</field>
            <value>
                <elementReference>Q24_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q24_Question__c</field>
            <value>
                <elementReference>Q24_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q25</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q25</name>
        <label>Update Q25</label>
        <locationX>869</locationX>
        <locationY>3187</locationY>
        <connector>
            <targetReference>Q26</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q25_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q25_Answer__c</field>
            <value>
                <elementReference>Q25_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q25_Question__c</field>
            <value>
                <elementReference>Q25_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q26</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q26</name>
        <label>Update Q26</label>
        <locationX>869</locationX>
        <locationY>3305</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q26_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q26</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q26_Answer__c</field>
            <value>
                <elementReference>Q26_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q26_Question__c</field>
            <value>
                <elementReference>Q26_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3</name>
        <label>Update Q3</label>
        <locationX>850</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q4</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q4</name>
        <label>Update Q4</label>
        <locationX>846</locationX>
        <locationY>658</locationY>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Answer__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q4_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Question__c</field>
            <value>
                <elementReference>Q4_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q5</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q5</name>
        <label>Update Q5</label>
        <locationX>849</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q5_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Answer__c</field>
            <value>
                <elementReference>Q5_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Question__c</field>
            <value>
                <elementReference>Q5_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q6</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q6</name>
        <label>Update Q6</label>
        <locationX>847</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q6_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Answer__c</field>
            <value>
                <elementReference>Q6_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Comment__c</field>
            <value>
                <elementReference>Q6_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Question__c</field>
            <value>
                <elementReference>Q6_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q7</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q7</name>
        <label>Update Q7</label>
        <locationX>849</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q7_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Answer__c</field>
            <value>
                <elementReference>Q7_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Question__c</field>
            <value>
                <elementReference>Q7_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q8</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q8</name>
        <label>Update Q8</label>
        <locationX>847</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Q9</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q8_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Answer__c</field>
            <value>
                <elementReference>Q8_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Comment__c</field>
            <value>
                <elementReference>Q8_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Question__c</field>
            <value>
                <elementReference>Q8_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q9</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q9</name>
        <label>Update Q9</label>
        <locationX>849</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>Q10</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q9_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Answer__c</field>
            <value>
                <elementReference>Q9_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Question__c</field>
            <value>
                <elementReference>Q9_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q10</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>604</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q1</targetReference>
        </connector>
        <fields>
            <name>Q1_Desc</name>
            <fieldText>Q1: 最近在XXXXXX时间，XXXXXX经销商处，因车辆XXXXXX原因进行过投诉，对吗？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Confirm_A</choiceReferences>
            <choiceReferences>Confirm_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q10</name>
        <label>Q10</label>
        <locationX>618</locationX>
        <locationY>1419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q10</targetReference>
        </connector>
        <fields>
            <name>Q10_Desc</name>
            <fieldText>Q10. 请详细说明一下。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_Radio</name>
            <choiceReferences>HasComment_A</choiceReferences>
            <choiceReferences>HasComment_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q10_Commennt</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q11</name>
        <label>Q11</label>
        <locationX>617</locationX>
        <locationY>1542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q11</targetReference>
        </connector>
        <fields>
            <name>Q11_Desc</name>
            <fieldText>Q11. 您觉得经销商对于厂家的回复表述解释的清晰吗？(如果为CAC案件，并由经销商直接处理，则改为经销商对于案件处理方案的表述清晰)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q11_Radio</name>
            <choiceReferences>Clear_A</choiceReferences>
            <choiceReferences>Clear_B</choiceReferences>
            <choiceReferences>Speed_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q11_Commennt</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q12</name>
        <label>Q12</label>
        <locationX>618</locationX>
        <locationY>1662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q12</targetReference>
        </connector>
        <fields>
            <name>Q12_Desc</name>
            <fieldText>Q12. 您觉得是什么原因导致了此次事件的发生？选项：产品，经销商服务，厂家反馈(如果为CAC案件，并由经销商直接处理，则无厂家反馈一项)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_Radio</name>
            <choiceReferences>Reason_A</choiceReferences>
            <choiceReferences>Reason_B</choiceReferences>
            <choiceReferences>Reason_C</choiceReferences>
            <choiceReferences>Speed_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q12_Commennt</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q13</name>
        <label>Q13</label>
        <locationX>620</locationX>
        <locationY>1782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q13</targetReference>
        </connector>
        <fields>
            <name>Q13_Desc</name>
            <fieldText>Q13. 经销商是否主动提醒客户车辆有无必要做其他保养，服务措施等？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q13_Radio</name>
            <choiceReferences>Have_A</choiceReferences>
            <choiceReferences>Have_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q14</name>
        <label>Q14</label>
        <locationX>623</locationX>
        <locationY>1901</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q14</targetReference>
        </connector>
        <fields>
            <name>Q14_Desc</name>
            <fieldText>Q14. 这家经销商，您还会继续选择服务吗？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q14_Radio</name>
            <choiceReferences>Think_A</choiceReferences>
            <choiceReferences>Think_B</choiceReferences>
            <choiceReferences>Think_C</choiceReferences>
            <choiceReferences>Think_D</choiceReferences>
            <choiceReferences>Think_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q14_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q15</name>
        <label>Q15</label>
        <locationX>626</locationX>
        <locationY>2028</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q15</targetReference>
        </connector>
        <fields>
            <name>Q15_Desc</name>
            <fieldText>Q15. 经过此次事件，您觉得这个品牌是您下次购车的首选吗？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q15_Radio</name>
            <choiceReferences>Think_A</choiceReferences>
            <choiceReferences>Think_B</choiceReferences>
            <choiceReferences>Think_C</choiceReferences>
            <choiceReferences>Think_D</choiceReferences>
            <choiceReferences>Think_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q15_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q16</name>
        <label>Q16</label>
        <locationX>622</locationX>
        <locationY>2148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q16</targetReference>
        </connector>
        <fields>
            <name>Q16_Desc</name>
            <fieldText>Q16. 整个事件中，与您沟通的是服务顾问还是服务经理？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16_Radio</name>
            <choiceReferences>People_A</choiceReferences>
            <choiceReferences>People_B</choiceReferences>
            <choiceReferences>Speed_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q17</name>
        <label>Q17</label>
        <locationX>624</locationX>
        <locationY>2264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q17</targetReference>
        </connector>
        <fields>
            <name>Q17_Desc</name>
            <fieldText>Q17. 对于这位服务人员，有没有让您特别满意或印象深刻的地方？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q17_Radio</name>
            <choiceReferences>Have_A</choiceReferences>
            <choiceReferences>Have_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q17_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q18</name>
        <label>Q18</label>
        <locationX>623</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q18</targetReference>
        </connector>
        <fields>
            <name>Q18_Desc</name>
            <fieldText>Q18. 请为此次投诉处理的经历进行打分1至10分；
A、整个接车过程</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q18_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q18_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q19</name>
        <label>Q19</label>
        <locationX>628</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_19</targetReference>
        </connector>
        <fields>
            <name>Q19_Desc</name>
            <fieldText>Q19. 请为此次投诉处理的经历进行打分1至10分；
B、服务接待人员的表现</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q19_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q19_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>603</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q2</targetReference>
        </connector>
        <fields>
            <name>Q2_Desc</name>
            <fieldText>Q2. 您是否因解决此投诉问题而支付了费用？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Confirm_A</choiceReferences>
            <choiceReferences>Confirm_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q20</name>
        <label>Q20</label>
        <locationX>630</locationX>
        <locationY>2615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q20</targetReference>
        </connector>
        <fields>
            <name>Q20_Desc</name>
            <fieldText>Q20. 请为此次投诉处理的经历进行打分1至10分；
C、服务设施</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q20_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q20_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q21</name>
        <label>Q21</label>
        <locationX>631</locationX>
        <locationY>2733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q21</targetReference>
        </connector>
        <fields>
            <name>Q21_Desc</name>
            <fieldText>Q21. 请为此次投诉处理的经历进行打分1至10分；
D、服务结束后的交车环节</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q21_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q21_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q22</name>
        <label>Q22</label>
        <locationX>632</locationX>
        <locationY>2843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q22</targetReference>
        </connector>
        <fields>
            <name>Q22_Desc</name>
            <fieldText>Q22. 请为此次投诉处理的经历进行打分1至10分；
E、维修服务质量</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q22_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q22_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q23</name>
        <label>Q23</label>
        <locationX>634</locationX>
        <locationY>2951</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q23</targetReference>
        </connector>
        <fields>
            <name>Q23_Desc</name>
            <fieldText>Q23. 请为此次投诉处理的经历进行打分1至10分；
F、维修所花费的时间</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q23_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q23_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q24</name>
        <label>Q24</label>
        <locationX>634</locationX>
        <locationY>3072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q24</targetReference>
        </connector>
        <fields>
            <name>Q24_Desc</name>
            <fieldText>Q24. 请为此次投诉处理的经历进行打分1至10分；
G、维修后的车辆清洁</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24_Radio</name>
            <choiceReferences>Score_1</choiceReferences>
            <choiceReferences>Score_2</choiceReferences>
            <choiceReferences>Score_3</choiceReferences>
            <choiceReferences>Score_4</choiceReferences>
            <choiceReferences>Score_5</choiceReferences>
            <choiceReferences>Score_6</choiceReferences>
            <choiceReferences>Score_7</choiceReferences>
            <choiceReferences>Score_8</choiceReferences>
            <choiceReferences>Score_9</choiceReferences>
            <choiceReferences>Score_10</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q24_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q25</name>
        <label>Q25</label>
        <locationX>633</locationX>
        <locationY>3189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q25</targetReference>
        </connector>
        <fields>
            <name>Q25_Desc</name>
            <fieldText>Q25. 先生/女士，您方便提供您的年龄吗？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q25_Radio</name>
            <choiceReferences>Age_A</choiceReferences>
            <choiceReferences>Age_B</choiceReferences>
            <choiceReferences>Age_C</choiceReferences>
            <choiceReferences>Age_D</choiceReferences>
            <choiceReferences>Speed_D</choiceReferences>
            <dataType>String</dataType>
            <fieldText>年龄段</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q26</name>
        <label>Q26</label>
        <locationX>633</locationX>
        <locationY>3305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q26</targetReference>
        </connector>
        <fields>
            <name>Q26_Desc</name>
            <fieldText>Q26. 请问您是在哪年购买的车？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q26_Radio</name>
            <dataType>String</dataType>
            <fieldText>年份</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>602</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q3</targetReference>
        </connector>
        <fields>
            <name>Q3_Desc</name>
            <fieldText>Q3. 您在XXXXXX经销商处的经历，印象里，有无什么事情让您觉得惊喜或开心？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Have_A</choiceReferences>
            <choiceReferences>Have_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>606</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q4</targetReference>
        </connector>
        <fields>
            <name>Q4_Desc</name>
            <fieldText>Q4. 请详细说明一下。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>HasComment_A</choiceReferences>
            <choiceReferences>HasComment_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>608</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q5</targetReference>
        </connector>
        <fields>
            <name>Q5_Desc</name>
            <fieldText>Q5. 关于XXXXXX投诉问题，您所获得的解决方案，您觉得满意吗？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Satisfy_A</choiceReferences>
            <choiceReferences>Satisfy_B</choiceReferences>
            <choiceReferences>Satisfy_C</choiceReferences>
            <choiceReferences>Satisfy_D</choiceReferences>
            <choiceReferences>Satisfy_E</choiceReferences>
            <choiceReferences>Satisfy_F</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>608</locationX>
        <locationY>900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q6</targetReference>
        </connector>
        <fields>
            <name>Q6_Desc</name>
            <fieldText>Q6. 请详细说明一下。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>HasComment_A</choiceReferences>
            <choiceReferences>HasComment_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q6_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>608</locationX>
        <locationY>1039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q7</targetReference>
        </connector>
        <fields>
            <name>Q7_Desc</name>
            <fieldText>Q7. 对于整个事件的处理过程，您是否满意？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Satisfy_A</choiceReferences>
            <choiceReferences>Satisfy_B</choiceReferences>
            <choiceReferences>Satisfy_C</choiceReferences>
            <choiceReferences>Satisfy_D</choiceReferences>
            <choiceReferences>Satisfy_E</choiceReferences>
            <choiceReferences>Satisfy_F</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>612</locationX>
        <locationY>1162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q8</targetReference>
        </connector>
        <fields>
            <name>Q8_Desc</name>
            <fieldText>Q8. 请详细说明一下。</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <choiceReferences>HasComment_A</choiceReferences>
            <choiceReferences>HasComment_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q8_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>614</locationX>
        <locationY>1291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q9</targetReference>
        </connector>
        <fields>
            <name>Q9_Desc</name>
            <fieldText>Q9. 您觉得厂家对于此次投诉处理方案的批复速度是否很快(如果为CAC案件，并由经销商直接处理，则改为经销商的处理速度是否很快)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Radio</name>
            <choiceReferences>Speed_A</choiceReferences>
            <choiceReferences>Speed_B</choiceReferences>
            <choiceReferences>Speed_C</choiceReferences>
            <choiceReferences>Speed_D</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cam_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Q5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Q5</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
