src/main/metadata-excluded/flows/X1st_Round_PI_Check-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Q1_A</name>
        <choiceText>A.收到了</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A.收到了</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_B</name>
        <choiceText>B.没收到</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B.没收到</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C</name>
        <choiceText>C. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_D</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_E</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_F</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_G</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_H</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_I</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_J</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_K</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_A</name>
        <choiceText>A.产品技术</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A.产品技术</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_B</name>
        <choiceText>B.汽车文化</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B.汽车文化</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C</name>
        <choiceText>C.人物</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C.人物</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_D</name>
        <choiceText>D.赛车运动</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D.赛车运动</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_E</name>
        <choiceText>E.旅游美食</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E.旅游美食</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_F</name>
        <choiceText>F.其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F.其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_A</name>
        <choiceText>A. 每篇文章都阅读</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 每篇文章都阅读</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_B</name>
        <choiceText>B. 只阅读感兴趣的文章</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 只阅读感兴趣的文章</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C</name>
        <choiceText>C. 随手翻翻</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 随手翻翻</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_D</name>
        <choiceText>D. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_E</name>
        <choiceText>E. 其他（CSR需记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E. 其他（CSR需记录）</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_F</name>
        <choiceText>F. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F. 未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_A</name>
        <choiceText>A.汽车类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A.汽车类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_B</name>
        <choiceText>B.生活方式类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B.生活方式类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C</name>
        <choiceText>C.时尚类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C.时尚类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_D</name>
        <choiceText>D.不看杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D.不看杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_E</name>
        <choiceText>E.其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E.其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_F</name>
        <choiceText>F. 旅游美食</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F. 旅游美食</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_G</name>
        <choiceText>G.  新闻资讯</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G.  新闻资讯</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_H</name>
        <choiceText>H.  生活方式</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H.  生活方式</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_I</name>
        <choiceText>I. 其他 （CSR需记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I. 其他 （CSR需记录）</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_J</name>
        <choiceText>J. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>J. 未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_A</name>
        <choiceText>A. 汽车类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 汽车类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_B</name>
        <choiceText>B. 生活方式类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 生活方式类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_C</name>
        <choiceText>C. 时尚类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 时尚类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_D</name>
        <choiceText>D. 新闻资讯类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D. 新闻资讯类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_E</name>
        <choiceText>E. 财经类</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E. 财经类</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_F</name>
        <choiceText>F. 其他 （CSR需记录）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F. 其他 （CSR需记录）</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_G</name>
        <choiceText>G. 平时不阅读杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G. 平时不阅读杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_H</name>
        <choiceText>H. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H. 未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_I</name>
        <choiceText>I. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_A</name>
        <choiceText>A. 继续阅读纸质版杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 继续阅读纸质版杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_B</name>
        <choiceText>B. 电子杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 电子杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_C</name>
        <choiceText>C. 不愿意再阅读杂志</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C. 不愿意再阅读杂志</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_D</name>
        <choiceText>D. 未涉及</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D. 未涉及</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_A</name>
        <choiceText>A. 有效（客户完整回答1-6题）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A. 有效（客户完整回答1-6题）</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_B</name>
        <choiceText>B. 无效（客户未完整回答1-6题）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B. 无效（客户未完整回答1-6题）</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_A</name>
        <choiceText>A. 希望</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>希望</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_B</name>
        <choiceText>B. 不希望</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>不希望</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q8_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_A</name>
        <choiceText>A. 有（需要客户的希望或建议，文本格式）</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>有</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_B</name>
        <choiceText>B. 无</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>无</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q9_C</name>
        <choiceText>C. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>X1st_Round_PI_Check</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Finish</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q5</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q6</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q7</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>294</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Finish Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>303</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Jump_To_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To Q2</label>
        </rules>
        <rules>
            <name>Jump_To_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To Q3</label>
        </rules>
        <rules>
            <name>Jump_To_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>Jump To Q4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_Decision</name>
        <label>Q1 Decision</label>
        <locationX>685</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Update_Q1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Goto Q2</defaultConnectorLabel>
        <rules>
            <name>Goto_Q3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_B</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q1_1</targetReference>
            </connector>
            <label>Goto Q3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>108</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <description>2014/9/16 1st_Round_PI_Check</description>
    <label>1st_Round_PI_Check</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>604</locationX>
        <locationY>42</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Question__c</field>
            <value>
                <elementReference>Q4_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>107</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Address_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Address_Lookup</name>
        <label>Address Lookup</label>
        <locationX>105</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountAddress</assignToReference>
            <field>DMS_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Lookup</name>
        <label>Campaign Lookup</label>
        <locationX>109</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Cam_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>109</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q1</name>
        <label>Update Q1</label>
        <locationX>523</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q1_1</name>
        <label>Update Q1</label>
        <locationX>696</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2</name>
        <label>Update Q2</label>
        <locationX>538</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Comment__c</field>
            <value>
                <elementReference>Q2_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3</name>
        <label>Update Q3</label>
        <locationX>531</locationX>
        <locationY>761</locationY>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_Answer__c</field>
            <value>
                <elementReference>AccountAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q4</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q4</name>
        <label>Update Q4</label>
        <locationX>542</locationX>
        <locationY>953</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Answer__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q4_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>510</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q1_Decision</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>Q1： 梅赛德斯-奔驰在近期为您邮递过《梅赛德斯-奔驰杂志》，请问您是否收到呢？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Q1_A</choiceReferences>
            <choiceReferences>Q1_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>532</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q2</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>Q2.：请问您在阅读梅赛德斯-奔驰杂志过程中，更喜欢哪些内容呢？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Q2_A</choiceReferences>
            <choiceReferences>Q2_B</choiceReferences>
            <choiceReferences>Q2_C</choiceReferences>
            <choiceReferences>Q2_D</choiceReferences>
            <choiceReferences>Q2_E</choiceReferences>
            <choiceReferences>Q2_F</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2_Comment</name>
            <defaultValue>
                <stringValue>-</stringValue>
            </defaultValue>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>529</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q3</targetReference>
        </connector>
        <fields>
            <name>Q1_Description_0</name>
            <fieldText>Q3：核实地址</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Address</name>
            <defaultValue>
                <elementReference>AccountAddress</elementReference>
            </defaultValue>
            <fieldText>Account Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>542</locationX>
        <locationY>848</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q4</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>Q4: 请问您比较喜欢阅读哪种杂志呢？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Q4_A</choiceReferences>
            <choiceReferences>Q4_B</choiceReferences>
            <choiceReferences>Q4_C</choiceReferences>
            <choiceReferences>Q4_D</choiceReferences>
            <choiceReferences>Q4_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q4_Comment</name>
            <defaultValue>
                <stringValue>-</stringValue>
            </defaultValue>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <textTemplates>
        <name>Q1_Desc</name>
        <text>Q1： 梅赛德斯-奔驰在近期为您邮递过《梅赛德斯-奔驰杂志》，请问您是否收到呢？
A.收到了	
B.没收到</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_Desc</name>
        <text>Q2.：请问您在阅读梅赛德斯-奔驰杂志过程中，更喜欢哪些内容呢？
A.产品技术	
B.汽车文化	
C.人物	
D.赛车运动	
E.旅游美食	
F.其他</text>
    </textTemplates>
    <textTemplates>
        <name>Q3_Desc</name>
        <text>Q3：核实地址</text>
    </textTemplates>
    <textTemplates>
        <name>Q4_Desc</name>
        <text>Q4：请问您比较喜欢阅读哪种杂志呢？										
A.汽车类	
B.生活方式类	
C.时尚类	
D.不看杂志	
E.其他</text>
    </textTemplates>
    <variables>
        <name>AccountAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cam_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
