src/main/metadata-excluded/flows/X2nd_Survey-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Delete_Survey_Result</name>
        <label>Delete Survey Result</label>
        <locationX>293</locationX>
        <locationY>247</locationY>
        <apexClass>SurveyPlugIn_SRDelete</apexClass>
        <connector>
            <targetReference>Create_Survey_Result</targetReference>
        </connector>
        <inputParameters>
            <name>TaskId</name>
            <value>
                <elementReference>Task_Id</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>Q1a_A</name>
        <choiceText>1. 是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1. 是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1a_B</name>
        <choiceText>2. 否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2. 否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1b_A</name>
        <choiceText>1. 是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1. 是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1b_B</name>
        <choiceText>2. 否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2. 否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_A</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_B</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_D</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_E</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_F</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_G</name>
        <choiceText>7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_H</name>
        <choiceText>8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_I</name>
        <choiceText>9</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_J</name>
        <choiceText>10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_A</name>
        <choiceText>1. 一定会</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1. 一定会</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_B</name>
        <choiceText>2. 可能会</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2. 可能会</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C</name>
        <choiceText>3. 不确定</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3. 不确定</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_D</name>
        <choiceText>4. 可能不会</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4. 可能不会</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_E</name>
        <choiceText>5. 一定不会</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5. 一定不会</stringValue>
        </value>
    </choices>
    <choices>
        <name>Score_NA</name>
        <choiceText>11. N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11. N/A</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_2stSurveyCall</name>
        <dataType>String</dataType>
        <value>
            <stringValue>X2nd_Survey_Result</stringValue>
        </value>
    </constants>
    <constants>
        <name>X2nd_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2nd_Finish</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>296</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Task_RelatedTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>X2nd_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1a</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_Decision</name>
        <label>Q1 Decision</label>
        <locationX>824</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>Goto Q2</defaultConnectorLabel>
        <rules>
            <name>Goto_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1a_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1a_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1b</targetReference>
            </connector>
            <label>Goto Q2</label>
        </rules>
        <rules>
            <name>Goto_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1a_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1a_B</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Goto End</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q2_Decision</name>
        <label>Q2 Decision</label>
        <locationX>829</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>Goto Q3</defaultConnectorLabel>
        <rules>
            <name>Goto_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1b_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1b_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Goto Q3</label>
        </rules>
        <rules>
            <name>Goto_End_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1b_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1b_B</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_C</targetReference>
            </connector>
            <label>Goto End C</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q4_Decision</name>
        <label>Q4 Decision</label>
        <locationX>298</locationX>
        <locationY>1180</locationY>
        <defaultConnectorLabel>Goto End A</defaultConnectorLabel>
        <rules>
            <name>Goto_End_A</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_J</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_A</targetReference>
            </connector>
            <label>Goto End A</label>
        </rules>
        <rules>
            <name>Goto_End_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Q2_I</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Q2_J</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_B</targetReference>
            </connector>
            <label>Goto End B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redo_Decision</name>
        <label>Redo Decision</label>
        <locationX>64</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Survey</defaultConnectorLabel>
        <rules>
            <name>Redo_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Redo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Survey_Result</targetReference>
            </connector>
            <label>Redo Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>66</locationX>
        <locationY>588</locationY>
        <defaultConnectorLabel>Finish Or Error</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSI_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <label>2nd Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>554</locationX>
        <locationY>144</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1a</targetReference>
        </connector>
        <inputAssignments>
            <field>CompanyName__c</field>
            <value>
                <elementReference>SSI_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerName__c</field>
            <value>
                <elementReference>SSI_CustomerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerName__c</field>
            <value>
                <elementReference>SSI_DealerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer__c</field>
            <value>
                <elementReference>SSI_Dealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>SSI_InvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Month__c</field>
            <value>
                <elementReference>SSI_InvoiceMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>SSI_HomeMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>SSI_Person</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId_2stSurveyCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1_Question__c</field>
            <value>
                <elementReference>S2_Q1a_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1b_Question__c</field>
            <value>
                <elementReference>S2_Q1b_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q2_Question__c</field>
            <value>
                <elementReference>S2_Q2_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q3_Question__c</field>
            <value>
                <elementReference>S2_Q3_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q4_Question__c</field>
            <value>
                <elementReference>S2_Q4_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSI_Record__c</field>
            <value>
                <elementReference>Task_RelatedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondMobile__c</field>
            <value>
                <elementReference>SSI_OfficePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>Task_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleModel__c</field>
            <value>
                <elementReference>SSI_VehicleModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleUSvin__c</field>
            <value>
                <elementReference>SSI_VehicleUSvin</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>64</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redo_Decision</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_2stSurveyCall</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId_2stSurveyCall</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SSI_Lookup</name>
        <label>SSI_Lookup</label>
        <locationX>64</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_RelatedTo</elementReference>
            </value>
        </filters>
        <object>SSI__c</object>
        <outputAssignments>
            <assignToReference>SSI_CompanyName</assignToReference>
            <field>CompanyName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_CustomerName</assignToReference>
            <field>CustomerName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_DealerName</assignToReference>
            <field>DealerName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_Dealer</assignToReference>
            <field>Dealer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_HomeMobilePhone</assignToReference>
            <field>HomeMobilePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_InvoiceDate</assignToReference>
            <field>InvoiceDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_InvoiceMonth</assignToReference>
            <field>Invoice_Month__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_OfficePhone</assignToReference>
            <field>OfficePhone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_Person</assignToReference>
            <field>Person__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_VehicleDesc</assignToReference>
            <field>VehicleDesc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_VehicleModel</assignToReference>
            <field>VehicleModel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SSI_VehicleUSvin</assignToReference>
            <field>VehicleUSvin__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>65</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_2stSurveyCall</elementReference>
            </value>
        </filters>
        <filters>
            <field>SSI_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_RelatedTo</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_Id</elementReference>
            </value>
        </filters>
        <object>Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_2st_Survey_Result</name>
        <label>Update 2st Survey Result</label>
        <locationX>558</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Q4_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>S2_EndCa__c</field>
            <value>
                <elementReference>EndC_Comment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_EndCb__c</field>
            <value>
                <elementReference>EndC_Comment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1__c</field>
            <value>
                <elementReference>Q1a_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1a__c</field>
            <value>
                <elementReference>Q1a_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1b__c</field>
            <value>
                <elementReference>Q1b_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q2__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q3__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q4_Code__c</field>
            <value>
                <elementReference>Q4_Advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q4__c</field>
            <value>
                <elementReference>Q4_Advice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>X2nd_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_2st_Survey_Result_0</name>
        <label>Update 2st Survey Result</label>
        <locationX>1104</locationX>
        <locationY>683</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>S2_EndCa__c</field>
            <value>
                <elementReference>EndC_Comment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_EndCb__c</field>
            <value>
                <elementReference>EndC_Comment2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1__c</field>
            <value>
                <elementReference>Q1a_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1a__c</field>
            <value>
                <elementReference>Q1a_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q1b__c</field>
            <value>
                <elementReference>Q1b_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S2_Q2__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>X2nd_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>1103</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>End_Description</name>
            <fieldText>对不起打扰您了，谢谢，再见！</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>End_A</name>
        <label>End A</label>
        <locationX>213</locationX>
        <locationY>939</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>End_A_Description</name>
            <fieldText>【经销商有联系受访者，且受访者评价有改善】非常感谢您接受我们的访问,并对经销商销售服务工作的评价，今后更会以十二分的努力为您提供更好的服务。希望在类似的访问中，您能继续给出高的评价，以鼓励为您服务的经销商。谢谢！再见！</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>End_B</name>
        <label>End B</label>
        <locationX>371</locationX>
        <locationY>938</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>End_B_Description</name>
            <fieldText>【经销商有联系受访者，但其评价没有改善】非常感谢您接受我们的访问,我们会将本次访问中您提出的意见和建议反馈给奔驰厂商，谢谢您，再见！</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>End_C</name>
        <label>End C</label>
        <locationX>1104</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_2st_Survey_Result_0</targetReference>
        </connector>
        <fields>
            <name>End_C_Description</name>
            <fieldText>我们会继续向奔驰厂商反映您的意见和建议，非常感谢您对经销商销售服务工作的支持，今天不打扰您了，祝您用车愉快!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndC_Comment1</name>
            <fieldText>意见</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EndC_Comment2</name>
            <fieldText>建议</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q1a</name>
        <label>Q1a</label>
        <locationX>558</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q1_Decision</targetReference>
        </connector>
        <fields>
            <name>Q1a_Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Q1. 您好,我是梅赛德斯奔驰客户服务中心的访问员 &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!CurrentUser_UserName}&lt;/B&gt;&lt;/FONT&gt; ,请问您是 &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt; {!SSI_CustomerName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1a_Radio</name>
            <choiceReferences>Q1a_A</choiceReferences>
            <choiceReferences>Q1a_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1a_Comment</name>
            <fieldText>备注</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q1b</name>
        <label>Q1b</label>
        <locationX>561</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2_Decision</targetReference>
        </connector>
        <fields>
            <name>Q1b_Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;之前我们对您购买的 &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!SSI_VehicleDesc}&lt;/B&gt;&lt;/FONT&gt; 进行了销售满意度调查,请问之后经销商是否有和您取得过联系,并给与客户关怀?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1b_Radio</name>
            <choiceReferences>Q1b_A</choiceReferences>
            <choiceReferences>Q1b_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>561</locationX>
        <locationY>684</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>我们本次回访主要是想对您上次提出的意见和建议进行跟进,请依然用1到10分当中的任意分值给该经销商的销售服务打分,1分表示无法接受,5分表示一般,10分表示非常好

Q2. 在经销商联系您之后,您目前对该店的销售服务总体评价如何?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Q2_A</choiceReferences>
            <choiceReferences>Q2_B</choiceReferences>
            <choiceReferences>Q2_C</choiceReferences>
            <choiceReferences>Q2_D</choiceReferences>
            <choiceReferences>Q2_E</choiceReferences>
            <choiceReferences>Q2_F</choiceReferences>
            <choiceReferences>Q2_G</choiceReferences>
            <choiceReferences>Q2_H</choiceReferences>
            <choiceReferences>Q2_I</choiceReferences>
            <choiceReferences>Q2_J</choiceReferences>
            <choiceReferences>Score_NA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>分数</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>557</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>Q3. 那您目前向朋友同事推荐这家经销商的可能性有多大？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Q3_A</choiceReferences>
            <choiceReferences>Q3_B</choiceReferences>
            <choiceReferences>Q3_C</choiceReferences>
            <choiceReferences>Q3_D</choiceReferences>
            <choiceReferences>Q3_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>556</locationX>
        <locationY>1012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_2st_Survey_Result</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>Q4. 在经销商联系您之后，您对该店提供的销售服务还有什么其他的意见或建议吗？（注意完整记录）</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Advice</name>
            <fieldText>建议或意见</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <textTemplates>
        <name>S2_Q1a_Q</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Q1. 您好,我是梅赛德斯奔驰客户服务中心的访问员 &lt;B&gt;{!CurrentUser_UserName}&lt;/B&gt; ,请问您是 &lt;B&gt; {!SSI_CustomerName}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1. 是&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2. 否&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;————————————————————————————————&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;【非受访人】对不起打扰您了，谢谢，再见！&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>S2_Q1b_Q</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;之前我们对您购买的 &lt;B&gt;{!SSI_VehicleModel}&lt;/B&gt; 进行了销售满意度调查,请问之后经销商是否有和您取得过联系,并给与客户关怀?&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;1.是&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;2.否&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;————————————————————————————————&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;【经销商没有联系受访者】我们会继续向奔驰厂商反映您的意见和建议，非常感谢您对经销商销售服务工作的支持，今天不打扰您了，祝您用车愉快!&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>S2_Q2_Q</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;我们本次回访主要是想对您上次提出的意见和建议进行跟进,请依然用1到10分当中的任意分值给该经销商的销售服务打分,1分表示无法接受,5分表示一般,10分表示非常好&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Q2. 在经销商联系您之后,您目前对该店的销售服务总体评价如何?&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1-10&lt;FONT KERNING=&quot;1&quot;&gt;分&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;11. N/A&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>S2_Q3_Q</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Q3. 那您目前向朋友同事推荐这家经销商的可能性有多大？&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1. 一定会&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2. 可能会&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3. 不确定&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4. 可能不会&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;5.一定不会&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>S2_Q4_Q</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Q4. 在经销商联系您之后，您对该店提供的销售服务还有什么其他的意见或建议吗？（注意完整记录）&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;————————————————————————————————&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;【若Q2打分为9-10分：经销商有联系受访者，且受访者评价有改善】非常感谢您接受我们的访问,并对经销商销售服务工作的评价，今后更会以十二分的努力为您提供更好的服务。希望在类似的访问中，您能继续给出高的评价，以鼓励为您服务的经销商。谢谢！再见！&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;————————————————————————————————&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;【若Q2打分在8分及以下：经销商有联系受访者，但其评价没有改善】非常感谢您接受我们的访问,我们会将本次访问中您提出的意见和建议反馈给奔驰厂商，谢谢您，再见！&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>CurrentUser_UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId_2stSurveyCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Redo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSI_CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_CustomerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSI_Dealer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_DealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSI_HomeMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_InvoiceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_InvoiceMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_OfficePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_Person</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSI_VehicleDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSI_VehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SSI_VehicleUSvin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_CustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_RelatedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
