src/main/metadata/flows/CLI_Baseline_Measurement_on_national_level_Sales_Process_Survey-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Extremely_Satisfied</name>
        <choiceText>Extremely Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_Satisfied</name>
        <choiceText>Less Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Satisfeid_at_all</name>
        <choiceText>Not Satisfeid at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Satisfeid at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice4</name>
        <choiceText>Probably not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice5</name>
        <choiceText>No, Definitely not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice1</name>
        <choiceText>Extremely Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice2</name>
        <choiceText>Very Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice3</name>
        <choiceText>Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice4</name>
        <choiceText>Less Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice5</name>
        <choiceText>Not important at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not important at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice4</name>
        <choiceText>Probably Not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably Not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice5</name>
        <choiceText>No, Definitely not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice1</name>
        <choiceText>{!IN_Ph1_Q1_Choice1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice2</name>
        <choiceText>{!IN_Ph1_Q1_Choice2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice3</name>
        <choiceText>{!IN_Ph1_Q1_Choice3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice1</name>
        <choiceText>2016</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2016</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice2</name>
        <choiceText>2017</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2017</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice3</name>
        <choiceText>2018 or later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2018 or later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice4</name>
        <choiceText>I cant tell this time / I dont&apos;t know</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I cant tell this time / I dont&apos;t know</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice1</name>
        <choiceText>Yes, I&apos;m the main user.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, I&apos;m the main user.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice2</name>
        <choiceText>No another person is the main user.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforQ2Choice2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice2</name>
        <choiceText>Do not want to diisclose the main user.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Do not want to diisclose the main user.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice1</name>
        <choiceText>At the Mercedes Benz dealership where i bought the vehicle.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At the Mercedes Benz dealership where i bought the vehicle.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice2</name>
        <choiceText>At another authorized Mercedes-Benz dealer.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At another authorized Mercedes-Benz dealer.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice3</name>
        <choiceText>At an independent workshop.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At an independent workshop.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice4</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice1</name>
        <choiceText>Yes, Once.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Once.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice2</name>
        <choiceText>Yes, Several times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Several times.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice3</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice4</name>
        <choiceText>Probably Not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably Not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice5</name>
        <choiceText>No, Definitely Not.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely Not.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_16_20_months_ago</name>
        <choiceText>Vehicle_acquired_16_20_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase2Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_28_32_months_ago</name>
        <choiceText>Vehicle_acquired_28_32_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase3Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_4_8_months_ago</name>
        <choiceText>Vehicle_acquired_4_8_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase1Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Very_Satisfied</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_Phase</name>
        <label>Check Phase</label>
        <locationX>646</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Phase1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phase1Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_1_Flow</targetReference>
            </connector>
            <label>Phase1</label>
        </rules>
        <rules>
            <name>Phase2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phase2Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_2_Flow</targetReference>
            </connector>
            <label>Phase2</label>
        </rules>
        <rules>
            <name>Phase3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phase3Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_3_Flow</targetReference>
            </connector>
            <label>Phase3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Sales_Process_Survey</name>
        <label>Start Sales Process Survey</label>
        <locationX>399</locationX>
        <locationY>91</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phase_Selection</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <description>India Market Flow</description>
    <formulas>
        <name>IN_Ph1_Q1_Choice1</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice1}</expression>
    </formulas>
    <formulas>
        <name>IN_Ph1_Q1_Choice2</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice2}</expression>
    </formulas>
    <formulas>
        <name>IN_Ph1_Q1_Choice3</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice3}</expression>
    </formulas>
    <formulas>
        <name>LabelforQ2Choice1</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Q2_LAbel_Choice1}</expression>
    </formulas>
    <formulas>
        <name>LabelforQ2Choice2</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Q2_LAbel_Choice2}</expression>
    </formulas>
    <formulas>
        <name>Phase1Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase1}</expression>
    </formulas>
    <formulas>
        <name>Phase2Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase2}</expression>
    </formulas>
    <formulas>
        <name>Phase3Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase3}</expression>
    </formulas>
    <interviewLabel>CLI Baseline Measurement on national level - Sales Process Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLI Baseline Measurement on national level - Sales Process Survey</label>
    <processType>Flow</processType>
    <screens>
        <name>Phase_Selection</name>
        <label>Phase Selection</label>
        <locationX>646</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Phase</targetReference>
        </connector>
        <fields>
            <name>SelectPhase</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select the Category below:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phase</name>
            <choiceReferences>Vehicle_acquired_4_8_months_ago</choiceReferences>
            <choiceReferences>Vehicle_acquired_16_20_months_ago</choiceReferences>
            <choiceReferences>Vehicle_acquired_28_32_months_ago</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VehicleClass</name>
            <fieldText>Please enter the Vehicle Class for which survey is made.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Class</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Sales_Process_Survey</startElementReference>
    <subflows>
        <name>Phase_1_Flow</name>
        <label>Phase 1 Flow</label>
        <locationX>418</locationX>
        <locationY>380</locationY>
        <flowName>Phase1_Sales_process_Survey</flowName>
        <inputAssignments>
            <name>Class</name>
            <value>
                <elementReference>Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q1_ID</name>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q2_ID</name>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q3_ID</name>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q4_ID</name>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q5_ID</name>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q6_ID</name>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q7_ID</name>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q8_ID</name>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q9_ID</name>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q10_ID</name>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q11_ID</name>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q12_ID</name>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q13_ID</name>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q14_ID</name>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q15_ID</name>
            <value>
                <elementReference>Q15_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q16_ID</name>
            <value>
                <elementReference>Q16_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q17_ID</name>
            <value>
                <elementReference>Q17_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q18_ID</name>
            <value>
                <elementReference>Q18_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q19_ID</name>
            <value>
                <elementReference>Q19_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q20_ID</name>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q21_ID</name>
            <value>
                <elementReference>Q21_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q22_ID</name>
            <value>
                <elementReference>Q22_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q23_ID</name>
            <value>
                <elementReference>Q23_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q24_ID</name>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q25_ID</name>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q26_ID</name>
            <value>
                <elementReference>Q26_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q27_ID</name>
            <value>
                <elementReference>Q27_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q28_ID</name>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q29_ID</name>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyID</name>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OptyID</name>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CampaignID</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyType</name>
            <value>
                <elementReference>SurveyType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TestClass</assignToReference>
            <name>Class</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Phase_2_Flow</name>
        <label>Phase 2 Flow</label>
        <locationX>645</locationX>
        <locationY>376</locationY>
        <flowName>Phase2_Sales_process_Survey</flowName>
        <inputAssignments>
            <name>Q1_ID</name>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q2_ID</name>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q3_ID</name>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q4_ID</name>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q5_ID</name>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q6_ID</name>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q7_ID</name>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q8_ID</name>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q9_ID</name>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q10_ID</name>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q11_ID</name>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q12_ID</name>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q13_ID</name>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q14_ID</name>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q15_ID</name>
            <value>
                <elementReference>Q15_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q16_ID</name>
            <value>
                <elementReference>Q16_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q17_ID</name>
            <value>
                <elementReference>Q17_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q18_ID</name>
            <value>
                <elementReference>Q18_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q19_ID</name>
            <value>
                <elementReference>Q19_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q20_ID</name>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q21_ID</name>
            <value>
                <elementReference>Q21_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q22_ID</name>
            <value>
                <elementReference>Q22_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q23_ID</name>
            <value>
                <elementReference>Q23_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q24_ID</name>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q25_ID</name>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q26_ID</name>
            <value>
                <elementReference>Q26_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q27_ID</name>
            <value>
                <elementReference>Q27_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q28_ID</name>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q29_ID</name>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Class</name>
            <value>
                <elementReference>Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyID</name>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OptyID</name>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CampaignID</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyType</name>
            <value>
                <elementReference>SurveyType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TestClass</assignToReference>
            <name>Class</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Phase_3_Flow</name>
        <label>Phase 3 Flow</label>
        <locationX>815</locationX>
        <locationY>376</locationY>
        <flowName>Phase3_Sales_process_Survey</flowName>
        <inputAssignments>
            <name>Q1_ID</name>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q2_ID</name>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q3_ID</name>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q4_ID</name>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q5_ID</name>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q6_ID</name>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q7_ID</name>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q8_ID</name>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q9_ID</name>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q10_ID</name>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q11_ID</name>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q12_ID</name>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q13_ID</name>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q14_ID</name>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q15_ID</name>
            <value>
                <elementReference>Q15_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q16_ID</name>
            <value>
                <elementReference>Q16_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q17_ID</name>
            <value>
                <elementReference>Q17_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q18_ID</name>
            <value>
                <elementReference>Q18_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q19_ID</name>
            <value>
                <elementReference>Q19_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q20_ID</name>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q21_ID</name>
            <value>
                <elementReference>Q21_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q22_ID</name>
            <value>
                <elementReference>Q22_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q23_ID</name>
            <value>
                <elementReference>Q23_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q24_ID</name>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q25_ID</name>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q26_ID</name>
            <value>
                <elementReference>Q26_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q27_ID</name>
            <value>
                <elementReference>Q27_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q28_ID</name>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Class</name>
            <value>
                <elementReference>Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OptyID</name>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CampaignID</name>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyID</name>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SurveyType</name>
            <value>
                <elementReference>SurveyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentUser</name>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Q29_ID</name>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TestClass</assignToReference>
            <name>Class</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q11_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q12_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q13_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q14_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q15_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q16_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q17_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q18_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q19_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_Radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q20_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q21_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q22_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q23_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q24_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q25_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q26_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q27_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q28_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q29_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_Radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question_Responses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
