src/main/metadata/flows/Customer_Experience_After_Event_Survey-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Q1_A</name>
        <choiceText>A. 是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_B</name>
        <choiceText>B. 否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_C</name>
        <choiceText>C. N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_A</name>
        <choiceText>A. 非常满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_B</name>
        <choiceText>B.  满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_C</name>
        <choiceText>C. 一般</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_D</name>
        <choiceText>D.  不满意</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D.  不满意</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_E</name>
        <choiceText>E. 未下面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未下面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_A</name>
        <choiceText>A. 是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_B</name>
        <choiceText>B. 否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q3_C</name>
        <choiceText>C. N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_A</name>
        <choiceText>A. 试驾</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>试驾</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_B</name>
        <choiceText>B. 车展</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>车展</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_C</name>
        <choiceText>C. 车主讲堂</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>车主讲堂</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_D</name>
        <choiceText>D. 收藏(古董/玉石/书画/其他)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>收藏(古董/玉石/书画/其他)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_E</name>
        <choiceText>E. 音乐(流行/古典/其他)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>音乐(流行/古典/其他)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_F</name>
        <choiceText>F. 时尚(时装/美容/其他)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>时尚(时装/美容/其他)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_G</name>
        <choiceText>G. 艺术(摄影/绘画/雕塑/其他)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>艺术(摄影/绘画/雕塑/其他)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_H</name>
        <choiceText>H. 体育活动/赛事(赛车/网球/篮球/远足/其他)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>体育活动/赛事(赛车/网球/篮球/远足/其他)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_I</name>
        <choiceText>I. 其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_A</name>
        <choiceText>A. 是</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_B</name>
        <choiceText>B. 否</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>否</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q5_C</name>
        <choiceText>C. N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_A</name>
        <choiceText>A. 太忙</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>太忙</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_B</name>
        <choiceText>B. 私人事务</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>私人事务</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_C</name>
        <choiceText>C. 朋友想去</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>朋友想去</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_D</name>
        <choiceText>D. 无兴趣</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>无兴趣</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_E</name>
        <choiceText>E. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_F</name>
        <choiceText>F. 其他</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>其他</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_A</name>
        <choiceText>A. 是,并且朋友参加</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是,并且朋友参加</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_B</name>
        <choiceText>B. 是,但朋友未参加</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是,但朋友未参加</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_C</name>
        <choiceText>C. 是,不清楚朋友是否参加</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>是,不清楚朋友是否参加</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_D</name>
        <choiceText>D. 未转让</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未转让</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_E</name>
        <choiceText>E. 未正面回答</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>未正面回答</stringValue>
        </value>
    </choices>
    <constants>
        <name>RecordType_DevelopName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer_Experience_After_Event_Survey</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Finish</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Finish</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q3</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q4</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q6</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q7</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q8</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q8</stringValue>
        </value>
    </constants>
    <constants>
        <name>Step_Q9</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q9</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Survey_Result_Decision</name>
        <label>Create Survey Result Decision</label>
        <locationX>294</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Finish Survey</defaultConnectorLabel>
        <rules>
            <name>New_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Result</targetReference>
            </connector>
            <label>New Survey</label>
        </rules>
        <rules>
            <name>Open_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Open Survey</label>
        </rules>
        <rules>
            <name>Jump_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Step_Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jump_Survey_Decision</targetReference>
            </connector>
            <label>Jump Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jump_Survey_Decision</name>
        <label>Jump Survey Decision</label>
        <locationX>294</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Jump_To_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>Jump To Q2</label>
        </rules>
        <rules>
            <name>Jump_To_Q3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>Jump To Q3</label>
        </rules>
        <rules>
            <name>Jump_To_Q4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>Jump To Q4</label>
        </rules>
        <rules>
            <name>Jump_To_Q5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5</targetReference>
            </connector>
            <label>Jump To Q5</label>
        </rules>
        <rules>
            <name>Jump_To_Q6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q6</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q6</targetReference>
            </connector>
            <label>Jump To Q6</label>
        </rules>
        <rules>
            <name>Jump_To_Q7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q7</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q7</targetReference>
            </connector>
            <label>Jump To Q7</label>
        </rules>
        <rules>
            <name>Jump_To_Q8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q8</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q8</targetReference>
            </connector>
            <label>Jump To Q8</label>
        </rules>
        <rules>
            <name>Jump_To_Q9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SR_SurveyStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Step_Q9</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q9</targetReference>
            </connector>
            <label>Jump To Q9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q1_Decision</name>
        <label>Q1 Decision</label>
        <locationX>839</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Update_Q1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Goto Q6</defaultConnectorLabel>
        <rules>
            <name>Goto_Q2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Q1</targetReference>
            </connector>
            <label>Goto Q2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Decision</name>
        <label>Start Decision</label>
        <locationX>109</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>End Survey</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Lookup</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <description>Customer Experience After-Event Survey--</description>
    <formulas>
        <name>Code_Q1</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q1_Radio}, 
{!Q1_A}, 1, 
{!Q1_B}, 2, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q2</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q2_Radio}, 
{!Q2_A}, 1, 
{!Q2_B}, 2, 
{!Q2_C}, 3, 
{!Q2_D}, 4, 
{!Q2_E}, 5, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q4</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q4_Radio}, 
{!Q4_A}, 1, 
{!Q4_B}, 2, 
{!Q4_C}, 3, 
{!Q4_D}, 4, 
{!Q4_E}, 5, 
{!Q4_F}, 6, 
{!Q4_G}, 7, 
{!Q4_H}, 8, 
{!Q4_I}, 9, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q6</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q6_Radio}, 
{!Q6_A}, 1, 
{!Q6_B}, 2, 
{!Q6_C}, 3, 
{!Q6_D}, 4, 
{!Q6_E}, 5, 
{!Q6_F}, 6, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q7</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q7_Radio}, 
{!Q7_A}, 1, 
{!Q7_B}, 2, 
{!Q7_C}, 3, 
{!Q7_D}, 4, 
{!Q7_E}, 5, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Code_Q8</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Q8_Radio}, 
{!Q4_A}, 1, 
{!Q4_B}, 2, 
{!Q4_C}, 3, 
{!Q4_D}, 4, 
{!Q4_E}, 5, 
{!Q4_F}, 6, 
{!Q4_G}, 7, 
{!Q4_H}, 8, 
{!Q4_I}, 9, 
11
)</expression>
        <scale>0</scale>
    </formulas>
    <label>Customer Experience After-Event Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Result</name>
        <label>Create Survey Result</label>
        <locationX>604</locationX>
        <locationY>42</locationY>
        <assignRecordIdToReference>SR_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>SR_SurveyStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId__c</field>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>108</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Campaign_Lookup</name>
        <label>Campaign Lookup</label>
        <locationX>109</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>Cam_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordType_Lookup</name>
        <label>RecordType_Lookup</label>
        <locationX>107</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SurveyResult_Lookup</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_DevelopName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SurveyResult_Lookup</name>
        <label>SurveyResult_Lookup</label>
        <locationX>109</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Result_Decision</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <object>Campaign_Survey_Result__c</object>
        <outputAssignments>
            <assignToReference>SR_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SR_SurveyStep</assignToReference>
            <field>Survey_Step__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Q1</name>
        <label>Update Q1</label>
        <locationX>603</locationX>
        <locationY>274</locationY>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q2</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q1_0</name>
        <label>Update Q1</label>
        <locationX>1059</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q1_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Answer__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Question__c</field>
            <value>
                <elementReference>Q1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q6</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q2</name>
        <label>Update Q2</label>
        <locationX>831</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q2_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Answer__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Question__c</field>
            <value>
                <elementReference>Q2_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q3</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q3</name>
        <label>Update Q3</label>
        <locationX>834</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q3_A_Comment__c</field>
            <value>
                <elementReference>Q3_A_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer_Code__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Answer__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_B_Comment__c</field>
            <value>
                <elementReference>Q3_B_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_Question__c</field>
            <value>
                <elementReference>Q3_A_B_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q4</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q4</name>
        <label>Update Q4</label>
        <locationX>835</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Answer__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q4_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_Question__c</field>
            <value>
                <elementReference>Q4_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q5</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q5</name>
        <label>Update Q5</label>
        <locationX>837</locationX>
        <locationY>772</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q5_Answer_Code__c</field>
            <value>
                <elementReference>Q5_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Answer__c</field>
            <value>
                <elementReference>Q5_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Question__c</field>
            <value>
                <elementReference>Q5_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q6</name>
        <label>Update Q6</label>
        <locationX>1293</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q6_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Answer__c</field>
            <value>
                <elementReference>Q6_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Comment__c</field>
            <value>
                <elementReference>Q6_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Question__c</field>
            <value>
                <elementReference>Q6_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q7</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q7</name>
        <label>Update Q7</label>
        <locationX>1297</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q7_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Answer__c</field>
            <value>
                <elementReference>Q7_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Question__c</field>
            <value>
                <elementReference>Q7_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q8</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q8</name>
        <label>Update Q8</label>
        <locationX>1300</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Q9</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q4_Comment__c</field>
            <value>
                <elementReference>Q8_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Answer_Code__c</field>
            <value>
                <elementReference>Code_Q8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Answer__c</field>
            <value>
                <elementReference>Q8_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Question__c</field>
            <value>
                <elementReference>Q8_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Q9</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Q9</name>
        <label>Update Q9</label>
        <locationX>1299</locationX>
        <locationY>663</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Q9_Answer_Code__c</field>
            <value>
                <elementReference>Q9_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Answer__c</field>
            <value>
                <elementReference>Q9_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q9_Question__c</field>
            <value>
                <elementReference>Q9_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Step__c</field>
            <value>
                <elementReference>Step_Finish</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign_Survey_Result__c</object>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>608</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q1_Decision</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>Q1. 请问您是否参与了活动?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Q1_A</choiceReferences>
            <choiceReferences>Q1_B</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>600</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q2</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>Q2. 请问您对本次活动的评价如何?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Q2_A</choiceReferences>
            <choiceReferences>Q2_B</choiceReferences>
            <choiceReferences>Q2_C</choiceReferences>
            <choiceReferences>Q2_D</choiceReferences>
            <choiceReferences>Q2_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>600</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q3</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>Q3. 对本次活动的具体评价.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_A_Description</name>
            <fieldText>A. 认为本次活动亮点(最满意的地方)是什么?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_A_Comment</name>
            <fieldText>答案</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q3_B_Description</name>
            <fieldText>B. 需要提高的地方(不是非常满意的地方)是什么?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_B_Comment</name>
            <fieldText>答案</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>599</locationX>
        <locationY>647</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q4</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>Q4. 最感兴趣的活动类型?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Q4_A</choiceReferences>
            <choiceReferences>Q4_B</choiceReferences>
            <choiceReferences>Q4_C</choiceReferences>
            <choiceReferences>Q4_D</choiceReferences>
            <choiceReferences>Q4_E</choiceReferences>
            <choiceReferences>Q4_F</choiceReferences>
            <choiceReferences>Q4_G</choiceReferences>
            <choiceReferences>Q4_H</choiceReferences>
            <choiceReferences>Q4_I</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4_Comment</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>598</locationX>
        <locationY>772</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q5</targetReference>
        </connector>
        <fields>
            <name>Q5_Description</name>
            <fieldText>Q5. 您对梅赛德斯-奔驰未来活动还有什么希望或建议?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Comment</name>
            <fieldText>答案</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>1060</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q6</targetReference>
        </connector>
        <fields>
            <name>Q6_Description</name>
            <fieldText>Q6. 未参与活动的原因？</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>Q6_A</choiceReferences>
            <choiceReferences>Q6_B</choiceReferences>
            <choiceReferences>Q6_C</choiceReferences>
            <choiceReferences>Q6_D</choiceReferences>
            <choiceReferences>Q6_E</choiceReferences>
            <choiceReferences>Q6_F</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q6_Comment</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>1065</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q7</targetReference>
        </connector>
        <fields>
            <name>Q7_Description</name>
            <fieldText>Q7. 是否将票转给了他人?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Q7_A</choiceReferences>
            <choiceReferences>Q7_B</choiceReferences>
            <choiceReferences>Q7_C</choiceReferences>
            <choiceReferences>Q7_D</choiceReferences>
            <choiceReferences>Q7_E</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>1066</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q8</targetReference>
        </connector>
        <fields>
            <name>Q8_Description</name>
            <fieldText>Q8. 最感兴趣的活动类型?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <choiceReferences>Q4_A</choiceReferences>
            <choiceReferences>Q4_B</choiceReferences>
            <choiceReferences>Q4_C</choiceReferences>
            <choiceReferences>Q4_D</choiceReferences>
            <choiceReferences>Q4_E</choiceReferences>
            <choiceReferences>Q4_F</choiceReferences>
            <choiceReferences>Q4_G</choiceReferences>
            <choiceReferences>Q4_H</choiceReferences>
            <choiceReferences>Q4_I</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q8_Comment</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>1058</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Q9</targetReference>
        </connector>
        <fields>
            <name>Q9_Description</name>
            <fieldText>Q9. 您对梅赛德斯-奔驰未来活动还有什么希望或建议?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Comment</name>
            <fieldText>答案</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Decision</startElementReference>
    <textTemplates>
        <name>Q3_A_B_Description</name>
        <text>{!Q3_A_Description}
{!Q3_B_Description}</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cam_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>campaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SR_SurveyStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step_Q5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Q5</stringValue>
        </value>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
