src/main/metadata/flows/Dealer_Lead_Status_picklist_update-20.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.MD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Lead_Latest_Phase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Sales Leads</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.MD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Lead_Latest_Phase__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aftersales_Leads</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>After Slaes Leads</label>
        </rules>
    </decisions>
    <description>Dealer Lead Status picklist update</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ( ISPICKVAL( [Lead__c].Lead_Latest_Phase__c, &apos;Quotation&apos; )  &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ),&apos;Quotation&apos;,
IF ( ISPICKVAL( [Lead__c].Lead_Latest_Phase__c, &apos;Order Placed&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Order Placed&apos;, 
IF ( ISPICKVAL( [Lead__c].Lead_Latest_Phase__c, &apos;Order Confirmed&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Order Confirmed&apos;, 
IF ( ISPICKVAL( [Lead__c].Lead_Latest_Phase__c, &apos;Assigned/Accepted&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Assigned/Accepted&apos;,
IF ( ISPICKVAL( [Lead__c].Lead_Latest_Phase__c, &apos;Invoiced&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Invoiced&apos;, TEXT( [Lead__c].Dealer_Lead_Status__c )))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4059036334</name>
        <dataType>String</dataType>
        <expression>IF ( ISPICKVAL( {!myVariable_current.Lead_Latest_Phase__c}, &apos;Quotation&apos; )  &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ),&apos;Quotation&apos;,
IF ( ISPICKVAL( {!myVariable_current.Lead_Latest_Phase__c}, &apos;Order Placed&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Order Placed&apos;, 
IF ( ISPICKVAL( {!myVariable_current.Lead_Latest_Phase__c}, &apos;Order Confirmed&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Order Confirmed&apos;, 
IF ( ISPICKVAL( {!myVariable_current.Lead_Latest_Phase__c}, &apos;Assigned/Accepted&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Assigned/Accepted&apos;, 
IF ( ISPICKVAL( {!myVariable_current.Lead_Latest_Phase__c}, &apos;Invoiced&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Invoiced&apos;, TEXT( {!myVariable_current.Dealer_Lead_Status__c} ))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ( ISPICKVAL([Lead__c].Lead_Latest_Phase__c, &apos;WIP Linkage&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;WIP&apos;, 
IF ( ISPICKVAL([Lead__c].Lead_Latest_Phase__c, &apos;Estimation&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Estimation&apos;, 
IF ( ISPICKVAL([Lead__c].Lead_Latest_Phase__c, &apos;Invoiced&apos; ) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Invoiced&apos;, 
IF ( ISPICKVAL([Lead__c].Lead_Latest_Phase__c, &apos;Job Card Issue&apos;) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Job Card Issue&apos;,
IF ( ISPICKVAL([Lead__c].Lead_Latest_Phase__c, &apos;Checkout&apos;) &amp;&amp; ISCHANGED ( [Lead__c].Lead_Latest_Phase__c ), &apos;Service Completed&apos;, TEXT ( [Lead__c].Dealer_Lead_Status__c ))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_3282221316</name>
        <dataType>String</dataType>
        <expression>IF ( ISPICKVAL({!myVariable_current.Lead_Latest_Phase__c}, &apos;WIP Linkage&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;WIP&apos;, 
IF ( ISPICKVAL({!myVariable_current.Lead_Latest_Phase__c}, &apos;Estimation&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Estimation&apos;, 
IF ( ISPICKVAL({!myVariable_current.Lead_Latest_Phase__c}, &apos;Invoiced&apos; ) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Invoiced&apos;, 
IF ( ISPICKVAL({!myVariable_current.Lead_Latest_Phase__c}, &apos;Job Card Issue&apos;) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Job Card Issue&apos;,
IF ( ISPICKVAL({!myVariable_current.Lead_Latest_Phase__c}, &apos;Checkout&apos;) &amp;&amp; ISCHANGED ( {!myVariable_current.Lead_Latest_Phase__c} ), &apos;Service Completed&apos;, TEXT ( {!myVariable_current.Dealer_Lead_Status__c} ))))))</expression>
    </formulas>
    <label>Dealer Lead Status picklist update</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Sales Leads - Dealer Lead Status picklist update</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Dealer Lead Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Dealer_Lead_Status__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4059036334</elementReference>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Aftersales Leads - Dealer Lead Status picklist update</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Dealer Lead Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Dealer_Lead_Status__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_3282221316</elementReference>
            </value>
        </inputAssignments>
        <object>Lead__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
