src/main/metadata/flows/Event_satisfaction_evaluations-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Op_no</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_no}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_no</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_yes}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>MD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TR</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Start_Survey</name>
        <label>Start Survey</label>
        <locationX>46</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Campaign_Record</targetReference>
            </connector>
            <label>If Campaign</label>
        </rules>
    </decisions>
    <formulas>
        <name>Label_Comments</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Comments}</expression>
    </formulas>
    <formulas>
        <name>Label_no</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey7_Q1_P1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey7_Q1_P2}</expression>
    </formulas>
    <formulas>
        <name>Label_ShareViews</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Share_Views}</expression>
    </formulas>
    <formulas>
        <name>Label_SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <label>Event satisfaction evaluations</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Response_1</name>
        <label>Response 1</label>
        <locationX>756</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Response_2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_2</name>
        <label>Response 2</label>
        <locationX>582</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Survey_Taken_Record_Create</name>
        <label>Survey Taken Record Create</label>
        <locationX>752</locationX>
        <locationY>41</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Response_1</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <stringValue>md</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Campaign_Record</name>
        <label>Fetch Campaign Record</label>
        <locationX>256</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>StartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>423</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Ques1</name>
            <fieldText>{!Label_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_no</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ques1_txt</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>592</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Survey_Taken_Record_Create</targetReference>
        </connector>
        <fields>
            <name>Ques2</name>
            <fieldText>{!Label_ShareViews}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_no</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ques2_txt</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>420</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#3333FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_SurveyCompleted}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Survey</startElementReference>
    <textTemplates>
        <name>Label_Q1</name>
        <text>{!StartDate} {!Label_Q1_P2}</text>
    </textTemplates>
    <textTemplates>
        <name>Q1_res</name>
        <text>{!Q1_Radio} {!Q1_txt}</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_res</name>
        <text>{!Q2_Radio} {!Q2_txt}</text>
    </textTemplates>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
