src/main/metadata/flows/Happy_Call_Hour_Survey-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_For_No}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_For_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_For_Yes}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_For_Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KR</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Start_Happy_Call_Survey</name>
        <label>Start Happy Call Survey</label>
        <locationX>93</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <description>No</description>
        <name>Label_For_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <description>Q1 . Are you happy with the repair service quality?</description>
        <name>Label_For_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q1_service_quality}</expression>
    </formulas>
    <formulas>
        <description>Q2 . Are you satisfied with the kindness of 000 service center employee?</description>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Service_center_employee}</expression>
    </formulas>
    <formulas>
        <description>Q3 . Are you satisfied with the overall Pick up &amp; Delivery service ?</description>
        <name>Label_For_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q3_Delivery_Service}</expression>
    </formulas>
    <formulas>
        <description>Q4 . Through what channel did you get 000 service center information?</description>
        <name>Label_For_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Service_Center_Information}</expression>
    </formulas>
    <formulas>
        <description>Q5 .  Recommend the best employee in 000 service center.</description>
        <name>Label_For_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q5_Service_Center}</expression>
    </formulas>
    <formulas>
        <description>Yes</description>
        <name>Label_For_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <description>Thank you so much !!!! You Survey has been completed.</description>
        <name>SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <label>Happy Call Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create Survey Question Response1</label>
        <locationX>308</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response2</name>
        <label>Create Survey Question Response2</label>
        <locationX>481</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response3</name>
        <label>Create Survey Question Response3</label>
        <locationX>669</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response4</name>
        <label>Create Survey Question Response4</label>
        <locationX>668</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response5</name>
        <label>Create Survey Question Response5</label>
        <locationX>490</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>135</locationX>
        <locationY>318</locationY>
        <assignRecordIdToReference>SurveyTakenID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <description>Are you happy with the repair service quality?</description>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>308</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!Label_For_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Are you satisfied with the kindness of 000 service center employee?</description>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>481</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Are you satisfied with the overall Pick up &amp; Delivery service ?</description>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>483</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>{!Label_For_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Through what channel did you get 000 service center information?</description>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>298</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>{!Label_For_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Recommend the best employee in 000 service center.</description>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>139</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Q5_Description</name>
            <fieldText>{!Label_For_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>313</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYouNote</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#3366CC&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyCompleted}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Happy_Call_Survey</startElementReference>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
