src/main/metadata/flows/Lead_Confirmation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Op_easy</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_easy}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_easy</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_No}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_not_easy</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_Not_Easy}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_Not_Easy</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_So_So</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_So_So}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_So_So</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_Yes}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>AfterSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>After Sales</stringValue>
        </value>
    </constants>
    <constants>
        <name>MD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TR</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Dealer_Contacted_or_Not</name>
        <label>Dealer Contacted or Not</label>
        <locationX>920</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Q2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio_Sales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_Radio_AfterSales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_1</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dealer_Contacted_or_Not_1</name>
        <label>Dealer Contacted or Not</label>
        <locationX>477</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Response_2_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio_Sales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q1_Radio_AfterSales</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_2_Yes</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordType_Name</name>
        <label>RecordType Name</label>
        <locationX>559</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_Sales</targetReference>
            </connector>
            <label>If Sales</label>
        </rules>
        <rules>
            <name>If_AfterSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AfterSales</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1_AfterSales</targetReference>
            </connector>
            <label>If AfterSales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Survey</name>
        <label>Start Survey</label>
        <locationX>101</locationX>
        <locationY>47</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Opp_Record</targetReference>
            </connector>
            <label>If Lead</label>
        </rules>
    </decisions>
    <formulas>
        <name>Label_Comments</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Comments}</expression>
    </formulas>
    <formulas>
        <name>Label_easy</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Op1}</expression>
    </formulas>
    <formulas>
        <name>Label_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_Not_Easy</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Op3}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q1_P1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q1_P2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P3_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q1_P3_1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P3_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q1_P3_2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q1_P4}</expression>
    </formulas>
    <formulas>
        <name>Label_Q2_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q2_P1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q2_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey3_4_Q2_P2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey1_2_Q4}</expression>
    </formulas>
    <formulas>
        <name>Label_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Share_Views}</expression>
    </formulas>
    <formulas>
        <name>Label_So_So</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Op2}</expression>
    </formulas>
    <formulas>
        <name>Label_SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <label>Lead Confirmation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Taken_Record</name>
        <label>Create Survey Taken Record</label>
        <locationX>477</locationX>
        <locationY>374</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Response_1</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_1</name>
        <label>Response 1</label>
        <locationX>478</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Dealer_Contacted_or_Not_1</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_2_No</name>
        <label>Response 2_No</label>
        <locationX>686</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_res_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID_1</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_2_Yes</name>
        <label>Response 2_Yes</label>
        <locationX>294</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>Response_3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_res_yes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_3</name>
        <label>Response 3</label>
        <locationX>295</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Response_4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_4</name>
        <label>Response 4</label>
        <locationX>479</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>ThankYou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Opp_Record</name>
        <label>Fetch Opp Record</label>
        <locationX>278</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_RecordType_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Dealer</assignToReference>
            <field>Assigned_Dealer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstContactCustomer</assignToReference>
            <field>First_Contact_Customer_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_RecordType_Name</name>
        <label>Fetch RecordType Name</label>
        <locationX>414</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordType_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Q1_AfterSales</name>
        <label>Q1_AfterSales</label>
        <locationX>746</locationX>
        <locationY>123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Dealer_Contacted_or_Not</targetReference>
        </connector>
        <fields>
            <name>Ques1_aftersales</name>
            <fieldText>{!Label_Q1_AfterSales}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio_AfterSales</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_text_0</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_txt_aftersales</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q1_Sales</name>
        <label>Q1_Sales</label>
        <locationX>744</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Dealer_Contacted_or_Not</targetReference>
        </connector>
        <fields>
            <name>Ques1_sales</name>
            <fieldText>{!Label_Q1_Sales}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio_Sales</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_text</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_txt_sales</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2_1</name>
        <label>Q2_1</label>
        <locationX>806</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Ques2_1</name>
            <fieldText>{!Label_Q2_1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio_1</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_1_com</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_1_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2_2</name>
        <label>Q2_2</label>
        <locationX>1018</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken_Record</targetReference>
        </connector>
        <fields>
            <name>Ques2_1_0</name>
            <fieldText>{!Label_Q2_2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio_2</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2_2_com</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_2_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>642</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Ques3</name>
            <fieldText>{!Label_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Op_easy</choiceReferences>
            <choiceReferences>Op_So_So</choiceReferences>
            <choiceReferences>Op_not_easy</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3_com</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>475</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken_Record</targetReference>
        </connector>
        <fields>
            <name>Ques4</name>
            <fieldText>{!Label_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q4_text</name>
            <fieldText>{!Label_Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_txt</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>685</locationX>
        <locationY>709</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Thnks</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#3333FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_SurveyCompleted}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Survey</startElementReference>
    <textTemplates>
        <name>Label_Q1_AfterSales</name>
        <text>{!Label_Q1_P1} {!FirstContactCustomer} {!Label_Q1_P2} {!Dealer} {!Label_Q1_P3_2} {!Dealer} {!Label_Q1_P4}</text>
    </textTemplates>
    <textTemplates>
        <name>Label_Q1_Sales</name>
        <text>{!Label_Q1_P1} {!FirstContactCustomer} {!Label_Q1_P2} {!Dealer} {!Label_Q1_P3_1} {!Dealer} {!Label_Q1_P4}</text>
    </textTemplates>
    <textTemplates>
        <name>Q1_res</name>
        <text>{!Q1_Radio_Sales} {!Q1_txt_sales}</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_res_No</name>
        <text>{!Q2_Radio_2} {!Q2_2_txt}</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_res_yes</name>
        <text>{!Q2_Radio_1} {!Q2_1_txt}</text>
    </textTemplates>
    <textTemplates>
        <name>Q3_res</name>
        <text>{!Q3_Radio} {!Q3_txt}</text>
    </textTemplates>
    <textTemplates>
        <name>Q4_res</name>
        <text>{!Q4_Radio} {!Q4_txt}</text>
    </textTemplates>
    <variables>
        <name>Dealer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstContactCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
