src/main/metadata/flows/Lost_Sales_Management_Survey-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>BR1</name>
        <choiceText>{!Label_BR1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR1</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR10</name>
        <choiceText>{!Label_BR10}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR10</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR11</name>
        <choiceText>{!Label_BR11}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR11</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR12</name>
        <choiceText>{!Label_BR12}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR12</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR13</name>
        <choiceText>{!Label_BR13}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR13</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR14</name>
        <choiceText>{!Label_BR14}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR14</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR15</name>
        <choiceText>{!Label_BR15}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR15</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR16</name>
        <choiceText>{!Label_BR16}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR16</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR17</name>
        <choiceText>{!Label_BR17}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR17</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR18</name>
        <choiceText>{!Label_BR18}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR18</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR19</name>
        <choiceText>{!Label_BR19}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR19</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR2</name>
        <choiceText>{!Label_BR2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR2</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR20</name>
        <choiceText>{!Label_BR20}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR20</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR21</name>
        <choiceText>{!Label_BR21}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR21</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR22</name>
        <choiceText>{!Label_BR22}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR22</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR23</name>
        <choiceText>{!Label_BR23}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR23</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR24</name>
        <choiceText>{!Label_BR24}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR24</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR25</name>
        <choiceText>{!Label_BR25}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR25</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR26</name>
        <choiceText>{!Label_BR26}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR26</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR27</name>
        <choiceText>{!Label_BR27}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR27</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR28</name>
        <choiceText>{!Label_BR28}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR28</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR3</name>
        <choiceText>{!Label_BR3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR3</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR4</name>
        <choiceText>{!Label_BR4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR4</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR5</name>
        <choiceText>{!Label_BR5}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR5</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR6</name>
        <choiceText>{!Label_BR6}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR6</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR7</name>
        <choiceText>{!Label_BR7}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR7</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR8</name>
        <choiceText>{!Label_BR8}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR8</elementReference>
        </value>
    </choices>
    <choices>
        <name>BR9</name>
        <choiceText>{!Label_BR9}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_BR9</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_Another_Brand</name>
        <choiceText>Another Brand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Brand</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_Mercedes</name>
        <choiceText>Mercedes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mercedes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Op_No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_No}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_Yes}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN1</name>
        <choiceText>{!Label_RN1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN1</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN10</name>
        <choiceText>{!Label_RN10}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN10</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN11</name>
        <choiceText>{!Label_RN11}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN11</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN12</name>
        <choiceText>{!Label_RN12}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN12</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN13</name>
        <choiceText>{!Label_RN13}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN13</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN14</name>
        <choiceText>{!Label_RN14}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN14</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN15</name>
        <choiceText>{!Label_RN15}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN15</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN16</name>
        <choiceText>{!Label_RN16}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN16</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN17</name>
        <choiceText>{!Label_RN17}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN17</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN18</name>
        <choiceText>{!Label_RN18}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN18</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN19</name>
        <choiceText>{!Label_RN19}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN19</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN2</name>
        <choiceText>{!Label_RN2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN2</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN20</name>
        <choiceText>{!Label_RN20}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN20</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN21</name>
        <choiceText>{!Label_RN21}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN21</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN22</name>
        <choiceText>{!Label_RN22}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN22</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN3</name>
        <choiceText>{!Label_RN3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN3</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN4</name>
        <choiceText>{!Label_RN4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN4</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN5</name>
        <choiceText>{!Label_RN5}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN5</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN6</name>
        <choiceText>{!Label_RN6}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN6</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN7</name>
        <choiceText>{!Label_RN7}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN7</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN8</name>
        <choiceText>{!Label_RN8}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN8</elementReference>
        </value>
    </choices>
    <choices>
        <name>RN9</name>
        <choiceText>{!Label_RN9}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RN9</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY1</name>
        <choiceText>{!Label_RY1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY1</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY10</name>
        <choiceText>{!Label_RY10}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY10</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY11</name>
        <choiceText>{!Label_RY11}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY11</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY12</name>
        <choiceText>{!Label_RY12}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY12</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY13</name>
        <choiceText>{!Label_RY13}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY13</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY14</name>
        <choiceText>{!Label_RY14}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY14</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY15</name>
        <choiceText>{!Label_RY15}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY15</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY16</name>
        <choiceText>{!Label_RY16}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY16</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY17</name>
        <choiceText>{!Label_RY17}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY17</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY18</name>
        <choiceText>{!Label_RY18}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY18</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY19</name>
        <choiceText>{!Label_RY19}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY19</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY2</name>
        <choiceText>{!Label_RY2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY2</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY3</name>
        <choiceText>{!Label_RY3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY3</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY4</name>
        <choiceText>{!Label_RY4}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY4</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY5</name>
        <choiceText>{!Label_RY5}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY5</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY6</name>
        <choiceText>{!Label_RY6}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY6</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY7</name>
        <choiceText>{!Label_RY7}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY7</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY8</name>
        <choiceText>{!Label_RY8}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY8</elementReference>
        </value>
    </choices>
    <choices>
        <name>RY9</name>
        <choiceText>{!Label_RY9}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_RY9</elementReference>
        </value>
    </choices>
    <constants>
        <name>Company</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </constants>
    <constants>
        <name>MD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TR</stringValue>
        </value>
    </constants>
    <constants>
        <name>PerAcct</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Person Account</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Bought_Vehicle</name>
        <label>Bought Vehicle</label>
        <locationX>812</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q9</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Available</name>
        <label>Customer Available</label>
        <locationX>443</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Or_Company</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dissatisfied_with_retailer_salesman</name>
        <label>Dissatisfied with retailer/salesman</label>
        <locationX>1115</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Person_Or_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>If_Yes_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q7_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RY2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q8</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Guide_to_Authorized_Dealer</name>
        <label>Guide to Authorized Dealer</label>
        <locationX>479</locationX>
        <locationY>985</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q11_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Dealer_name_to_Assign</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q11_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Or_Company</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interested_in_Mercedes_Benz_Rental</name>
        <label>Interested in Mercedes-Benz Rental ?</label>
        <locationX>511</locationX>
        <locationY>1093</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q12_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Dealer_name_to_Assign</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q12_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Or_Company</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Lead</name>
        <label>Is Sales Lead?</label>
        <locationX>369</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sales_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecordTypeID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesLeadOpportunityRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account</targetReference>
            </connector>
            <label>Sales Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Or_Company</name>
        <label>Person Or Company</label>
        <locationX>30</locationX>
        <locationY>746</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PerAcct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Taken_Person</targetReference>
            </connector>
            <label>If Person</label>
        </rules>
        <rules>
            <name>If_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Company</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Taken_Company</targetReference>
            </connector>
            <label>If Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_talk</name>
        <label>Ready to talk</label>
        <locationX>198</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q1_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Or_Company</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Survey</name>
        <label>Start Survey</label>
        <locationX>65</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Lead_Record</targetReference>
            </connector>
            <label>If ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Brand</name>
        <label>Vehicle Brand</label>
        <locationX>1102</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Person_Or_Company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Mercedes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q4_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Mercedes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q5</targetReference>
            </connector>
            <label>If Mercedes</label>
        </rules>
        <rules>
            <name>If_Another_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q4_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Another_Brand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q6</targetReference>
            </connector>
            <label>If Another Brand</label>
        </rules>
    </decisions>
    <decisions>
        <name>Will_Purchase</name>
        <label>Will Purchase</label>
        <locationX>804</locationX>
        <locationY>905</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q10_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q11</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q10_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q12</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DealerNames</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Dealer_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DealerName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DealerAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Label_BR1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR1}</expression>
    </formulas>
    <formulas>
        <name>Label_BR10</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR10}</expression>
    </formulas>
    <formulas>
        <name>Label_BR11</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR11}</expression>
    </formulas>
    <formulas>
        <name>Label_BR12</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR12}</expression>
    </formulas>
    <formulas>
        <name>Label_BR13</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR13}</expression>
    </formulas>
    <formulas>
        <name>Label_BR14</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR14}</expression>
    </formulas>
    <formulas>
        <name>Label_BR15</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR15}</expression>
    </formulas>
    <formulas>
        <name>Label_BR16</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR16}</expression>
    </formulas>
    <formulas>
        <name>Label_BR17</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR17}</expression>
    </formulas>
    <formulas>
        <name>Label_BR18</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR18}</expression>
    </formulas>
    <formulas>
        <name>Label_BR19</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR19}</expression>
    </formulas>
    <formulas>
        <name>Label_BR2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR2}</expression>
    </formulas>
    <formulas>
        <name>Label_BR20</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR20}</expression>
    </formulas>
    <formulas>
        <name>Label_BR21</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR21}</expression>
    </formulas>
    <formulas>
        <name>Label_BR22</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR22}</expression>
    </formulas>
    <formulas>
        <name>Label_BR23</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR23}</expression>
    </formulas>
    <formulas>
        <name>Label_BR24</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR24}</expression>
    </formulas>
    <formulas>
        <name>Label_BR25</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR25}</expression>
    </formulas>
    <formulas>
        <name>Label_BR26</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR26}</expression>
    </formulas>
    <formulas>
        <name>Label_BR27</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR27}</expression>
    </formulas>
    <formulas>
        <name>Label_BR28</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR28}</expression>
    </formulas>
    <formulas>
        <name>Label_BR3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR3}</expression>
    </formulas>
    <formulas>
        <name>Label_BR4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR4}</expression>
    </formulas>
    <formulas>
        <name>Label_BR5</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR5}</expression>
    </formulas>
    <formulas>
        <name>Label_BR6</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR6}</expression>
    </formulas>
    <formulas>
        <name>Label_BR7</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR7}</expression>
    </formulas>
    <formulas>
        <name>Label_BR8</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR8}</expression>
    </formulas>
    <formulas>
        <name>Label_BR9</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_BR9}</expression>
    </formulas>
    <formulas>
        <name>Label_Completed</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_Q10</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q10}</expression>
    </formulas>
    <formulas>
        <name>Label_Q11</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q11}</expression>
    </formulas>
    <formulas>
        <name>Label_Q11_12</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q11_12}</expression>
    </formulas>
    <formulas>
        <name>Label_Q12</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q12}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q1_P1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1_P2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q1_P2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q3}</expression>
    </formulas>
    <formulas>
        <name>Label_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q4}</expression>
    </formulas>
    <formulas>
        <name>Label_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q5}</expression>
    </formulas>
    <formulas>
        <name>Label_Q6</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q6}</expression>
    </formulas>
    <formulas>
        <name>Label_Q7</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q7}</expression>
    </formulas>
    <formulas>
        <name>Label_Q8</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q8}</expression>
    </formulas>
    <formulas>
        <name>Label_Q9</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_Q9}</expression>
    </formulas>
    <formulas>
        <name>Label_RN1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN1}</expression>
    </formulas>
    <formulas>
        <name>Label_RN10</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN10}</expression>
    </formulas>
    <formulas>
        <name>Label_RN11</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN11}</expression>
    </formulas>
    <formulas>
        <name>Label_RN12</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN12}</expression>
    </formulas>
    <formulas>
        <name>Label_RN13</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN13}</expression>
    </formulas>
    <formulas>
        <name>Label_RN14</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN14}</expression>
    </formulas>
    <formulas>
        <name>Label_RN15</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN15}</expression>
    </formulas>
    <formulas>
        <name>Label_RN16</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN16}</expression>
    </formulas>
    <formulas>
        <name>Label_RN17</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN17}</expression>
    </formulas>
    <formulas>
        <name>Label_RN18</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN18}</expression>
    </formulas>
    <formulas>
        <name>Label_RN19</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN19}</expression>
    </formulas>
    <formulas>
        <name>Label_RN2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN2}</expression>
    </formulas>
    <formulas>
        <name>Label_RN20</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN20}</expression>
    </formulas>
    <formulas>
        <name>Label_RN21</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN21}</expression>
    </formulas>
    <formulas>
        <name>Label_RN22</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN22}</expression>
    </formulas>
    <formulas>
        <name>Label_RN3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN3}</expression>
    </formulas>
    <formulas>
        <name>Label_RN4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN4}</expression>
    </formulas>
    <formulas>
        <name>Label_RN5</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN5}</expression>
    </formulas>
    <formulas>
        <name>Label_RN6</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN6}</expression>
    </formulas>
    <formulas>
        <name>Label_RN7</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN7}</expression>
    </formulas>
    <formulas>
        <name>Label_RN8</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN8}</expression>
    </formulas>
    <formulas>
        <name>Label_RN9</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RN9}</expression>
    </formulas>
    <formulas>
        <name>Label_RY1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY1}</expression>
    </formulas>
    <formulas>
        <name>Label_RY10</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY10}</expression>
    </formulas>
    <formulas>
        <name>Label_RY11</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY11}</expression>
    </formulas>
    <formulas>
        <name>Label_RY12</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY12}</expression>
    </formulas>
    <formulas>
        <name>Label_RY13</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY13}</expression>
    </formulas>
    <formulas>
        <name>Label_RY14</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY14}</expression>
    </formulas>
    <formulas>
        <name>Label_RY15</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY15}</expression>
    </formulas>
    <formulas>
        <name>Label_RY16</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY16}</expression>
    </formulas>
    <formulas>
        <name>Label_RY17</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY17}</expression>
    </formulas>
    <formulas>
        <name>Label_RY18</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY18}</expression>
    </formulas>
    <formulas>
        <name>Label_RY19</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY19}</expression>
    </formulas>
    <formulas>
        <name>Label_RY2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY2}</expression>
    </formulas>
    <formulas>
        <name>Label_RY3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY3}</expression>
    </formulas>
    <formulas>
        <name>Label_RY4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY4}</expression>
    </formulas>
    <formulas>
        <name>Label_RY5</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY5}</expression>
    </formulas>
    <formulas>
        <name>Label_RY6</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY6}</expression>
    </formulas>
    <formulas>
        <name>Label_RY7</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY7}</expression>
    </formulas>
    <formulas>
        <name>Label_RY8</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY8}</expression>
    </formulas>
    <formulas>
        <name>Label_RY9</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey8_RY9}</expression>
    </formulas>
    <formulas>
        <name>Label_Survey_RecordType</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_RecordType}</expression>
    </formulas>
    <formulas>
        <name>Label_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <name>UserFirstname</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName}</expression>
    </formulas>
    <label>Lost Sales Management Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Taken_Company</name>
        <label>Create Survey Taken Company</label>
        <locationX>125</locationX>
        <locationY>934</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Response_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken_Person</name>
        <label>Create Survey Taken Person</label>
        <locationX>15</locationX>
        <locationY>983</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Response_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_1</name>
        <label>Response 1</label>
        <locationX>83</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Response_2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_10</name>
        <label>Response 10</label>
        <locationX>1403</locationX>
        <locationY>1289</locationY>
        <connector>
            <targetReference>Response_11</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q10_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_11</name>
        <label>Response 11</label>
        <locationX>1446</locationX>
        <locationY>1086</locationY>
        <connector>
            <targetReference>Response_12</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q11_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_12</name>
        <label>Response 12</label>
        <locationX>1620</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>Survey_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q12_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_2</name>
        <label>Response 2</label>
        <locationX>92</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Response_3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_3</name>
        <label>Response 3</label>
        <locationX>269</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Response_4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_4</name>
        <label>Response 4</label>
        <locationX>393</locationX>
        <locationY>1191</locationY>
        <connector>
            <targetReference>Response_5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_5</name>
        <label>Response 5</label>
        <locationX>549</locationX>
        <locationY>1225</locationY>
        <connector>
            <targetReference>Response_6</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_6</name>
        <label>Response 6</label>
        <locationX>718</locationX>
        <locationY>1255</locationY>
        <connector>
            <targetReference>Response_7</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q6_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_7</name>
        <label>Response 7</label>
        <locationX>876</locationX>
        <locationY>1294</locationY>
        <connector>
            <targetReference>Response_8</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q7_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_8</name>
        <label>Response 8</label>
        <locationX>1054</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Response_9</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_9</name>
        <label>Response 9</label>
        <locationX>1210</locationX>
        <locationY>1278</locationY>
        <connector>
            <targetReference>Response_10</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q9_List</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Dealer_RecordId</name>
        <label>Account Dealer RecordId</label>
        <locationX>59</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>DealerAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Account</name>
        <label>Fetch Account</label>
        <locationX>59</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rec_Name_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Salutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Lead_Record</name>
        <label>Fetch Lead Record</label>
        <locationX>69</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Sales_Lead_RecordId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadRecordTypeID</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Sales_Lead_RecordId</name>
        <label>Opportunity Sales Lead RecordId</label>
        <locationX>229</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Sales_Lead</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SalesLeadOpportunityRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rec_Name_Lookup</name>
        <label>Rec Name Lookup</label>
        <locationX>263</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Dealer_RecordId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_Dealer</name>
        <label>Assign to Dealer</label>
        <locationX>252</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>Person_Or_Company</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignDealerNames</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>581</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ErrMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF3300&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_Survey_RecordType}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>61</locationX>
        <locationY>416</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Ready_to_talk</targetReference>
        </connector>
        <fields>
            <name>Ques1</name>
            <fieldText>{!Label_Q1_P1} {!UserFirstname} {!UserLastName}. {!Salutation} {!AccountName} {!Label_Q1_P2} ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q10</name>
        <label>Q10</label>
        <locationX>814</locationX>
        <locationY>813</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Will_Purchase</targetReference>
        </connector>
        <fields>
            <name>Ques10</name>
            <fieldText>{!Label_Q10}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q11</name>
        <label>Q11</label>
        <locationX>527</locationX>
        <locationY>899</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Guide_to_Authorized_Dealer</targetReference>
        </connector>
        <fields>
            <name>Ques11</name>
            <fieldText>{!Label_Q11}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q11_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q12</name>
        <label>Q12</label>
        <locationX>683</locationX>
        <locationY>1019</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Interested_in_Mercedes_Benz_Rental</targetReference>
        </connector>
        <fields>
            <name>Ques12</name>
            <fieldText>{!Label_Q12}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>380</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Customer_Available</targetReference>
        </connector>
        <fields>
            <name>Ques2</name>
            <fieldText>{!Label_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>689</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Bought_Vehicle</targetReference>
        </connector>
        <fields>
            <name>Ques3</name>
            <fieldText>{!Label_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>971</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Vehicle_Brand</targetReference>
        </connector>
        <fields>
            <name>Ques4</name>
            <fieldText>{!Label_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_List</name>
            <choiceReferences>Op_Mercedes</choiceReferences>
            <choiceReferences>Op_Another_Brand</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>951</locationX>
        <locationY>766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Person_Or_Company</targetReference>
        </connector>
        <fields>
            <name>Ques5</name>
            <fieldText>{!Label_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>1103</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <fields>
            <name>Ques6</name>
            <fieldText>{!Label_Q6}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_List</name>
            <choiceReferences>BR1</choiceReferences>
            <choiceReferences>BR2</choiceReferences>
            <choiceReferences>BR3</choiceReferences>
            <choiceReferences>BR4</choiceReferences>
            <choiceReferences>BR5</choiceReferences>
            <choiceReferences>BR6</choiceReferences>
            <choiceReferences>BR7</choiceReferences>
            <choiceReferences>BR8</choiceReferences>
            <choiceReferences>BR9</choiceReferences>
            <choiceReferences>BR10</choiceReferences>
            <choiceReferences>BR11</choiceReferences>
            <choiceReferences>BR12</choiceReferences>
            <choiceReferences>BR13</choiceReferences>
            <choiceReferences>BR14</choiceReferences>
            <choiceReferences>BR15</choiceReferences>
            <choiceReferences>BR16</choiceReferences>
            <choiceReferences>BR17</choiceReferences>
            <choiceReferences>BR18</choiceReferences>
            <choiceReferences>BR19</choiceReferences>
            <choiceReferences>BR20</choiceReferences>
            <choiceReferences>BR21</choiceReferences>
            <choiceReferences>BR22</choiceReferences>
            <choiceReferences>BR23</choiceReferences>
            <choiceReferences>BR24</choiceReferences>
            <choiceReferences>BR25</choiceReferences>
            <choiceReferences>BR26</choiceReferences>
            <choiceReferences>BR27</choiceReferences>
            <choiceReferences>BR28</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>1108</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Dissatisfied_with_retailer_salesman</targetReference>
        </connector>
        <fields>
            <name>Ques7</name>
            <fieldText>{!Label_Q7}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_List</name>
            <choiceReferences>RY1</choiceReferences>
            <choiceReferences>RY2</choiceReferences>
            <choiceReferences>RY3</choiceReferences>
            <choiceReferences>RY4</choiceReferences>
            <choiceReferences>RY5</choiceReferences>
            <choiceReferences>RY6</choiceReferences>
            <choiceReferences>RY7</choiceReferences>
            <choiceReferences>RY8</choiceReferences>
            <choiceReferences>RY9</choiceReferences>
            <choiceReferences>RY10</choiceReferences>
            <choiceReferences>RY11</choiceReferences>
            <choiceReferences>RY12</choiceReferences>
            <choiceReferences>RY13</choiceReferences>
            <choiceReferences>RY14</choiceReferences>
            <choiceReferences>RY15</choiceReferences>
            <choiceReferences>RY16</choiceReferences>
            <choiceReferences>RY17</choiceReferences>
            <choiceReferences>RY18</choiceReferences>
            <choiceReferences>RY19</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>1117</locationX>
        <locationY>1060</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Person_Or_Company</targetReference>
        </connector>
        <fields>
            <name>Ques8</name>
            <fieldText>{!Label_Q8}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_List</name>
            <choiceReferences>DealerNames</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>813</locationX>
        <locationY>717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q10</targetReference>
        </connector>
        <fields>
            <name>Ques9</name>
            <fieldText>{!Label_Q9}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_List</name>
            <choiceReferences>RN1</choiceReferences>
            <choiceReferences>RN2</choiceReferences>
            <choiceReferences>RN3</choiceReferences>
            <choiceReferences>RN4</choiceReferences>
            <choiceReferences>RN5</choiceReferences>
            <choiceReferences>RN6</choiceReferences>
            <choiceReferences>RN7</choiceReferences>
            <choiceReferences>RN8</choiceReferences>
            <choiceReferences>RN9</choiceReferences>
            <choiceReferences>RN10</choiceReferences>
            <choiceReferences>RN11</choiceReferences>
            <choiceReferences>RN12</choiceReferences>
            <choiceReferences>RN13</choiceReferences>
            <choiceReferences>RN14</choiceReferences>
            <choiceReferences>RN15</choiceReferences>
            <choiceReferences>RN16</choiceReferences>
            <choiceReferences>RN17</choiceReferences>
            <choiceReferences>RN18</choiceReferences>
            <choiceReferences>RN19</choiceReferences>
            <choiceReferences>RN20</choiceReferences>
            <choiceReferences>RN21</choiceReferences>
            <choiceReferences>RN22</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Dealer_name_to_Assign</name>
        <label>Select Dealer name to Assign</label>
        <locationX>332</locationX>
        <locationY>1099</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Assign_to_Dealer</targetReference>
        </connector>
        <fields>
            <name>AssignDealerName</name>
            <fieldText>{!Label_Q11_12}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssignDealerNames</name>
            <choiceReferences>DealerNames</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Completed</name>
        <label>Survey Completed</label>
        <locationX>1797</locationX>
        <locationY>1091</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#3333FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_Completed}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Survey</startElementReference>
    <textTemplates>
        <name>DealerName</name>
        <text>CO_%</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealerAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q11_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q12_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesLeadOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
