src/main/metadata/flows/Mercedes_Benz_Driving_Experience_SP-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Average</name>
        <choiceText>{!LabelforAverage}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforAverage</elementReference>
        </value>
    </choices>
    <choices>
        <name>Beyond_Expectation</name>
        <choiceText>{!LabelforBeyondexpectation}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforBeyondexpectation</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contemporary</name>
        <choiceText>{!Label_for_Contemporary}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Contemporary</elementReference>
        </value>
    </choices>
    <choices>
        <name>Credible</name>
        <choiceText>{!Label_for_Credible}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Credible</elementReference>
        </value>
    </choices>
    <choices>
        <name>Dynamic</name>
        <choiceText>{!Label_for_Dynamic}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Dynamic</elementReference>
        </value>
    </choices>
    <choices>
        <name>Elegance</name>
        <choiceText>{!Label_for_Elegance}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Elegance</elementReference>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>{!LabelforGood}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforGood</elementReference>
        </value>
    </choices>
    <choices>
        <name>Luxury</name>
        <choiceText>{!Label_for_Luxury}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Luxury</elementReference>
        </value>
    </choices>
    <choices>
        <name>Modern</name>
        <choiceText>{!Label_for_Modern}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Modern</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>{!Label_for_no}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_no</elementReference>
        </value>
    </choices>
    <choices>
        <name>Not_yet_decided</name>
        <choiceText>{!Label_for_Not_yet_decided}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Not_yet_decided</elementReference>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>{!Label_for_Others}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Others</elementReference>
        </value>
    </choices>
    <choices>
        <name>Others</name>
        <choiceText>{!Label_for_Others}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Others</elementReference>
        </value>
    </choices>
    <choices>
        <name>Quality</name>
        <choiceText>{!Label_for_Quality}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Quality</elementReference>
        </value>
    </choices>
    <choices>
        <name>Safety</name>
        <choiceText>{!Label_for_Safety}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Safety</elementReference>
        </value>
    </choices>
    <choices>
        <name>Somewhat_Dissapointed</name>
        <choiceText>{!LabelforSomewhatdisappointed}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforSomewhatdisappointed</elementReference>
        </value>
    </choices>
    <choices>
        <name>Valuable_alternative</name>
        <choiceText>{!Label_for_Valuable_alternative}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Valuable_alternative</elementReference>
        </value>
    </choices>
    <choices>
        <name>Very_Dissapointed</name>
        <choiceText>{!LabelforVerydisappointed}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforVerydisappointed</elementReference>
        </value>
    </choices>
    <choices>
        <name>X1_year</name>
        <choiceText>{!Label_for_X1_year}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_X1_year</elementReference>
        </value>
    </choices>
    <choices>
        <name>X2_years</name>
        <choiceText>{!Label_for_X2_year}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_X2_year</elementReference>
        </value>
    </choices>
    <choices>
        <name>X3_months</name>
        <choiceText>{!Label_for_months}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_months</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>{!Label_for_yes}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Q11</name>
        <label>Decision_Q11</label>
        <locationX>582</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Q12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Q11_If_no_specify_why</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q11_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q11_Decision</targetReference>
            </connector>
            <label>Q11 If no specify why</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Q12</name>
        <label>Decision_Q12</label>
        <locationX>411</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>Q13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_no_specify_why</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q12_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q12_why_not</targetReference>
            </connector>
            <label>If no specify why</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_MBDE_Sales_Process_Survey</name>
        <label>Start MBDE Sales Process Survey</label>
        <locationX>13</locationX>
        <locationY>17</locationY>
        <defaultConnector>
            <targetReference>Q1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Label_for_Contemporary</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Contemporary}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Credible</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Credible}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Dynamic</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Dynamic}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Elegance</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Elegance}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Favorite_Model</name>
        <dataType>String</dataType>
        <expression>{!$Label.Favorite_Model}</expression>
    </formulas>
    <formulas>
        <name>Label_for_If_No_specify_Why</name>
        <dataType>String</dataType>
        <expression>{!$Label.If_No_specify_Why}</expression>
    </formulas>
    <formulas>
        <name>Label_for_If_others_please_specify</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_If_others_please_specify}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Luxury</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Luxury}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Modern</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Modern}</expression>
    </formulas>
    <formulas>
        <name>Label_for_months</name>
        <dataType>String</dataType>
        <expression>{!$Label.months}</expression>
    </formulas>
    <formulas>
        <name>Label_for_no</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Not_yet_decided</name>
        <dataType>String</dataType>
        <expression>{!$Label.Not_yet_decided}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Others</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Others}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q1_Overall_impression}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q10</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q10_Describe_MB}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q11</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q11_recommendation}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q12</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q12_Test_drive}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q13</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q13_Period}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q14</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q14_Activity}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Driving_experience}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q3_Instructor_Team}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Event_venue}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Staff_hospitality}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q6</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q5_Food_beverage}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q7</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q6_PR_to_promote_this_event}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q8</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q7_Coordination_during_the_event}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q9</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q3_Interesting_event}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Quality</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Quality}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Safety</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Safety}</expression>
    </formulas>
    <formulas>
        <name>Label_for_SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Valuable_alternative</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Valuable_alternative}</expression>
    </formulas>
    <formulas>
        <name>Label_for_X1_year</name>
        <dataType>String</dataType>
        <expression>{!$Label.X1_year}</expression>
    </formulas>
    <formulas>
        <name>Label_for_X2_year</name>
        <dataType>String</dataType>
        <expression>{!$Label.X2_year}</expression>
    </formulas>
    <formulas>
        <name>Label_for_yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <name>LabelforAverage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Average}</expression>
    </formulas>
    <formulas>
        <name>LabelforBeyondexpectation</name>
        <dataType>String</dataType>
        <expression>{!$Label.Beyond_expectation}</expression>
    </formulas>
    <formulas>
        <name>LabelforGood</name>
        <dataType>String</dataType>
        <expression>{!$Label.Good}</expression>
    </formulas>
    <formulas>
        <name>LabelforSomewhatdisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Somewhat_disappointed}</expression>
    </formulas>
    <formulas>
        <name>LabelforVerydisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Very_disappointed}</expression>
    </formulas>
    <formulas>
        <name>LoggedInUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <label>Mercedes Benz Driving Experience Sales Process</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create_Survey_Question_Response1</label>
        <locationX>198</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response10</name>
        <label>Create_Survey_Question_Response10</label>
        <locationX>817</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response11</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q10_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response11</name>
        <label>Create_Survey_Question_Response11</label>
        <locationX>675</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response12</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q11_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response12</name>
        <label>Create_Survey_Question_Response12</label>
        <locationX>533</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response13</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q12_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response13</name>
        <label>Create_Survey_Question_Response13</label>
        <locationX>391</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response14</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q13_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response14</name>
        <label>Create_Survey_Question_Response14</label>
        <locationX>241</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q14_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response2</name>
        <label>Create_Survey_Question_Response2</label>
        <locationX>349</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response3</name>
        <label>Create_Survey_Question_Response3</label>
        <locationX>502</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response4</name>
        <label>Create_Survey_Question_Response4</label>
        <locationX>651</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response5</name>
        <label>Create_Survey_Question_Response5</label>
        <locationX>804</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response6</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response6</name>
        <label>Create_Survey_Question_Response6</label>
        <locationX>951</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response7</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q6_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response7</name>
        <label>Create_Survey_Question_Response7</label>
        <locationX>1103</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response8</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q7_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response8</name>
        <label>Create_Survey_Question_Response8</label>
        <locationX>1106</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response9</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q8_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response9</name>
        <label>Create_Survey_Question_Response9</label>
        <locationX>961</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response10</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q9_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>51</locationX>
        <locationY>455</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>168</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!Label_For_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q10</name>
        <label>Q10</label>
        <locationX>747</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q11</targetReference>
        </connector>
        <fields>
            <name>Q10_Description</name>
            <fieldText>{!Label_For_Q10}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_Radio</name>
            <choiceReferences>Elegance</choiceReferences>
            <choiceReferences>Luxury</choiceReferences>
            <choiceReferences>Contemporary</choiceReferences>
            <choiceReferences>Modern</choiceReferences>
            <choiceReferences>Dynamic</choiceReferences>
            <choiceReferences>Quality</choiceReferences>
            <choiceReferences>Safety</choiceReferences>
            <choiceReferences>Credible</choiceReferences>
            <choiceReferences>Valuable_alternative</choiceReferences>
            <choiceReferences>Others</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q10_if_others</name>
            <fieldText>{!Label_for_If_others_please_specify}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_others</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q11</name>
        <label>Q11</label>
        <locationX>587</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Decision_Q11</targetReference>
        </connector>
        <fields>
            <name>Q11_Description</name>
            <fieldText>{!Label_For_Q11}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q11_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q11_Decision</name>
        <label>Q11 Decision</label>
        <locationX>584</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q12</targetReference>
        </connector>
        <fields>
            <name>Q11_specify_why</name>
            <fieldText>{!Label_for_If_No_specify_Why}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q11_why</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q12</name>
        <label>Q12</label>
        <locationX>415</locationX>
        <locationY>140</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Decision_Q12</targetReference>
        </connector>
        <fields>
            <name>Q12_Description</name>
            <fieldText>{!Label_For_Q12}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q12_why_not</name>
        <label>Q12_why_not</label>
        <locationX>408</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Suggestion</targetReference>
        </connector>
        <fields>
            <name>Q12_specify_why</name>
            <fieldText>{!Label_for_If_No_specify_Why}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_why</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q13</name>
        <label>Q13</label>
        <locationX>241</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Suggestion</targetReference>
        </connector>
        <fields>
            <name>Q12_model</name>
            <fieldText>{!Label_for_Favorite_Model}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_fav_model</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q13_Description</name>
            <fieldText>{!Label_For_Q13}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q13_Radio</name>
            <choiceReferences>X3_months</choiceReferences>
            <choiceReferences>X1_year</choiceReferences>
            <choiceReferences>X2_years</choiceReferences>
            <choiceReferences>Not_yet_decided</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>311</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>452</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>{!Label_For_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>596</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>{!Label_For_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>756</locationX>
        <locationY>30</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <fields>
            <name>Q5_Description</name>
            <fieldText>{!Label_For_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>909</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <fields>
            <name>Q6_Description</name>
            <fieldText>{!Label_For_Q6}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>1071</locationX>
        <locationY>25</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <fields>
            <name>Q7_Description</name>
            <fieldText>{!Label_For_Q7}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>1073</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q9</targetReference>
        </connector>
        <fields>
            <name>Q8_Description</name>
            <fieldText>{!Label_For_Q8}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q9</name>
        <label>Q9</label>
        <locationX>908</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q10</targetReference>
        </connector>
        <fields>
            <name>Q9_Description</name>
            <fieldText>{!Label_For_Q9}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Somewhat_Dissapointed</choiceReferences>
            <choiceReferences>Very_Dissapointed</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Suggestion</name>
        <label>Suggestion</label>
        <locationX>51</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Q14_Description</name>
            <fieldText>{!Label_For_Q14}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q14_Radio</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>ThankYou</label>
        <locationX>92</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>SurveyCompleted</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#3399FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_for_SurveyCompleted}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_MBDE_Sales_Process_Survey</startElementReference>
    <textTemplates>
        <name>Q10_res</name>
        <text>{!Q10_Radio} {!Q10_others}</text>
    </textTemplates>
    <textTemplates>
        <name>Q11_res</name>
        <text>{!Q11_Radio} {!Q11_why}</text>
    </textTemplates>
    <textTemplates>
        <name>Q12_res</name>
        <text>{!Q12_Radio} {!Q12_fav_model}{!Q12_why}</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_1</name>
        <text>Overall Impression</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_2</name>
        <text>Driving experience</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_3</name>
        <text>Instructor team</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_4</name>
        <text>Event venue</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_5</name>
        <text>Staff hospitality</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_6</name>
        <text>Food &amp; beverage</text>
    </textTemplates>
    <textTemplates>
        <name>Ques3_7</name>
        <text>PR to promote this event</text>
    </textTemplates>
    <textTemplates>
        <name>SurveyName</name>
        <text>Mercedes Benz Driving Experience Sales Process</text>
    </textTemplates>
    <textTemplates>
        <name>Thankyou</name>
        <text>Thankyou for taking this survey</text>
    </textTemplates>
    <textTemplates>
        <name>url</name>
        <text>http://www.google.com</text>
    </textTemplates>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q11_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q12_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q13_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q14_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>s2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>s2</stringValue>
        </value>
    </variables>
    <variables>
        <name>SQ3_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SQ3_7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
