src/main/metadata/flows/Mercedes_Benz_Driving_Experience-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabeforAverage</elementReference>
        </value>
    </choices>
    <choices>
        <name>Beyond_Expectation</name>
        <choiceText>Beyond Expectation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforBeyondexpectation</elementReference>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforGood</elementReference>
        </value>
    </choices>
    <choices>
        <name>some_what_disappointed</name>
        <choiceText>some what disappointed</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforSomewhatdisappointed</elementReference>
        </value>
    </choices>
    <choices>
        <name>very_disappointed</name>
        <choiceText>very disappointed</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforVerydisappointed</elementReference>
        </value>
    </choices>
    <decisions>
        <name>BenzDrivingExperience</name>
        <label>BenzDrivingExperience</label>
        <locationX>71</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>LabeforAverage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Average}</expression>
    </formulas>
    <formulas>
        <description>Q2.Overall impression</description>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Overall_impression}</expression>
    </formulas>
    <formulas>
        <name>LabelforBeyondexpectation</name>
        <dataType>String</dataType>
        <expression>{!$Label.Beyond_expectation}</expression>
    </formulas>
    <formulas>
        <name>LabelforGood</name>
        <dataType>String</dataType>
        <expression>{!$Label.Good}</expression>
    </formulas>
    <formulas>
        <name>LabelForQ1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Your_Current_car_s}</expression>
    </formulas>
    <formulas>
        <name>LabelforSatisfaction</name>
        <dataType>String</dataType>
        <expression>{!$Label.Satisfaction_towards_this_event}</expression>
    </formulas>
    <formulas>
        <name>LabelforSomewhatdisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Somewhat_disappointed}</expression>
    </formulas>
    <formulas>
        <name>LabelforVerydisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Very_disappointed}</expression>
    </formulas>
    <label>Mercedes-Benz Driving Experience</label>
    <processType>Flow</processType>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>350</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!LabelForQ1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>565</locationX>
        <locationY>72</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Impression</name>
            <fieldText>{!LabelforSatisfaction}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>some_what_disappointed</choiceReferences>
            <choiceReferences>very_disappointed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Q2_Radio</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>BenzDrivingExperience</startElementReference>
    <variables>
        <name>leadid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
