src/main/metadata/flows/Mercedes_Benz_Sales_Survey_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>QuestionsID</name>
        <label>QuestionsID</label>
        <locationX>527</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q12_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q15_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q16_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q17_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q18_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q19_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q21_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q22_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q23_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q26_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q27_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q30_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q31_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q32_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q33_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q34_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q35_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q36_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q37_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q38_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q39_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q40_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q41_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign</name>
        <label>QuestResponseAssign</label>
        <locationX>262</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q6_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q7_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q8_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q9_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q10_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q11_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q12_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q13_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q14_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q15_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q16_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q17_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q18_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q19_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q20_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q21_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q22_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q23_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q26_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q27_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q28_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q30_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q31_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q32_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q33_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q34_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q35_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q36_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q37_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q38_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q39_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q40_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q41_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestionsID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>IN_Dont_Remember</name>
        <choiceText>Don&apos;t remember</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t remember</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Extremely_Satisfied</name>
        <choiceText>Extremely Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Less_Satisfied</name>
        <choiceText>Less Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Not_Applicable</name>
        <choiceText>Not applicable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Not_Satisfied</name>
        <choiceText>Not Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q10_Choice1</name>
        <choiceText>Desired model was not available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desired model was not available</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q10_Choice2</name>
        <choiceText>Desired date for test drive was not feasible</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desired date for test drive was not feasible</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q10_Choice3</name>
        <choiceText>My dealer did not offer test drive to me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My dealer did not offer test drive to me</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q10_Choice4</name>
        <choiceText>I was not interested in taking test drive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I was not interested in taking test drive</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q10_Choice5</name>
        <choiceText>Other reason</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other reason</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q16_Choice1</name>
        <choiceText>Sales Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q16_Choice2</name>
        <choiceText>No one explained features to me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No one explained features to me</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q16_Choice3</name>
        <choiceText>I don’t remember</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I don’t remember</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q16_Choice4</name>
        <choiceText>Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q20_Choice2</name>
        <choiceText>No, but I was informed in time about the delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, but I was informed in time about the delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q20_Choice3</name>
        <choiceText>No, and I was not informed about the delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, and I was not informed about the delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q39_Choice1</name>
        <choiceText>Product Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Q39_Choice2</name>
        <choiceText>Sales Process Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Process Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Very_Satisfied</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>IN_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>endloop</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>Finish</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DisplayQ30Condition</name>
        <label>DisplayQ30Condition</label>
        <locationX>346</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>Survey_Q31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Q29selectedNo</defaultConnectorLabel>
        <rules>
            <name>gotoQ30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q29_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Q30</targetReference>
            </connector>
            <label>gotoQ30</label>
        </rules>
    </decisions>
    <decisions>
        <name>DisplayQ40Condition</name>
        <label>DisplayQ40Condition</label>
        <locationX>422</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Survey_Q41</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>gotoQ40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q38_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Q40</targetReference>
            </connector>
            <label>gotoQ40</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Mercedes_Benz_Sales_Survey</name>
        <label>Start Mercedes Benz Sales Survey</label>
        <locationX>80</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account_ID</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <interviewLabel>Mercedes Benz Sales Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mercedes Benz Sales Survey Flow</label>
    <loops>
        <name>LoopQuestionID</name>
        <label>LoopQuestionID</label>
        <locationX>528</locationX>
        <locationY>958</locationY>
        <assignNextValueToReference>QuestID</assignNextValueToReference>
        <collectionReference>Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopResponse</name>
        <label>LoopResponse</label>
        <locationX>261</locationX>
        <locationY>959</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>Question_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopQuestionID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Thank_you</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create_Survey_Question_Response1</label>
        <locationX>359</locationX>
        <locationY>1097</locationY>
        <connector>
            <targetReference>LoopResponse</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>QuestID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>259</locationX>
        <locationY>704</locationY>
        <assignRecordIdToReference>SurveyTakenID</assignRecordIdToReference>
        <connector>
            <targetReference>QuestResponseAssign</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account_ID</name>
        <label>Fetch Account ID</label>
        <locationX>357</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Q1_5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Survey_Q11_15</name>
        <label>Survey_Q11-15</label>
        <locationX>403</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q16_20</targetReference>
        </connector>
        <fields>
            <name>Question11_0</name>
            <fieldText>On a scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied, how satisfied were you with the test drive?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q11_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question12_0</name>
            <fieldText>Were you actively offered a trade in by the dealership</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q12_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question13_0</name>
            <fieldText>On a scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied, how satisfied were you with the evaluation process?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q13_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question14_0</name>
            <fieldText>Did you trade-in your old car at the Mercedes Benz showroom for the new car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q14_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question15_0</name>
            <fieldText>How satisfied were you with the trade-in process? Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q15_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q16_20</name>
        <label>Survey_Q16-20</label>
        <locationX>572</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q21_25</targetReference>
        </connector>
        <fields>
            <name>Question16_0</name>
            <fieldText>With reference to the delivery process, kindly share who explained the vehicle features and control? Was is it</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16_Radio_0</name>
            <choiceReferences>IN_Q16_Choice1</choiceReferences>
            <choiceReferences>IN_Q16_Choice2</choiceReferences>
            <choiceReferences>IN_Q16_Choice3</choiceReferences>
            <choiceReferences>IN_Q16_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question17_0</name>
            <fieldText>On a scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied, how would you rate the thoroughness of explanation, ability to answer questions and clarification of doubts during the delivery process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q17_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question18_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied are you regarding the thoroughness of explanations, ability to answer questions and clarification of doubts during the delivery process?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q18_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question19_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied are you with the condition of the car at the time of delivery</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q19_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_3_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question20_0</name>
            <fieldText>Was the vehicle delivered to you as per the originally promised date and time and were you satisfied with the length of time needed to deliver your vehicle, please select your response from the following options</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q20_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_Q20_Choice2</choiceReferences>
            <choiceReferences>IN_Q20_Choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q1_5</name>
        <label>Survey_Q1-5</label>
        <locationX>81</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q6_10</targetReference>
        </connector>
        <fields>
            <name>Question1_0</name>
            <fieldText>Please think only about your buying experience at Mercedes Benz showroom. Your buying experience includes your interaction with salesperson, the handover process, the test drive process, personalized attention to your queries and doubts and follow up after delivery. Keeping these factors in mind, please rate your recent buying experience on a scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question2_0</name>
            <fieldText>Would you recommend your dealer to a relative or friend?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question3_0</name>
            <fieldText>On a scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied,  how satisfied were you regarding the explanation provided by sales person about features &amp; advantages of the car.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question4_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied are you with the sales representative’s thoroughness of the follow up while dealing  with your enquiries prior to your purchase decision.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question5_0</name>
            <fieldText>Using a similar scale of 1 to 5, please tell me how satisfied were you with the variety of Mercedes-Benz car models &amp; variants available at the dealership.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q21_25</name>
        <label>Survey_Q21-25</label>
        <locationX>578</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q26_29</targetReference>
        </connector>
        <fields>
            <name>Question21_0</name>
            <fieldText>How would you rate the approiateness of updates regarding your vehicle delivery status. Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q21_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question22_0</name>
            <fieldText>Using a similar scale of 1 to 5; where 5 is extremely satisfied and 1 is not satisfied, how satisfied were you with the delivery process of your car</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q22_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question23_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied were you with length of time taken to complete the vehicle handover process</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q23_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question24_0</name>
            <fieldText>Were you introduced to a contact person from the service department during vehicle handover? Please select your response from</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <choiceReferences>IN_Not_Applicable</choiceReferences>
            <choiceReferences>IN_Dont_Remember</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_3_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question25_0</name>
            <fieldText>How satisfied were you with the ease and timeliness of completing purchase documents. Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied. Would you say you were?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q25_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q26_29</name>
        <label>Survey_Q26-29</label>
        <locationX>410</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplayQ30Condition</targetReference>
        </connector>
        <fields>
            <name>Question26_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied were you with the explanation of all purchase related documents</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q26_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0_0_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question27_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied are you with the explanation of Post sales service schedule/warranty/insurance, etc?  Would you say you were..</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q27_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1_0_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question28_0</name>
            <fieldText>Were you contacted by your dealer/salesperson within 7 days after the handover of your new Mercedes Benz car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q28_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question29_0</name>
            <fieldText>Did you finance/ lease your Mercedes Benz car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q29_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q30</name>
        <label>Survey_Q30</label>
        <locationX>248</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q31</targetReference>
        </connector>
        <fields>
            <name>Question30</name>
            <fieldText>If yes, how satisfied were you with the information on finance/leasing offers? Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied. Were you…</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q30_Radio</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q31</name>
        <label>Survey_Q31</label>
        <locationX>77</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q32_35</targetReference>
        </connector>
        <fields>
            <name>Question31</name>
            <fieldText>Please rate your satisfaction with the dealer keeping promises.  Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied. Were you…</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q31_Radio</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q32_35</name>
        <label>Survey_Q32-35</label>
        <locationX>73</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q36_39</targetReference>
        </connector>
        <fields>
            <name>Question32_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied were you with the sales person, please rate your Sales person/advisor at the dealership on the following parameters:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q32_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0_1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question33_0</name>
            <fieldText>Using a similar scale of 1 to 5, how satisfied were you with the sales person’s knowledge and vehicle demonstration skills,</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q33_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank30_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question34_0</name>
            <fieldText>How would you rate the sales person on courtesy and Friendliness. Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q34_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank30_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question35_0</name>
            <fieldText>How would you rate the sales person’s  appropriateness of Sales pressure. Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q35_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q36_39</name>
        <label>Survey_Q36-39</label>
        <locationX>257</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplayQ40Condition</targetReference>
        </connector>
        <fields>
            <name>Question36_0</name>
            <fieldText>Using a similar scale of 1 to 5How would you rate the sales person’s  appearance and behaviour</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q36_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0_0_1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question37_0</name>
            <fieldText>Using a similar scale of 1 to 5 How would you rate the sales person’s  fulfillment of commitments</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q37_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1_0_1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question38_1</name>
            <fieldText>Did you have any concerns/complaints regarding the sales process?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q38_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2_0_1_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question39_0</name>
            <fieldText>What was the complaint that you raised, was it a</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q39_Radio_0</name>
            <choiceReferences>IN_Q39_Choice1</choiceReferences>
            <choiceReferences>IN_Q39_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q40</name>
        <label>Survey_Q40</label>
        <locationX>614</locationX>
        <locationY>575</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q41</targetReference>
        </connector>
        <fields>
            <name>Question40</name>
            <fieldText>If yes, how satisfied were you with the way your complaints were handled by the dealer? Please answer using scale of 1 to 5, where 1 is Not Satisfied and 5 is Extremely Satisfied.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q40_Radio</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q41</name>
        <label>Survey_Q41</label>
        <locationX>519</locationX>
        <locationY>707</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Question41</name>
            <fieldText>Do you have any other comments or suggestions?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q41_Value</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Q6_10</name>
        <label>Survey_Q6-10</label>
        <locationX>242</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Survey_Q11_15</targetReference>
        </connector>
        <fields>
            <name>Question6_0</name>
            <fieldText>Using a scale of 1 to 5, please tell me how satisfied were you with the welcoming at the Mercedes Benz dealership? Would you say you were….</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question7_0</name>
            <fieldText>Using the same scale, how would you rate, the overall feel of Luxury at Mercedes-Benz showroom.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio_0</name>
            <choiceReferences>IN_Extremely_Satisfied</choiceReferences>
            <choiceReferences>IN_Very_Satisfied</choiceReferences>
            <choiceReferences>IN_Satisfied</choiceReferences>
            <choiceReferences>IN_Less_Satisfied</choiceReferences>
            <choiceReferences>IN_Not_Satisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question8_0</name>
            <fieldText>Were you proactively offered a test drive before making your purchase decision?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question9_0</name>
            <fieldText>Did you take a test drive before making your purchase decision?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q9_Radio_0</name>
            <choiceReferences>IN_Yes</choiceReferences>
            <choiceReferences>IN_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank2_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question10_0</name>
            <fieldText>Kindly select the most appropriate reason from the following for not taking a test drive,</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_Radio_0</name>
            <choiceReferences>IN_Q10_Choice1</choiceReferences>
            <choiceReferences>IN_Q10_Choice2</choiceReferences>
            <choiceReferences>IN_Q10_Choice3</choiceReferences>
            <choiceReferences>IN_Q10_Choice4</choiceReferences>
            <choiceReferences>IN_Q10_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>264</locationX>
        <locationY>1225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouNote</name>
            <fieldText>Thank you very much for your time.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Mercedes_Benz_Sales_Survey</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q11_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q12_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q13_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q14_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q15_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q16_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q17_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q18_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q19_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q20_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q21_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q22_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q23_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q24_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q25_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q26_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q27_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q28_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q29_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q30_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q31_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q32_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q33_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q34_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q35_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q36_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q37_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q38_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q39_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q40_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q41_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question_Responses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
