src/main/metadata/flows/New_Survey-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>N</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Labael_for_No}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Labael_for_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Y</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_for_Yes}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>MarketDescrimination</name>
        <dataType>String</dataType>
        <value>
            <stringValue>KR</stringValue>
        </value>
    </constants>
    <constants>
        <name>Requied</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>True</name>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DesicionforMoreSurveyQuestions</name>
        <label>DesicionforMoreSurveyQuestions</label>
        <locationX>514</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_forQuestions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseOfUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_Questions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_forQuestions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseOfUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ThankYou</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Survey_for_Account</name>
        <label>Start Survey for Account</label>
        <locationX>62</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
    </dynamicChoiceSets>
    <formulas>
        <description>Hide Survey Name</description>
        <name>HideSurveyName</name>
        <dataType>String</dataType>
        <expression>{!$Label.HideSurveyName}</expression>
    </formulas>
    <formulas>
        <description>No</description>
        <name>Labael_for_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <description>OrderNumber</description>
        <name>Label_for_OrderNumber</name>
        <dataType>String</dataType>
        <expression>{!$Label.OrderNumber}</expression>
    </formulas>
    <formulas>
        <description>Survey Name</description>
        <name>Label_for_SurveyName</name>
        <dataType>String</dataType>
        <expression>{!$Label.Survey_Name}</expression>
    </formulas>
    <formulas>
        <description>Yes</description>
        <name>Label_for_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <description>Survey</description>
        <name>LabelforSurvey</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyID}</expression>
    </formulas>
    <formulas>
        <description>Do you want to create more questions?</description>
        <name>NewSurveyMoreQuestions</name>
        <dataType>String</dataType>
        <expression>{!$Label.NewSurveyMoreQuestions}</expression>
    </formulas>
    <formulas>
        <description>Survey Name</description>
        <name>SurveyName</name>
        <dataType>String</dataType>
        <expression>{!$Label.Survey_Name}</expression>
    </formulas>
    <formulas>
        <description>Response</description>
        <name>SurveyQuesResponse</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuesResponse}</expression>
    </formulas>
    <formulas>
        <description># of_Time_Question_was_Responded_to</description>
        <name>SurveyQuesTimeQuestion</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuesTimeQuestion}</expression>
    </formulas>
    <formulas>
        <description>Questions</description>
        <name>SurveyQuestion</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuestions}</expression>
    </formulas>
    <formulas>
        <description>Choices</description>
        <name>SurveyQuestionChoices</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuestionChoices}</expression>
    </formulas>
    <formulas>
        <description>Name</description>
        <name>SurveyQuestionName</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuestionName}</expression>
    </formulas>
    <formulas>
        <description>Required</description>
        <name>SurveyQuestionRequired</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuestionRequired}</expression>
    </formulas>
    <formulas>
        <description>Type</description>
        <name>SurveyQuestionType</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyQuestionType}</expression>
    </formulas>
    <formulas>
        <description>Survey Response</description>
        <name>SurveyResponse</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyResponse}</expression>
    </formulas>
    <formulas>
        <description>Thank You Link</description>
        <name>ThankYouLink</name>
        <dataType>String</dataType>
        <expression>{!$Label.ThankYouLink}</expression>
    </formulas>
    <formulas>
        <description>Thank You</description>
        <name>ThankYouNote</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <description>Thank You Text</description>
        <name>ThankYouText</name>
        <dataType>String</dataType>
        <expression>{!$Label.ThankYouText}</expression>
    </formulas>
    <formulas>
        <description>URL</description>
        <name>URL_Flow</name>
        <dataType>String</dataType>
        <expression>{!$Label.URL}</expression>
    </formulas>
    <label>New Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question</name>
        <label>Create Survey Question</label>
        <locationX>845</locationX>
        <locationY>412</locationY>
        <assignRecordIdToReference>SurveyQuestions</assignRecordIdToReference>
        <connector>
            <targetReference>Survey_Question_Response</targetReference>
        </connector>
        <inputAssignments>
            <field>Choices__c</field>
            <value>
                <elementReference>ChoicesOfSurveyQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescrimination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameOfSurveyQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderNumber__c</field>
            <value>
                <elementReference>Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question__c</field>
            <value>
                <elementReference>QuestionsOfSurveyQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required__c</field>
            <value>
                <elementReference>RequiredOfSurveyQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeOfSurveyQuestion</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Answer1</name>
        <label>Create Survey Question Answer1</label>
        <locationX>576</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>More_Question</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescrimination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveryTakerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>SurveyQuestions</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Record</name>
        <label>Create Survey Record</label>
        <locationX>574</locationX>
        <locationY>63</locationY>
        <assignRecordIdToReference>SurveyID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <inputAssignments>
            <field>Hide_Survey_Name__c</field>
            <value>
                <elementReference>Hide_Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescrimination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submit_Response__c</field>
            <value>
                <elementReference>Submit_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thank_You_Text__c</field>
            <value>
                <elementReference>Thank_You_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>URL__c</field>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>thankYouLink__c</field>
            <value>
                <elementReference>Thank_You_Link</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>845</locationX>
        <locationY>60</locationY>
        <assignRecordIdToReference>SurveryTakerId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescrimination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>317</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Record</targetReference>
        </connector>
        <fields>
            <name>Survey_Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_for_SurveyName}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submit_Response</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyResponse}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URL</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!URL_Flow}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Thank_You_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ThankYouText}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Thank_You_Link</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ThankYouLink}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hide_Survey_Name</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HideSurveyName}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_Survey_Questions</name>
        <label>Create Survey Questions</label>
        <locationX>841</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Question</targetReference>
        </connector>
        <fields>
            <name>NameOfSurveyQuestion</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuestionName}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeOfSurveyQuestion</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuestionType}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_Number</name>
            <dataType>Number</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_for_OrderNumber}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RequiredOfSurveyQuestion</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuestionRequired}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ChoicesOfSurveyQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuestionChoices}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QuestionsOfSurveyQuestion</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuestion}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>More_Question</name>
        <label>More Question</label>
        <locationX>230</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>DesicionforMoreSurveyQuestions</targetReference>
        </connector>
        <fields>
            <name>MoreQuestions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!NewSurveyMoreQuestions}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResponseOfUser</name>
            <choiceReferences>Y</choiceReferences>
            <choiceReferences>N</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Question_Response</name>
        <label>Survey Question Response</label>
        <locationX>847</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Question_Answer1</targetReference>
        </connector>
        <fields>
            <name>Response</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuesResponse}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>of_Time_Question_was_Responded_to</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SurveyQuesTimeQuestion}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>ThankYou</name>
        <label>ThankYou</label>
        <locationX>218</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYousoMuch</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#3300FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ThankYouNote}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Survey_for_Account</startElementReference>
    <textTemplates>
        <name>SurveyRecordName</name>
        <text>Survey Question  - {!SurveyID}</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveryTakerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyQuestions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
