src/main/metadata/flows/Phase2_Sales_process_Survey-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>QuestionsID_1</name>
        <label>QuestionsID</label>
        <locationX>1283</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_0</name>
        <label>QuestionsID</label>
        <locationX>1076</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_0_0</name>
        <label>QuestionsID</label>
        <locationX>905</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q26_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q27_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q28_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_1</name>
        <label>QuestionsID</label>
        <locationX>457</locationX>
        <locationY>953</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_1_1</name>
        <label>QuestionsID</label>
        <locationX>645</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Q3_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_1_4</name>
        <label>QuestionsID</label>
        <locationX>625</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_4_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestionsID_1_1_4_0</name>
        <label>QuestionsID</label>
        <locationX>417</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q9_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q10_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q11_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q13_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q14_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q15_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q16_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q18_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q19_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q20_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q21_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q22_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q23_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q29_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuestResponseAssign_4_4_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_1</name>
        <label>QuestResponseAssign</label>
        <locationX>1285</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_radio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_1_0</name>
        <label>QuestResponseAssign</label>
        <locationX>1078</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q21_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_Resp_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q25_radio_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_1_0_0</name>
        <label>QuestResponseAssign</label>
        <locationX>902</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q21_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q22_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q23_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q24_Resp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outro_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_4</name>
        <label>QuestResponseAssign</label>
        <locationX>459</locationX>
        <locationY>1053</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q4_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q5_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_0_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_4_4</name>
        <label>QuestResponseAssign</label>
        <locationX>622</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q4_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_Radio_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_4_4_0</name>
        <label>QuestResponseAssign</label>
        <locationX>571</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_4_4_0_0</name>
        <label>QuestResponseAssign</label>
        <locationX>743</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q3_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoodBye2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuestResponseAssign_4_4_1</name>
        <label>QuestResponseAssign</label>
        <locationX>565</locationX>
        <locationY>1361</locationY>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q1_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q2_Radio_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Ph1_Q4_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q6_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q7_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q8_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q9_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q10_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q11_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q12_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_13_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q15_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q16_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Q17_Response</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q18_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q19_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q20_Radio_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Responses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>P1_Q25_Radio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outro</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agree</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disagree</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_Satisfied</name>
        <choiceText>Extremely Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_don_t_know_no_answer</name>
        <choiceText>I don’t know / no answer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I don’t know / no answer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_Satisfied</name>
        <choiceText>Less Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_satisfied_at_all</name>
        <choiceText>Not satisfied at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not satisfied at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice4</name>
        <choiceText>Probably not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q10_Choice5</name>
        <choiceText>No, Definitely not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice1</name>
        <choiceText>Extremely Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice2</name>
        <choiceText>Very Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice3</name>
        <choiceText>Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice4</name>
        <choiceText>Less Important</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less Important</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q11_Choice5</name>
        <choiceText>Not important at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not important at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice4</name>
        <choiceText>Probably Not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably Not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q12_Choice5</name>
        <choiceText>No, Definitely not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice1</name>
        <choiceText>{!IN_Ph1_Q1_Choice1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice1</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice2</name>
        <choiceText>{!IN_Ph1_Q1_Choice2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q1_Choice3</name>
        <choiceText>{!IN_Ph1_Q1_Choice3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>IN_Ph1_Q1_Choice3</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice1</name>
        <choiceText>2018</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2016</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice2</name>
        <choiceText>2019</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2017</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice3</name>
        <choiceText>2020 or later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2018 or later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q20_Choice4</name>
        <choiceText>I can’t tell at this time / I don’t know</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I can’t tell at this time / I don’t know</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice1</name>
        <choiceText>Yes, I&apos;m the main user.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, I&apos;m the main user.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Choice2</name>
        <choiceText>No another person is the main user.</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforQ2Choice2</elementReference>
        </value>
    </choices>
    <choices>
        <name>Q3_Choice2</name>
        <choiceText>Do not want to disclose the details of the main user</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Do not want to disclose the details of the main user</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice1</name>
        <choiceText>At the Mercedes-Benz dealership where I bought the vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At the Mercedes-Benz dealership where I bought the vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice2</name>
        <choiceText>At another authorized Mercedes-Benz dealer.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At another authorized Mercedes-Benz dealer.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice3</name>
        <choiceText>At an independent workshop.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>At an independent workshop.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q4_Choice4</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice1</name>
        <choiceText>Yes, Once.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Once.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice2</name>
        <choiceText>Yes, Several times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Several times.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q6_Choice3</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice1</name>
        <choiceText>Yes, Definitely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, Definitely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice2</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice3</name>
        <choiceText>Probably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice4</name>
        <choiceText>Probably Not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probably Not</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q7_Choice5</name>
        <choiceText>No, Definitely Not.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, Definitely Not.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rather_Agree</name>
        <choiceText>Rather Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rather Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rather_Disagree</name>
        <choiceText>Rather Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rather Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Totally_Agree</name>
        <choiceText>Totally Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Totally Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_16_20_months_ago</name>
        <choiceText>Vehicle_acquired_16_20_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase2Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_28_32_months_ago</name>
        <choiceText>Vehicle_acquired_28_32_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase3Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Vehicle_acquired_4_8_months_ago</name>
        <choiceText>Vehicle_acquired_4_8_months_ago</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Phase1Choice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Very_Satisfied</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>MarketDiscriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>P1_Q1Decision</name>
        <label>P1_Q1Decision</label>
        <locationX>206</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>P1_Q1_Choice1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q1_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q1_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q_2</targetReference>
            </connector>
            <label>P1-Q1_Choice1</label>
        </rules>
        <rules>
            <name>P1_Q1_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q1_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IN_Ph1_Q1_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q21</targetReference>
            </connector>
            <label>P1-Q1_Choice2</label>
        </rules>
        <rules>
            <name>P1_Q1_Choice3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q1_Radio_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IN_Ph1_Q1_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Q20</targetReference>
            </connector>
            <label>P1-Q1_Choice3</label>
        </rules>
    </decisions>
    <decisions>
        <name>P1_Q2Decision</name>
        <label>P1_Q2Decision</label>
        <locationX>120</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>P1_Q2_Choice1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_Choice1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ph1_4</targetReference>
            </connector>
            <label>P1_Q2_Choice1</label>
        </rules>
        <rules>
            <name>P1_Q2_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q2_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q_3</targetReference>
            </connector>
            <label>P1_Q2_Choice2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ph1_Decision21</name>
        <label>Ph1_Decision21</label>
        <locationX>1071</locationX>
        <locationY>441</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>P1_Q21_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q21_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q22_23</targetReference>
            </connector>
            <label>P1_Q21_Yes</label>
        </rules>
        <rules>
            <name>P1_Q21_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q21_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question24_0</targetReference>
            </connector>
            <label>P1_Q21_No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ph1_Q4_decision</name>
        <label>Ph1_Q4_decision</label>
        <locationX>119</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>P1Q6_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>P1_Q4_Choice3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q4_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q4_Choice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q_5</targetReference>
            </connector>
            <label>P1_Q4_Choice3</label>
        </rules>
        <rules>
            <name>P1_Q4_Choice4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q4_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q4_Choice4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Q20_1</targetReference>
            </connector>
            <label>P1_Q4_Choice4</label>
        </rules>
        <rules>
            <name>P1_Q4_Choice2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ph1_Q4_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q4_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Q8</targetReference>
            </connector>
            <label>P1_Q4_Choice2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q3_Input</name>
        <label>Q3_Input</label>
        <locationX>646</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>QuestResponseAssign_4_4_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Q3_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_Contact_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QuestResponseAssign_4_4_0</targetReference>
            </connector>
            <label>Q3_Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Q6_Decision</name>
        <label>Q6_Decision</label>
        <locationX>140</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Question16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Q6_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>P1_Q6_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q6_Choice1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P1_Q6_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Q6_Choice2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P1_Q15</targetReference>
            </connector>
            <label>Q6_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SurveyTypeCheck</name>
        <label>SurveyTypeCheck</label>
        <locationX>436</locationX>
        <locationY>1589</locationY>
        <defaultConnector>
            <targetReference>LoopResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OptyType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OptyUpdate</targetReference>
            </connector>
            <label>OptyType</label>
        </rules>
        <rules>
            <name>CamType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignUpdate</targetReference>
            </connector>
            <label>CamType</label>
        </rules>
    </decisions>
    <formulas>
        <name>IN_Ph1_Q1_Choice1</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice1}</expression>
    </formulas>
    <formulas>
        <name>IN_Ph1_Q1_Choice2</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice2}</expression>
    </formulas>
    <formulas>
        <name>IN_Ph1_Q1_Choice3</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_Ph1_Q1_Choice3}</expression>
    </formulas>
    <formulas>
        <name>LabelforQ2Choice1</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Q2_LAbel_Choice1}</expression>
    </formulas>
    <formulas>
        <name>LabelforQ2Choice2</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Q2_LAbel_Choice2}</expression>
    </formulas>
    <formulas>
        <name>Ph1_Q3_Value</name>
        <dataType>String</dataType>
        <expression>{!Q3_Name}+&apos;,&apos;+{!Q3_Email}+&apos;,&apos;+{!Q3_Contact_Number}</expression>
    </formulas>
    <formulas>
        <name>Phase1Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase1}</expression>
    </formulas>
    <formulas>
        <name>Phase2Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase2}</expression>
    </formulas>
    <formulas>
        <name>Phase3Choice</name>
        <dataType>String</dataType>
        <expression>{!$Label.IN_S2_Phase3}</expression>
    </formulas>
    <formulas>
        <name>Q16_Radio</name>
        <dataType>String</dataType>
        <expression>{!Q16a_Resp}+&apos;,&apos;+{!Q16b_Resp}+&apos;,&apos;+{!Q16c_Resp}+&apos;,&apos;+{!Q16d_Resp}+&apos;,&apos;+{!Q16e_Resp}</expression>
    </formulas>
    <formulas>
        <name>Q24_Resp</name>
        <dataType>String</dataType>
        <expression>{!Q24a_Resp}+&apos;,&apos;+{!Q24b_Resp}+&apos;,&apos;+{!Q24c_Resp}+&apos;,&apos;+{!Q24d_Resp}+&apos;,&apos;+{!Q24e_Resp}</expression>
    </formulas>
    <formulas>
        <name>Q24_Resp_0</name>
        <dataType>String</dataType>
        <expression>{!Q24a_Resp_0}+&apos;,&apos;+{!Q24b_Resp_0}+&apos;,&apos;+{!Q24c_Resp_0}+&apos;,&apos;+{!Q24d_Resp_0}+&apos;,&apos;+{!Q24e_Resp_0}</expression>
    </formulas>
    <interviewLabel>Phase2-Sales process Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phase2-Sales process Survey</label>
    <loops>
        <name>LoopQuestionID</name>
        <label>LoopQuestionID</label>
        <locationX>1133</locationX>
        <locationY>1363</locationY>
        <assignNextValueToReference>QuestID</assignNextValueToReference>
        <collectionReference>Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Survey_Question_Response</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopResponse</name>
        <label>LoopResponse</label>
        <locationX>897</locationX>
        <locationY>1583</locationY>
        <assignNextValueToReference>LoopVar</assignNextValueToReference>
        <collectionReference>Question_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopQuestionID</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response</name>
        <label>Create_Survey_Question_Response</label>
        <locationX>1135</locationX>
        <locationY>1585</locationY>
        <connector>
            <targetReference>LoopResponse</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDiscriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>LoopVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>QuestID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>895</locationX>
        <locationY>1359</locationY>
        <assignRecordIdToReference>SurveyTakenID</assignRecordIdToReference>
        <connector>
            <targetReference>SurveyTypeCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDiscriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordUpdates>
        <name>CampaignUpdate</name>
        <label>CampaignUpdate</label>
        <locationX>708</locationX>
        <locationY>1656</locationY>
        <connector>
            <targetReference>LoopResponse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>OptyUpdate</name>
        <label>OptyUpdate</label>
        <locationX>707</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>LoopResponse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyTakenID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OptyID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordUpdates>
    <screens>
        <name>GoodBye1</name>
        <label>GoodBye1</label>
        <locationX>1186</locationX>
        <locationY>960</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>GoodBye_1</name>
            <fieldText>In that case, we unfortunately cannot consider you for this survey. Thank you for your patience.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GoodBye2</name>
        <label>GoodBye2</label>
        <locationX>698</locationX>
        <locationY>741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>GoodBye_2</name>
            <fieldText>In that case, we unfortunately cannot consider you for this survey. We are looking specifically for Mercedes-Benz customers who are the main user of the car. Thank you for your patience. We hope you continue to enjoy driving your Mercedes-Benz.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GoodBye3</name>
        <label>GoodBye3</label>
        <locationX>550</locationX>
        <locationY>1159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>GoodBye_3</name>
            <fieldText>In that case, we unfortunately cannot consider you for this survey.We are looking specifically for mercedes-Benz customer who stay in contact with the Mecedes-Benz dealer. Thank you for your patience. We hope you continue to enjoy driving your Mercedes-Benz.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Outro</name>
        <label>Outro</label>
        <locationX>721</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>OutroMessage</name>
            <fieldText>Thank you very much.

We really appreciate your willingness to take part - particularly as we are aware that Mercedes-Benz customers are often asked to participate in surveys. We hope you continue to enjoy driving your Mercedes-Benz.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Outro_0</name>
        <label>Outro</label>
        <locationX>902</locationX>
        <locationY>976</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>OutroMessage_0</name>
            <fieldText>Thank you very much.

We really appreciate your willingness to take part - particularly as we are aware that Mercedes-Benz customers are often asked to participate in surveys. We hope you continue to enjoy driving your Mercedes-Benz.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>P1_18_20</name>
        <label>P1_18-20/25</label>
        <locationX>280</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_1_4_0</targetReference>
        </connector>
        <fields>
            <name>P1Q18</name>
            <fieldText>What experiences do you have with your Mercedes-Benz dealer? Did they do anything special that made you happy? We are glad to hear any feedback you might have for us.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q18_Value</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q19</name>
            <fieldText>And did anything happen that disappointed you? We are glad to hear any feedback you might have for us.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q19_Value</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_0</name>
            <fieldText>According to your expectations, how long will you drive your {!Class}-Class – in other words, when do you plan to purchase the next car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_Radio_0</name>
            <choiceReferences>Q20_Choice1</choiceReferences>
            <choiceReferences>Q20_Choice2</choiceReferences>
            <choiceReferences>Q20_Choice3</choiceReferences>
            <choiceReferences>Q20_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_20_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_9_13</name>
        <label>P1-9-12/14</label>
        <locationX>138</locationX>
        <locationY>1011</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q6_Decision</targetReference>
        </connector>
        <fields>
            <name>P1Q9</name>
            <fieldText>Please consider your current Mercedes-Benz dealer. That means the Mercedes-Benz dealer who is carrying out your servicing and maintenance work.
How satisfied are you overall with your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q9_Radio</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q10</name>
            <fieldText>Would you recommend your Mercedes-Benz dealer to friends and acquaintances?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q10_Radio</name>
            <choiceReferences>Q10_Choice1</choiceReferences>
            <choiceReferences>Q10_Choice2</choiceReferences>
            <choiceReferences>Q10_Choice3</choiceReferences>
            <choiceReferences>Q10_Choice4</choiceReferences>
            <choiceReferences>Q10_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q11</name>
            <fieldText>How important is it to you to be supported by your current Mercedes-Benz dealer in future and not by another dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q11_Radio</name>
            <choiceReferences>Q11_Choice1</choiceReferences>
            <choiceReferences>Q11_Choice2</choiceReferences>
            <choiceReferences>Q11_Choice3</choiceReferences>
            <choiceReferences>Q11_Choice4</choiceReferences>
            <choiceReferences>Q11_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q12</name>
            <fieldText>Will you buy your next vehicle from your current Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q12_Radio</name>
            <choiceReferences>Q12_Choice1</choiceReferences>
            <choiceReferences>Q12_Choice2</choiceReferences>
            <choiceReferences>Q12_Choice3</choiceReferences>
            <choiceReferences>Q12_Choice4</choiceReferences>
            <choiceReferences>Q12_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Balnk_12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_13</name>
            <fieldText>How satisfied are you with the customer support of your current Mercedes-Benz dealer as a whole?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_13_Radio</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q15</name>
        <label>P1_Q15</label>
        <locationX>313</locationX>
        <locationY>1245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question16</targetReference>
        </connector>
        <fields>
            <name>P1Q15</name>
            <fieldText>You stated that you have already been to your Mercedes-Benz workshop for inspection, maintenance or repair work. How satisfied are you with the service quality at your Mercedes-Benz workshop as a whole?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q15_Radio</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q20</name>
        <label>P1_Q20/25</label>
        <locationX>1281</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1</targetReference>
        </connector>
        <fields>
            <name>P1Q20</name>
            <fieldText>According to your expectations, how long will you drive your {!Class}-Class – in other words, when do you plan to purchase the next car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_Radio</name>
            <choiceReferences>Q20_Choice1</choiceReferences>
            <choiceReferences>Q20_Choice2</choiceReferences>
            <choiceReferences>Q20_Choice3</choiceReferences>
            <choiceReferences>Q20_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_20_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q25</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q25_radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q20_1</name>
        <label>P1_Q20/25</label>
        <locationX>372</locationX>
        <locationY>636</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_1_4</targetReference>
        </connector>
        <fields>
            <name>P1Q20_1</name>
            <fieldText>According to your expectations, how long will you drive your {!Class}-Class – in other words, when do you plan to purchase the next car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_Radio_2</name>
            <choiceReferences>Q20_Choice1</choiceReferences>
            <choiceReferences>Q20_Choice2</choiceReferences>
            <choiceReferences>Q20_Choice3</choiceReferences>
            <choiceReferences>Q20_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_20_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_0</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_Radio_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q25_5</name>
        <label>P1_Q25</label>
        <locationX>1074</locationX>
        <locationY>658</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_0</targetReference>
        </connector>
        <fields>
            <name>Q25_3</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q25_radio_3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q25_5_0</name>
        <label>P1_Q25</label>
        <locationX>900</locationX>
        <locationY>654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_0_0</targetReference>
        </connector>
        <fields>
            <name>Q25_3_0</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_Radio_4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1_Q8</name>
        <label>P1_Q8</label>
        <locationX>123</locationX>
        <locationY>819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1Q6_7</targetReference>
        </connector>
        <fields>
            <name>P1Q8</name>
            <fieldText>Can you please name your current Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q8_Value</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>P1Q6_7</name>
        <label>P1Q6-7</label>
        <locationX>280</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_9_13</targetReference>
        </connector>
        <fields>
            <name>P1_Q6</name>
            <fieldText>Since you bought your {!Class}-Class, have you been to your Mercedes-Benz workshop for inspection, maintenance, repair work, work under warranty or any other type of service work?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q6_Radio</name>
            <choiceReferences>Q6_Choice1</choiceReferences>
            <choiceReferences>Q6_Choice2</choiceReferences>
            <choiceReferences>Q6_Choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_Q7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q7</name>
            <fieldText>How likely would you recommend this authorized Mercedes-Benz repair workshop to a friend or relative for service work in the future?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q7_Radio</name>
            <choiceReferences>Q7_Choice1</choiceReferences>
            <choiceReferences>Q7_Choice2</choiceReferences>
            <choiceReferences>Q7_Choice3</choiceReferences>
            <choiceReferences>Q7_Choice4</choiceReferences>
            <choiceReferences>Q7_Choice5</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Ph1_1</name>
        <label>Ph1_1</label>
        <locationX>746</locationX>
        <locationY>31</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_Q1Decision</targetReference>
        </connector>
        <fields>
            <name>P1Q1_0</name>
            <fieldText>More than a year ago you bought a {!Class}-Class as a new vehicle. Do you still have this vehicle in your household?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ph1_Q1_Radio_0</name>
            <choiceReferences>Q1_Choice1</choiceReferences>
            <choiceReferences>Q1_Choice2</choiceReferences>
            <choiceReferences>Q1_Choice3</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Ph1_4</name>
        <label>Ph1_4</label>
        <locationX>120</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ph1_Q4_decision</targetReference>
        </connector>
        <fields>
            <name>P1Q4</name>
            <fieldText>Where do you currently have servicing and maintenance work carried out on your Mercedes-Benz?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ph1_Q4_Radio</name>
            <choiceReferences>Q4_Choice1</choiceReferences>
            <choiceReferences>Q4_Choice2</choiceReferences>
            <choiceReferences>Q4_Choice3</choiceReferences>
            <choiceReferences>Q4_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDetails</name>
            <dataType>String</dataType>
            <fieldText>Please enter if Other,</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Enter Other in the text box below.</errorMessage>
                <formulaExpression>{!Ph1_Q4_Radio} != &apos;Other&apos; &amp;&amp; {!OtherDetails} != &apos;&apos;</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Q21</name>
        <label>Q21</label>
        <locationX>1070</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ph1_Decision21</targetReference>
        </connector>
        <fields>
            <name>Quest21</name>
            <fieldText>Did you buy a new car, which replaced your {!Class}-Class?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ph1_Q21_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q22_23</name>
        <label>Q22-23</label>
        <locationX>901</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question24</targetReference>
        </connector>
        <fields>
            <name>P1Q22_0</name>
            <fieldText>Which brand is your new car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q22_Value</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_22_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q23_0_0</name>
            <fieldText>Before you decided to buy a new car: Did your Mercedes-Benz dealer contact you pro-actively, E.g. to ask you if everything is fine, to offer you a test drive or an appointment for consultation?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q23_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q_2</name>
        <label>Q_2</label>
        <locationX>119</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_Q2Decision</targetReference>
        </connector>
        <fields>
            <name>P1Q2_1</name>
            <fieldText>Are you the main user of the {!Class}-Class?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio_1</name>
            <choiceReferences>Q2_Choice1</choiceReferences>
            <choiceReferences>Q2_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q_3</name>
        <label>Q_3/20/25</label>
        <locationX>368</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_1_1</targetReference>
        </connector>
        <fields>
            <name>Blank_1_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3</name>
            <fieldText>Could you please provide me the details of the main user of the {!Class}-Class?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q3_Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q3_Contact_Number</name>
            <dataType>String</dataType>
            <fieldText>Contact Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Q3_Choice2</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_20_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q20_0</name>
            <fieldText>According to your expectations, how long will you drive your {!Class}-Class – in other words, when do you plan to purchase the next car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_Radio_1</name>
            <choiceReferences>Q20_Choice1</choiceReferences>
            <choiceReferences>Q20_Choice2</choiceReferences>
            <choiceReferences>Q20_Choice3</choiceReferences>
            <choiceReferences>Q20_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_20_0_1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_2</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_Radio_3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q_5</name>
        <label>Q_5/20/25</label>
        <locationX>455</locationX>
        <locationY>853</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuestionsID_1_1</targetReference>
        </connector>
        <fields>
            <name>Q5</name>
            <fieldText>Could you please tell us why didn’t you visit the Mercedes-Benz dealership?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Value</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_0_1</name>
            <fieldText>According to your expectations, how long will you drive your {!Class}-Class – in other words, when do you plan to purchase the next car?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q20_0_Radio_1</name>
            <choiceReferences>Q20_Choice1</choiceReferences>
            <choiceReferences>Q20_Choice2</choiceReferences>
            <choiceReferences>Q20_Choice3</choiceReferences>
            <choiceReferences>Q20_Choice4</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank20_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1Q25</name>
            <fieldText>We would like to improve the customer service for our Mercedes-Benz customers. May we transmit your answers and comments to your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>P1_Q25_Radio_2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Question16</name>
        <label>Question16/17</label>
        <locationX>142</locationX>
        <locationY>1361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_18_20</targetReference>
        </connector>
        <fields>
            <name>Q16_main</name>
            <fieldText>How do you rate the following statements regarding your Mercedes-Benz dealer?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16a</name>
            <fieldText>1.I feel appreciated as a customer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16a_Resp</name>
            <choiceReferences>Totally_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Rather_Agree</choiceReferences>
            <choiceReferences>Rather_Disagree</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16b</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16b</name>
            <fieldText>2.The staff satisfies my wishes and requirements in an exceptional way</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16b_Resp</name>
            <choiceReferences>Totally_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Rather_Agree</choiceReferences>
            <choiceReferences>Rather_Disagree</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16c</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16c</name>
            <fieldText>3.I am treated cooperatively and fairly</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16c_Resp</name>
            <choiceReferences>Totally_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Rather_Agree</choiceReferences>
            <choiceReferences>Rather_Disagree</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16d</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16d</name>
            <fieldText>4.The personal approach creates an atmosphere of trust</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16d_Resp</name>
            <choiceReferences>Totally_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Rather_Agree</choiceReferences>
            <choiceReferences>Rather_Disagree</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16a</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16e</name>
            <fieldText>5.My Mercedes-Benz dealer is interested in staying in touch with me</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16e_Resp</name>
            <choiceReferences>Totally_Agree</choiceReferences>
            <choiceReferences>Agree</choiceReferences>
            <choiceReferences>Rather_Agree</choiceReferences>
            <choiceReferences>Rather_Disagree</choiceReferences>
            <choiceReferences>Disagree</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Blank_17</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q17</name>
            <fieldText>Did your Mercedes-Benz dealer contact you pro-actively, E.g. for asking you if everything is fine, for offering you a test drive or an appointment for consultation?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q17_Response</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Question24</name>
        <label>Question24</label>
        <locationX>899</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_Q25_5_0</targetReference>
        </connector>
        <fields>
            <name>Q16_main_0</name>
            <fieldText>How satisfied were you with your Mercedes-Benz dealer concerning the following criteria during the decision-making and buying process?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16a_0</name>
            <fieldText>1.Decision making / buying process as a whole</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24a_Resp</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16b_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24b</name>
            <fieldText>2.Consultation before the purchase (e.g. information about the vehicle, vehicle features, financing/leasing offers)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24b_Resp</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16c_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24c</name>
            <fieldText>3.Test drive offer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24c_Resp</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16d_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24d</name>
            <fieldText>4.Sales person</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24d_Resp</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16a_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24e</name>
            <fieldText>5.Trade-in offer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24e_Resp</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Question24_0</name>
        <label>Question24</label>
        <locationX>1072</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>P1_Q25_5</targetReference>
        </connector>
        <fields>
            <name>Q16_main_0_0</name>
            <fieldText>How satisfied were you with your Mercedes-Benz dealer concerning the following criteria during the decision-making and buying process?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q16a_0_0</name>
            <fieldText>1.Decision making / buying process as a whole</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24a_Resp_0</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16b_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24b_0</name>
            <fieldText>2.Consultation before the purchase (e.g. information about the vehicle, vehicle features, financing/leasing offers)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24b_Resp_0</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16c_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24c_0</name>
            <fieldText>3.Test drive offer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24c_Resp_0</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16d_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24d_0</name>
            <fieldText>4.Sales person</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24d_Resp_0</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>b16a_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24e_0</name>
            <fieldText>5.Trade-in offer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q24e_Resp_0</name>
            <choiceReferences>Extremely_Satisfied</choiceReferences>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Less_Satisfied</choiceReferences>
            <choiceReferences>Not_satisfied_at_all</choiceReferences>
            <choiceReferences>I_don_t_know_no_answer</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Ph1_1</startElementReference>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Class</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q10_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q11_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q12_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q13_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q14_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q15_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q16_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q17_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q18_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q19_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_Radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q20_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q21_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q22_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q23_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q24_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q25_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q26_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q27_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q28_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q29_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_Radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q9_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question_Responses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestClass</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
