src/main/metadata/flows/Platinum_Customer_Data_Updates-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Op_No</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_No}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Op_Yes</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_Yes}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_Yes</elementReference>
        </value>
    </choices>
    <constants>
        <name>MD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TR</stringValue>
        </value>
    </constants>
    <constants>
        <name>Platinum</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Platinum</stringValue>
        </value>
    </constants>
    <constants>
        <name>PlatinumSurvey</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Platinum Data Updates</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Platinum_Account</name>
        <label>Platinum Account</label>
        <locationX>729</locationX>
        <locationY>78</locationY>
        <defaultConnector>
            <targetReference>Create_Survey_Taken_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CarOwnerClub</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Platinum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurveyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PlatinumSurvey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q4</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Platinum_Account_0</name>
        <label>Platinum Account</label>
        <locationX>391</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Survey_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CarOwnerClub</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Platinum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SurveyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PlatinumSurvey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_4</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_give_Address</name>
        <label>Ready to give Address</label>
        <locationX>563</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3_Address</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Platinum_Account</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ready_to_give_Email</name>
        <label>Ready to give Email</label>
        <locationX>373</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2_Email</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q2_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Op_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q3</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Data_Updates_Survey</name>
        <label>Start Data  Updates Survey</label>
        <locationX>47</locationX>
        <locationY>77</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Account_Record</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Comments</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey_Comments}</expression>
    </formulas>
    <formulas>
        <name>Label_Completed</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_No</name>
        <dataType>String</dataType>
        <expression>{!$Label.No}</expression>
    </formulas>
    <formulas>
        <name>Label_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_6_Q1}</expression>
    </formulas>
    <formulas>
        <name>Label_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_6_Q2}</expression>
    </formulas>
    <formulas>
        <name>Label_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_6_Q3}</expression>
    </formulas>
    <formulas>
        <name>Label_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_Q4}</expression>
    </formulas>
    <formulas>
        <name>Label_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_Q5}</expression>
    </formulas>
    <formulas>
        <name>Label_Yes</name>
        <dataType>String</dataType>
        <expression>{!$Label.Yes}</expression>
    </formulas>
    <formulas>
        <name>Provide_Address</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_6_Provide_Address}</expression>
    </formulas>
    <formulas>
        <name>Provide_Email</name>
        <dataType>String</dataType>
        <expression>{!$Label.TR_Survey5_6_Provide_Email}</expression>
    </formulas>
    <label>Platinum/Customer Data Updates</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Taken_Record</name>
        <label>Create Survey Taken Record</label>
        <locationX>891</locationX>
        <locationY>306</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Response_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_1</name>
        <label>Response 1</label>
        <locationX>893</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Response_2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_2</name>
        <label>Response 2</label>
        <locationX>722</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Response_3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_3</name>
        <label>Response 3</label>
        <locationX>559</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Platinum_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_res</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_4</name>
        <label>Response 4</label>
        <locationX>216</locationX>
        <locationY>423</locationY>
        <connector>
            <targetReference>Response_5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Response_5</name>
        <label>Response 5</label>
        <locationX>64</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Survey_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account_Record</name>
        <label>Fetch Account Record</label>
        <locationX>210</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CarOwnerClub</assignToReference>
            <field>Car_Owner_Club__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>211</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Ques1</name>
            <fieldText>{!Label_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q1_Com</name>
            <fieldText>{!Comments}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>372</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Ready_to_give_Email</targetReference>
        </connector>
        <fields>
            <name>Ques2</name>
            <fieldText>{!Label_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2_Email</name>
        <label>Q2 Email</label>
        <locationX>376</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <fieldText>{!Provide_Email}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>561</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Ready_to_give_Address</targetReference>
        </connector>
        <fields>
            <name>Ques3</name>
            <fieldText>{!Label_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3_Address</name>
        <label>Q3 Address</label>
        <locationX>566</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Platinum_Account</targetReference>
        </connector>
        <fields>
            <name>Address</name>
            <fieldText>{!Provide_Address}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>891</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <fields>
            <name>Ques4</name>
            <fieldText>{!Label_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Op_Yes</choiceReferences>
            <choiceReferences>Op_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>892</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken_Record</targetReference>
        </connector>
        <fields>
            <name>Ques5</name>
            <fieldText>{!Label_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_text</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey_Completed</name>
        <label>Survey Completed</label>
        <locationX>393</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#3333FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Label_Completed}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Data_Updates_Survey</startElementReference>
    <textTemplates>
        <name>Q1_res</name>
        <text>{!Q1_Radio} {!Q1_text}</text>
    </textTemplates>
    <textTemplates>
        <name>Q2_res</name>
        <text>{!Q2_Radio} {!Email}</text>
    </textTemplates>
    <textTemplates>
        <name>Q3_res</name>
        <text>{!Q3_Radio} {!Address}</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CarOwnerClub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
