src/main/metadata/flows/Survey_after_Customer_receive_Star_Assist_Service-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>eight</name>
        <choiceText>{!Label_for_eight}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_eight</elementReference>
        </value>
    </choices>
    <choices>
        <name>five</name>
        <choiceText>{!Label_for_five}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_five</elementReference>
        </value>
    </choices>
    <choices>
        <name>four</name>
        <choiceText>{!Label_for_four}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_four</elementReference>
        </value>
    </choices>
    <choices>
        <name>nine</name>
        <choiceText>{!Label_for_nine}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_nine</elementReference>
        </value>
    </choices>
    <choices>
        <name>one</name>
        <choiceText>{!Label_for_one}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_one</elementReference>
        </value>
    </choices>
    <choices>
        <name>select</name>
        <choiceText>{!Label_for_select}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_select</elementReference>
        </value>
    </choices>
    <choices>
        <name>seven</name>
        <choiceText>{!Label_for_seven}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_seven</elementReference>
        </value>
    </choices>
    <choices>
        <name>six</name>
        <choiceText>{!Label_for_six}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_six</elementReference>
        </value>
    </choices>
    <choices>
        <name>ten</name>
        <choiceText>{!Label_for_ten}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_ten</elementReference>
        </value>
    </choices>
    <choices>
        <name>three</name>
        <choiceText>{!Label_for_three}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_three</elementReference>
        </value>
    </choices>
    <choices>
        <name>two</name>
        <choiceText>{!Label_for_two}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Label_for_two</elementReference>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Start_Survey_after_Customer_receive_Star_Assist_Service</name>
        <label>Start Survey after Customer receive Star Assist Service</label>
        <locationX>34</locationX>
        <locationY>72</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>Label_for_eight</name>
        <dataType>String</dataType>
        <expression>{!$Label.Eight}</expression>
    </formulas>
    <formulas>
        <name>Label_for_five</name>
        <dataType>String</dataType>
        <expression>{!$Label.Five}</expression>
    </formulas>
    <formulas>
        <name>Label_for_four</name>
        <dataType>String</dataType>
        <expression>{!$Label.Four}</expression>
    </formulas>
    <formulas>
        <name>Label_for_nine</name>
        <dataType>String</dataType>
        <expression>{!$Label.Nine}</expression>
    </formulas>
    <formulas>
        <name>Label_for_one</name>
        <dataType>String</dataType>
        <expression>{!$Label.One}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q1_Please_rate_your_satisfaction_toward_call_agent}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Will_you_recommend_improvement_area_for_Star_Assist_service}</expression>
    </formulas>
    <formulas>
        <name>Label_for_select</name>
        <dataType>String</dataType>
        <expression>{!$Label.Select_dropdown}</expression>
    </formulas>
    <formulas>
        <name>Label_for_seven</name>
        <dataType>String</dataType>
        <expression>{!$Label.Seven}</expression>
    </formulas>
    <formulas>
        <name>Label_for_six</name>
        <dataType>String</dataType>
        <expression>{!$Label.Six}</expression>
    </formulas>
    <formulas>
        <name>Label_for_SurveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <formulas>
        <name>Label_for_ten</name>
        <dataType>String</dataType>
        <expression>{!$Label.Ten}</expression>
    </formulas>
    <formulas>
        <name>Label_for_three</name>
        <dataType>String</dataType>
        <expression>{!$Label.Three}</expression>
    </formulas>
    <formulas>
        <name>Label_for_two</name>
        <dataType>String</dataType>
        <expression>{!$Label.Two}</expression>
    </formulas>
    <label>Survey after Customer receive Star Assist Service</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create_Survey_Question_Response1</label>
        <locationX>690</locationX>
        <locationY>79</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response2</targetReference>
        </connector>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response2</name>
        <label>Create_Survey_Question_Response2</label>
        <locationX>846</locationX>
        <locationY>80</locationY>
        <assignRecordIdToReference>ResponseID</assignRecordIdToReference>
        <connector>
            <targetReference>Thankyou</targetReference>
        </connector>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>542</locationX>
        <locationY>78</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>224</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!Label_For_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>select</choiceReferences>
            <choiceReferences>one</choiceReferences>
            <choiceReferences>two</choiceReferences>
            <choiceReferences>three</choiceReferences>
            <choiceReferences>four</choiceReferences>
            <choiceReferences>five</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>388</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>select</choiceReferences>
            <choiceReferences>one</choiceReferences>
            <choiceReferences>two</choiceReferences>
            <choiceReferences>three</choiceReferences>
            <choiceReferences>four</choiceReferences>
            <choiceReferences>five</choiceReferences>
            <choiceReferences>six</choiceReferences>
            <choiceReferences>seven</choiceReferences>
            <choiceReferences>eight</choiceReferences>
            <choiceReferences>nine</choiceReferences>
            <choiceReferences>ten</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>996</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>SurveyCompleted</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#3399FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Label_for_SurveyCompleted}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Survey_after_Customer_receive_Star_Assist_Service</startElementReference>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
