src/main/metadata/flows/Survey_Star_Assist-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabeforAverage</elementReference>
        </value>
    </choices>
    <choices>
        <name>Beyond_Expectation</name>
        <choiceText>Beyond Expectation</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforBeyondexpectation</elementReference>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforGood</elementReference>
        </value>
    </choices>
    <choices>
        <name>Some_what_disappointed</name>
        <choiceText>Some what disappointed</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforSomewhatdisappointed</elementReference>
        </value>
    </choices>
    <choices>
        <name>Very_Disapponted</name>
        <choiceText>Very Disapponted</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>LabelforVerydisappointed</elementReference>
        </value>
    </choices>
    <constants>
        <name>MarketDescriminator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TH</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Start_Star_Assist_Survey</name>
        <label>Start Star Assist Survey</label>
        <locationX>28</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Start_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q1</targetReference>
            </connector>
            <label>Start Survey</label>
        </rules>
    </decisions>
    <formulas>
        <name>LabeforAverage</name>
        <dataType>String</dataType>
        <expression>{!$Label.Average}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q1_Overall_satisfaction}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q2_Politeness_of_staff_Receiving}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q3</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q3_Towing_staff_uniform_appearance}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q4</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q4_Appropriated_tool_Towed_truck}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q5</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q5_Proactive_Offering}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q6</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q6_Coordination}</expression>
    </formulas>
    <formulas>
        <name>Label_For_Q7</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q7_Waiting_time}</expression>
    </formulas>
    <formulas>
        <name>Label_for_Q8</name>
        <dataType>String</dataType>
        <expression>{!$Label.Q9_Your_suggestion_Open_ended_question}</expression>
    </formulas>
    <formulas>
        <name>LabelforBeyondexpectation</name>
        <dataType>String</dataType>
        <expression>{!$Label.Beyond_expectation}</expression>
    </formulas>
    <formulas>
        <name>LabelforGood</name>
        <dataType>String</dataType>
        <expression>{!$Label.Good}</expression>
    </formulas>
    <formulas>
        <name>LabelforSomewhatdisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Somewhat_disappointed}</expression>
    </formulas>
    <formulas>
        <name>LabelforVerydisappointed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Very_disappointed}</expression>
    </formulas>
    <formulas>
        <name>surveyCompleted</name>
        <dataType>String</dataType>
        <expression>{!$Label.SurveyCompleted}</expression>
    </formulas>
    <label>Survey Star Assist</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey_Question_Response1</name>
        <label>Create_Survey_Question_Response1</label>
        <locationX>761</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response2</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q1_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response2</name>
        <label>Create_Survey_Question_Response2</label>
        <locationX>622</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response3</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q2_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q2_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response3</name>
        <label>Create_Survey_Question_Response3</label>
        <locationX>480</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response4</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q3_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q3_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response4</name>
        <label>Create_Survey_Question_Response4</label>
        <locationX>341</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response5</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q4_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q4_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response5</name>
        <label>Create_Survey_Question_Response5</label>
        <locationX>197</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response6</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q5_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q5_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response6</name>
        <label>Create_Survey_Question_Response6</label>
        <locationX>48</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response7</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q6_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q6_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response7</name>
        <label>Create_Survey_Question_Response7</label>
        <locationX>48</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Create_Survey_Question_Response8</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q7_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q7_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Question_Response8</name>
        <label>Create_Survey_Question_Response7</label>
        <locationX>199</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Thankyou</targetReference>
        </connector>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Q8_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyTaker__c</field>
            <value>
                <elementReference>SurveyTakenId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Question__c</field>
            <value>
                <elementReference>Q8_ID</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyQuestionResponse__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Taken</name>
        <label>Create Survey Taken</label>
        <locationX>900</locationX>
        <locationY>132</locationY>
        <assignRecordIdToReference>SurveyTakenId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Survey_Question_Response1</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MD__c</field>
            <value>
                <elementReference>MarketDescriminator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Taking_Status__c</field>
            <value>
                <stringValue>Finish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>SurveyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyTaker__c</object>
    </recordCreates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>177</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>Q1_Description</name>
            <fieldText>{!Label_For_Q1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>324</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>Q2_Description</name>
            <fieldText>{!Label_For_Q2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>471</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>Q3_Description</name>
            <fieldText>{!Label_For_Q3}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>611</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q5</targetReference>
        </connector>
        <fields>
            <name>Q4_Description</name>
            <fieldText>{!Label_For_Q4}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q5</name>
        <label>Q5</label>
        <locationX>760</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q6</targetReference>
        </connector>
        <fields>
            <name>Q5_Description</name>
            <fieldText>{!Label_For_Q5}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q6</name>
        <label>Q6</label>
        <locationX>897</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q7</targetReference>
        </connector>
        <fields>
            <name>Q6_Description</name>
            <fieldText>{!Label_For_Q6}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q7</name>
        <label>Q7</label>
        <locationX>1041</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Q8</targetReference>
        </connector>
        <fields>
            <name>Q7_Description</name>
            <fieldText>{!Label_For_Q7}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7_Radio</name>
            <choiceReferences>Beyond_Expectation</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Some_what_disappointed</choiceReferences>
            <choiceReferences>Very_Disapponted</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Q8</name>
        <label>Q8</label>
        <locationX>1039</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Survey_Taken</targetReference>
        </connector>
        <fields>
            <name>Q8_Description</name>
            <fieldText>{!Label_for_Q8}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q8_Radio</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thankyou</name>
        <label>Thankyou</label>
        <locationX>356</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>surveyComplete</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#3366FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!surveyCompleted}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Start_Star_Assist_Survey</startElementReference>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q5_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q6_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q7_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q8_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
